<template>
  <page>
    <!-- <action-bar>
      <grid-layout width="100%" columns="auto, *, auto">
        <label class="toolbar-title" text="Prescription" col="0"/>
        <button class="fas" fontSize="18" col="3" color="#767777" width="50" backgroundColor="transparent">&#xf02f;</button>
      </grid-layout>
    </action-bar> -->
    <stack-layout padding="5" width="100%" height="100%">
      
      <grid-layout columns="auto, *, auto">
        <label class="fas" fontWeight="bold" fontSize="40" marginBottom="5" col="0">&#xf5b1;</label>
        <stack-layout col="2">
          <label text="Jan 29 2019" fontWeight="bold" />
          <label text="01:55 PM" />
        </stack-layout>
      </grid-layout>

      <stack-layout orientation="vertical">
        <stack-layout v-for="(med, key) in record.items" :key="key" marginBottom="10">
          <label fontSize="10">{{med.genericName}} {{med.formulation}} {{med.dispense}}</label>
          <label fontSize="10" v-if="med.brandName">{{med.brandName}}</label>
          <label fontWeight="bold" fontSize="10">Sig: </label>
          <label fontSize="10">{{med.dosageSig}} {{med.frequency}}</label>
          <label fontWeight="bold" fontSize="10">Notes: </label>
          <label fontSize="10">{{med.note}}</label>
        </stack-layout>
      </stack-layout>

      <grid-layout columns="*, auto">
        <stack-layout col="1">
          <label text="Jean Rivera, MD" />
          <label text="Signed with Digital Signature" />
          <label text="License No. 123456"></label>
          <label text="PTR No. 123456"></label>
        </stack-layout>
      </grid-layout>
    </stack-layout>
  </page>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-prescription', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>