<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="'Create Patient'" col="1"/>
      </grid-layout>
      <action-item @tap="submit">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <scroll-view orientation="vertical">
      <mc-patient-details
        :patient="patient"
        :editable="!loading">
      </mc-patient-details>
    </scroll-view>
  </page>
</template>

<script>
  import { mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  import mcPatientDetails from '~/components/commons/mc-patient-details';
  import _ from 'lodash';
  let $dialogLoader = new LoadingIndicator();

  export default {
    components: {
      mcPatientDetails
    },
    async created () {
      this.clinic = await this.getSelectedClinic();
    },
    data() {
      return {
        loading: false,
        clinic: {name: ''},
        patient: {
          firstName: '',
          middleName: '',
          lastName: '',
          sex: 'male',
          dateOfBirth: new Date(),
          mobileNo: '',
          street1: '',
          street2: '',
          city: '',
          province: '',
          country: '',
          tags: [],
          insuranceCards: [],
          additionalNote: ''
        }
      }
    },
    watch: {
      patient: {
        handler (val) {
          console.log('patient/create#watch#patient', val);
        },
        deep: true
      }
    },
    methods: {
      ...mapActions({
        getSelectedClinic: 'clinic/getSelectedClinic',
        createPatient: 'patient/createPatient',
        getPatients: 'patient/getPatients',
        createMedicalRecord: 'medRecord/createMedicalRecord'
      }),
      async chooseSex () {
        const result = await action('Sex', 'Cancel', ['Male', 'Female']);
        if(result === 'Cancel') return;
        this.sex = result.toLowerCase();
      },
      async submit () {
        try {
          this.loading = true;

          const requiredKeys = [
            'firstName',
            'lastName',
            'sex',
            'dateOfBirth',
            'mobileNo'
          ];
          if(_.some(requiredKeys, key => !this.patient[key])) {
            this.$showAlert('Invalid input!', 'Please complete all required information.');
            this.loading = false;
            return;
          }

          const extract = (data, keys) => _.pickBy(_.pick(data, keys));
          const personalDetails = {
            ...extract(this.patient, [
              'sex',
              'dateOfBirth',
              'mobileNo',
              'tags',
              'insuranceCards'
            ]),
            name: {
              ...extract(this.patient, [
                'firstName',
                'middleName',
                'lastName'
              ])
            },
            address: {
              ...extract(this.patient, [
                'street1',
                'street2',
                'city',
                'province',
                'country'
              ])
            }
          };
          console.log(personalDetails)

          const createdPx = await this.createPatient({
            facility: this.clinic.id,
            personalDetails
          });

          if (this.patient.additionalNote) {
            console.log('patient/create#submit#additionalNote', this.patient.additionalNote)
            await this.createMedicalRecord({
              type: 'medical-note',
              facility: this.clinic.id,
              patient: createdPx.id,
              data: {text: this.patient.additionalNote}
            });
          }
          await this.getPatients(this.clinic.id);

          this.clearPatient();

          this.loading = false;
          this.$showToast('Patient successfully created!');
        } catch (e) {
          this.loading = false;
          console.error(e);
          alert({
            title: 'Error!',
            message: e.message,
            okButtonText: 'Ok'
          });
        }
      },
      clearPatient () {
        for (let key of Object.keys(this.patient)) {
          if (key === 'dateOfBirth') this.patient[key] = new Date();
          else this.patient[key] = '';
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }
</style>
