<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">GYNECOLOGICAL HISTORY</label>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Previous Cervic Smears Result</label>
      <label fontSize="11" textWrap="true">{{record.prevCervicSmearsResult}}</label>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Previous Cervic Smears Date</label>
      <label fontSize="11" textWrap="true">{{$formatDate(record.prevCervicSmearsDate, 'MMMM DD, YYYY')}}</label>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Previous Problems/Treatments</label>
        <label fontSize="11" textWrap="true">{{record.prevProblemsTreatments}}</label>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Current Contraception</label>
        <label fontSize="11" textWrap="true">{{record.currentContraception}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Notes</label>
      <label fontSize="11">{{record.notes}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-gynecological-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>