<template>
  <stack-layout>
    <stack-layout row="1">
      <!-- ENCOUNTER -->
      <stack-layout v-if="showEncounter">
        <!-- BAR -->
        <stack-layout backgroundColor="white">
          <segmented-bar
            selectedBackgroundColor="#0099cc"
            @selectedIndexChange="segmentedBarChanged">
            <segmented-bar-item title="Enc"></segmented-bar-item>
            <segmented-bar-item title="Plan"></segmented-bar-item>
            <!-- <segmented-bar-item title="Attach"></segmented-bar-item> -->
            <segmented-bar-item
              title="End"
              v-if="selectedClinic.type === 'personal-clinic'">
            </segmented-bar-item>
          </segmented-bar>
        </stack-layout>

        <stack-layout>
          <!-- ENCOUNTER -->
          <enc v-if="selectedSegmented === 0"></enc>

          <!-- PLAN -->
          <plan v-if="selectedSegmented === 1"></plan>

          <!-- END -->
          <end
            v-if="selectedSegmented === 2"
            @end="showEncounter = false">
          </end>
        </stack-layout>
      </stack-layout>

      <!-- PLACEHOLDER -->
      <stack-layout v-else class="container">
        <flex-box-layout alignItems="center" justifyContent="center" height="50">
          <label fontSize="18">No Current Encounter</label>
        </flex-box-layout>
        <flex-box-layout alignItems="center" justifyContent="center" height="50">
          <label textWrap>Do charting, create prescription, and add attachments here.</label>
        </flex-box-layout>
        <button
          v-if="selectedClinic.type === 'personal-clinic'"
          class="primary small"
          text="Start a new encounter"
          @tap="startEncounter">
        </button>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  import enc from '~/components/current-encounter/enc';
  import plan from '~/components/current-encounter/plan';
  import end from '~/components/current-encounter/end';
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  let $dialogLoader = new LoadingIndicator();

  export default {
    components: {
      enc,
      plan,
      end
    },
    async created () {
      await this.init();
    },
    data() {
      return {
        loading: false,
        selectedSegmented: 0,
        showEncounter: false
      }
    },
    computed: {
      ...mapGetters({
        selectedClinic: 'clinic/selectedClinic',
        selectedPatient: 'patient/selectedPatient',
        currentEncounter: 'encounter/currentEncounter',
        medicalHistoryTypes: 'medRecord/medicalHistoryTypes'
      })
    },
    methods: {
      ...mapActions({
        createEncounter: 'encounter/createEncounter',
        getCurrentEncounter: 'encounter/getCurrentEncounter',
        getCurrentEncounterHPIAndChiefComplaint: 'medRecord/getCurrentEncounterHPIAndChiefComplaint',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories',
        getCurrentEncounterSpecialtyFeatures: 'medRecord/getCurrentEncounterSpecialtyFeatures',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords',
      }),
      async init () {
        try {
          this.loading = true;
          this.showEncounter = false;

          await this.getCurrentEncounter(this.selectedPatient.id);

          if(this.currentEncounter) {
            await this.getCurrentEncounterHPIAndChiefComplaint({encounter: this.currentEncounter.id});
            await this.getCurrentEncounterMedicalHistories({encounter: this.currentEncounter.id});
            await this.getCurrentEncounterSpecialtyFeatures({encounter: this.currentEncounter.id});
            await this.getCurrentEncounterMedRecords({encounter: this.currentEncounter.id});
          }

          this.loading = false;
        } catch (e) {
          console.log('#current entounter - error', e);
          this.loading = false;
        }
      },
      async startEncounter () {
        try {
          const data = {
            patient: this.selectedPatient.id,
            facility: this.selectedClinic.id
          }

          if(await this.$showConfirm('Do you want to start a new encounter?')) {
            this.loading = true;
            await this.createEncounter(data);
          }

          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert('Something went wrong!', e.message);
          console.log('#error/startEcounter', e.message)
        }
      },
      segmentedBarChanged ({ value:index }) {
        this.selectedSegmented = index;
      },
      async createMedicalRecord() {
        const options = [
          'Medical History',
          'Review of Systems',
          'Vitals',
          'Specialty Features',
          'Physical Exam',
          'Impression',
          'Diagnosis'
        ];

        const result = await action('Create Medical Record', 'Close', options);

        if(result === 'Close') {
          return;
        } else if(result === 'Medical History') {
          this.createMedicalHistory();
        } else if(result === 'Review of Systems') {
          this.$nami.navigate('create-ros');
        } else if(result === 'Vitals') {
          this.$nami.navigate('create-vitals');
        } else if(result === 'Specialty Features') {
          this.selectSpecialtyFeat();
        } else if(result === 'Physical Exam') {
          this.$nami.navigate('create-pe');
        } else if(result === 'Impression') {
          this.$nami.navigate('create-impression');
        } else if(result === 'Diagnosis') {
          this.$nami.navigate('create-diagnosis');
        }
      },
      async createPlanRecord () {
        const options = [
          'Care Plan Notes',
          'Prescription',
          'Diagnostic',
          'Procedure',
        ];

        const result = await action('Create Medical Record', 'Close', options);

        if(result === 'Close') {
          return;
        } else if(result === 'Care Plan Notes') {
          this.$nami.navigate('create-care-plan-notes');
        } else if(result === 'Prescription') {
          this.$nami.navigate('create-prescription');
        } else if(result === 'Diagnostic') {
          this.$nami.navigate('create-diagnostic-order');
        } else if(result === 'Procedure') {
          this.$nami.navigate('create-procedure');
        }
      },
      async createMedicalHistory () {
        const options = this.medicalHistoryTypes;

        const result = await action('Create Medical History', 'Close', options);

        if(result === 'Close') {
          return;
        } else if(result === 'Past Medical History') {
          this.$nami.navigate('create-past-medical-history');
        } else if(result === 'Family History') {
          this.$nami.navigate('create-family-history');
        } else if(result === 'Social History') {
          this.$nami.navigate('create-social-history');
        } else if(result === 'Allergies') {
          this.$nami.navigate('create-allergy');
        } else if(result === 'Birth History') {
          this.$nami.navigate('create-birth-history');
        } else if(result === 'Gynecologic History') {
          this.$nami.navigate('create-gynecological-history');
        } else if(result === 'Hospitalization History') {
          this.$nami.navigate('create-hospitalization-history');
        } else if(result === 'Immunizations/Vaccinations') {
          this.$nami.navigate('create-vaccination-history');
        } else if(result === 'Menstrual History') {
          this.$nami.navigate('create-menstrual-history');
        } else if(result === 'Obstetric History') {
          this.$nami.navigate('create-obstetric-history');
        } else if(result === 'Surgical History') {
          this.$nami.navigate('create-surgical-history')
        }
      },
      async selectSpecialtyFeat () {
        const options = [
          'ENT',
          'OB-GYN',
        ];

        const result = await action('Specialty Features', 'Close', options);

        if(result === 'Close') {
          return;
        } else if(result === 'ENT') {
          this.$nami.navigate('create-ent-note');
        } else if(result === 'OB-GYN') {
          this.$nami.navigate('create-ob-note');
        }
      }
    },
    watch: {
      loading(val) {
        if(val)
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else
          $dialogLoader.hide();
      },
      selectedSegmented(val) {
        this.$emit('segmentedBarChanged', val);
      },
      currentEncounter (val) {
        if (val) {
          this.showEncounter = true;
        }
      }
    }
  }
</script>
