<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Vitals" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout marginBottom="10">
            <label fontWeight="bold">Date Taken:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="takenAt"></date-picker>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Weight:</label>
              <stack-layout orientation="horizontal">
                <text-field v-model="weight" keyboardType="number" width="50%"></text-field>
                <text-field @tap="selectUnit('weight')" width="50%" :text="weightUnit" :editable="false"></text-field>
              </stack-layout>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Height:</label>
              <stack-layout orientation="horizontal">
                <text-field v-model="height" keyboardType="number" width="50%"></text-field>
                <text-field @tap="selectUnit('height')" width="50%" :text="heightUnit" :editable="false"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">BMI:</label>
            <text-field :text="bmi" :editable="false"></text-field>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">BP Systolic:</label>
              <text-field v-model="bpSystolic" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">BP Diastolic:</label>
              <text-field v-model="bpDiastolic" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Pulse Rate (bpm):</label>
              <text-field v-model="pulse" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Respiration Rate (rpm):</label>
              <text-field v-model="respiration" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>
          
          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Temp (°C):</label>
              <text-field v-model="temperature" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Method:</label>
              <text-field @tap="selectTempMethod" :text="temperatureMethod" :editable="false"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Head Circ (cm):</label>
              <text-field v-model="headCircumference" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Waist Circ (cm):</label>
              <text-field v-model="waistCircumference" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Neck Circ (cm):</label>
              <text-field v-model="neckCircumference" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Abdominal Circ (cm):</label>
              <text-field v-model="abdominalCircumference" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>
          
          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Chest Circ (cm):</label>
              <text-field v-model="chestCircumference" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Chest Inspiration (cm):</label>
              <text-field v-model="chestInspiration" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>
          
          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Chest Expiration (cm):</label>
              <text-field v-model="chestCircumference" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">O2 Sat (mm):</label>
              <text-field v-model="chestInspiration" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">LMP Date:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="lmp"></date-picker>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Distant Uncorrected (L):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityDsntUncorrectL" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Distant Uncorrected (R):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityDsntUncorrectR" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Distant Corrected (L):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityDsntCorrectL" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Distant Corrected (R):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityDsntCorrectR" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Near Uncorrected (L):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityNearUncorrectL" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Near Uncorrected (R):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityNearUncorrectR" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Near Corrected (L):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityNearCorrectL" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Near Corrected (R):</label>
              <stack-layout orientation="horizontal">
                <text-field text="20/" width="25%" :editable="false"></text-field>
                <text-field v-model="visualAcuityNearCorrectR" keyboardType="number" width="75%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Color Vision (Normal):</label>
              <text-field v-model="visualAcuityVisionNormal"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Color Vision (Abnormal):</label>
              <text-field v-model="visualAcuityVisionAbnormal"></text-field>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.takenAt = new Date(this.record.takenAt);
        this.lmp = new Date(this.record.lmp);
        this.height = this.record.height || 0;
        this.weight = this.record.weight || 0;
        this.bpDiastolic = this.record.bpDiastolic;
        this.bpSystolic = this.record.bpSystolic;
        this.pulse = this.record.pulse;
        this.respiration = this.record.respiration;
        this.temperature = this.record.temperature;
        this.temperatureMethod = this.record.temperatureMethod;
        this.headCircumference = this.record.headCircumference;
        this.waistCircumference = this.record.waistCircumference;
        this.neckCircumference = this.record.neckCircumference;
        this.abdominalCircumference = this.record.abdominalCircumference;
        this.chestCircumference = this.record.chestCircumference;
        this.chestInspiration = this.record.chestInspiration;
        this.chestExpiration = this.record.chestExpiration;
        this.o2sats = this.record.o2sats;
        this.visualAcuityDsntUncorrectL = this.record.visualAcuityDsntUncorrectL;
        this.visualAcuityDsntUncorrectR = this.record.visualAcuityDsntUncorrectR;
        this.visualAcuityDsntCorrectL = this.record.visualAcuityDsntCorrectL;
        this.visualAcuityDsntCorrectR = this.record.visualAcuityDsntCorrectR;
        this.visualAcuityNearUncorrectL = this.record.visualAcuityNearUncorrectL;
        this.visualAcuityNearUncorrectR = this.record.visualAcuityNearUncorrectR;
        this.visualAcuityNearCorrectL = this.record.visualAcuityNearCorrectL;
        this.visualAcuityNearCorrectR = this.record.visualAcuityNearCorrectR;
        this.visualAcuityVisionNormal = this.record.visualAcuityVisionNormal;
        this.visualAcuityVisionAbnormal = this.record.visualAcuityVisionAbnormal;
        
      }
    },
    data() {
      return {
        loading: false,
        weightUnits: ['kg', 'lbs'],
        weightUnit: 'kg',
        heightUnits: ['cm', 'ft'],
        heightUnit: 'cm',
        // ---
        takenAt: new Date(),
        lmp: new Date(),
        weight: null,
        height: null,
        bmi: null,
        bpDiastolic: null,
        bpSystolic: null,
        pulse: null,
        respiration: null,
        temperature: null,
        temperatureMethod: '',
        headCircumference: null,
        waistCircumference: null,
        neckCircumference: null,
        abdominalCircumference: null,
        chestCircumference: null,
        chestInspiration: null,
        chestExpiration: null,
        o2sats: null,
        visualAcuityDsntUncorrectL: null,
        visualAcuityDsntUncorrectR: null,
        visualAcuityDsntCorrectL: null,
        visualAcuityDsntCorrectR: null,
        visualAcuityNearUncorrectL: null,
        visualAcuityNearUncorrectR: null,
        visualAcuityNearCorrectL: null,
        visualAcuityNearCorrectR: null,
        visualAcuityVisionNormal: '',
        visualAcuityVisionAbnormal: '',
        // --- 
        vitalsFields: [
          'takenAt', 
          'height',
          'weight',
          'bpDiastolic',
          'bpSystolic',
          'pulse',
          'respiration',
          'temperature',
          'temperatureMethod',
          'headCircumference',
          'waistCircumference',
          'neckCircumference',
          'abdominalCircumference',
          'chestCircumference',
          'chestInspiration',
          'chestExpiration',
          'lmp',
          'visualAcuityDsntUncorrectL',
          'visualAcuityDsntUncorrectR',
          'visualAcuityDsntCorrectL',
          'visualAcuityDsntCorrectR',
          'visualAcuityNearUncorrectL',
          'visualAcuityNearUncorrectR',
          'visualAcuityNearCorrectL',
          'visualAcuityNearCorrectR',
          'visualAcuityVisionNormal',
          'visualAcuityVisionAbnormal',
        ]
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, this.vitalsFields))
            }
            await this.updateMedicalRecord({type: 'vitals', data});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Vitals Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, this.vitalsFields));
            await this.createMedicalRecord({type: 'vitals', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'Vitals Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Vitals Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async selectUnit(type) {
        let options = [];
        let res = null;
        if(type === 'weight') {
          options = this.weightUnits;
          res = await action('Options', 'Close', options);
          if(res === 'Close') return;
          this.weightUnit = res;
          return;
        }

        if(type === 'height') {
          options = this.heightUnits;
          res = await action('Options', 'Close', options);
          if(res === 'Close') return;
          this.heightUnit = res;
          return;
        }
      },
      async selectTempMethod() {
        const options = ['axillary', 'oral', 'ear', 'infrared', 'rectal', 'core'];
        const res = await action('Select Method', 'Close', options);
        if(res === 'Close') return;
        this.temperatureMethod = res;
      },
      calcBMI() {
        const weight = parseInt(this.weight);
        const height = parseInt(this.height);
        if(weight && height) {
          const bmi = (weight / (height * height)) * 10000;
          this.bmi = Math.round(bmi * 100) / 100;
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      },
      weight(val) {
        this.calcBMI();
      },
      height(val) {
        this.calcBMI();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>
