<template>
  <stack-layout row="1" orientation="vertical" paddingBottom="80">

    <stack-layout marginTop="20" marginLeft="20" marginRight="20" marginBottom="10">
      <grid-layout columns="auto, *, auto">
        <label alignSelf="left" fontWeight="bold" color="#0099cc" col="0">Chief Complaint:</label>
        <label color="#7fad33" fontWeight="bold" alignSelf="right" marginLeft="5" v-if="savingChiefComplaint" col="2">Saving...</label>
      </grid-layout>
      <text-view 
        v-model="chiefComplaintText"
        @textChange="v => chiefComplaintTextChanged = true"
        marginBottom="5">
      </text-view>
      <button @tap="saveChiefComplaint" class="primary small" v-if="chiefComplaintTextChanged">Save</button>
    </stack-layout>
    
    <stack-layout marginLeft="20" marginRight="20" marginBottom="10">
      <grid-layout columns="auto, *, auto">
        <label alignSelf="left" fontWeight="bold" color="#0099cc" col="0">History of Present Illness (HPI):</label>
        <label color="#7fad33" fontWeight="bold" alignSelf="right" marginLeft="5" v-if="savingHPI" col="2">Saving...</label>
      </grid-layout>
      <text-view 
        v-model="hpiText"
        @textChange="v => hpiTextChanged = true"
        marginBottom="5">
      </text-view>
      <button @tap="saveHPI" class="primary small" v-if="hpiTextChanged">Save</button>
    </stack-layout>

    <stack-layout marginBottom="10" v-if="medicalHistories.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Medical History:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in medicalHistories" 
            :key="key" 
            height="140" 
            width="260" 
            :marginRight="key === medicalHistories.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <past-medical-history-card
                v-if="record.type === 'medical-history'" 
                :record="record">
              </past-medical-history-card>

              <family-history-card
                v-if="record.type === 'family-history'" 
                :record="record">
              </family-history-card>

              <social-history-card
                v-if="record.type === 'social-history'" 
                :record="record">
              </social-history-card>
              
              <allergy-card
                v-if="record.type === 'allergy'" 
                :record="record">
              </allergy-card>

              <birth-history-card
                v-if="record.type === 'birth-history'" 
                :record="record">
              </birth-history-card>
              
              <gynecological-history-card
                v-if="record.type === 'gynecological-history'" 
                :record="record">
              </gynecological-history-card>
              
              <hospitalization-history-card
                v-if="record.type === 'hospitalization-history'" 
                :record="record">
              </hospitalization-history-card>
              
              <menstrual-history-card
                v-if="record.type === 'menstrual-history'" 
                :record="record">
              </menstrual-history-card>
              
              <obstetric-history-card
                v-if="record.type === 'obstetric-history'" 
                :record="record">
              </obstetric-history-card>
              
              <surgical-history-card
                v-if="record.type === 'surgical-history'" 
                :record="record">
              </surgical-history-card>
              
              <vaccination-history-card
                v-if="record.type === 'vaccination'" 
                :record="record">
              </vaccination-history-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

    <stack-layout marginBottom="10" v-if="ros.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Review of Systems:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in ros" 
            :key="key" 
            :marginRight="key === ros.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <ros-card
                v-if="record.type === 'ros'" 
                :record="record">
              </ros-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

    <stack-layout marginBottom="10" v-if="vitals.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Vitals:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in vitals" 
            :key="key"
            :marginRight="key === vitals.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <vitals-card
                v-if="record.type === 'vitals'" 
                :record="record">
              </vitals-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>
    
    <stack-layout marginBottom="10" v-if="specialtyFeatures.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Specialty Features:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in specialtyFeatures" 
            :key="key" 
            :marginRight="key === specialtyFeatures.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <ent-note-card
                v-if="record.type === 'ent-note'" 
                :record="record">
              </ent-note-card>
              
              <ob-note-card
                v-if="record.type === 'ob-note'" 
                :record="record">
              </ob-note-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

    <stack-layout marginBottom="10" v-if="physicalExams.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Physical Exam:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in physicalExams" 
            :key="key"
            :marginRight="key === physicalExams.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <pe-card
                v-if="record.type === 'physical-exam'" 
                :record="record">
              </pe-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>
    
    <stack-layout marginBottom="10" v-if="impressions.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Impression:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in impressions" 
            :key="key" 
            :marginRight="key === impressions.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <impression-card
                v-if="record.subtype === 'impression'" 
                :record="record">
              </impression-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>
    
    <stack-layout marginBottom="10" v-if="diagnosis.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Diagnosis:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in diagnosis" 
            :key="key" 
            :marginRight="key === diagnosis.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <stack-layout>
              <diagnosis-card
                v-if="record.subtype === 'diagnosis'" 
                :record="record">
              </diagnosis-card>
            </stack-layout>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

  </stack-layout>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import pastMedicalHistoryCard from '~/components/medical-records/medical-history/past-medical-history/card';
  import familyHistoryCard from '~/components/medical-records/medical-history/family-history/card';
  import socialHistoryCard from '~/components/medical-records/medical-history/social-history/card';
  import allergyCard from '~/components/medical-records/medical-history/allergy/card';
  import birthHistoryCard from '~/components/medical-records/medical-history/birth-history/card';
  import gynecologicalHistoryCard from '~/components/medical-records/medical-history/gynecological-history/card';
  import hospitalizationHistoryCard from '~/components/medical-records/medical-history/hospitalization-history/card';
  import menstrualHistoryCard from '~/components/medical-records/medical-history/menstrual-history/card';
  import obstetricHistoryCard from '~/components/medical-records/medical-history/obstetric-history/card';
  import surgicalHistoryCard from '~/components/medical-records/medical-history/surgical-history/card';
  import vaccinationHistoryCard from '~/components/medical-records/medical-history/vaccination-history/card';
  import vitalsCard from '~/components/medical-records/vitals/card';
  import rosCard from '~/components/medical-records/ros/card';
  import impressionCard from '~/components/medical-records/impression/card';
  import diagnosisCard from '~/components/medical-records/diagnosis/card';
  import entNoteCard from '~/components/medical-records/specialty-features/ent/card';
  import obNoteCard from '~/components/medical-records/specialty-features/ob-gyn/card';
  import peCard from '~/components/medical-records/physical-exam/card';

  export default {
    components: {
      pastMedicalHistoryCard,
      familyHistoryCard,
      socialHistoryCard,
      allergyCard,
      birthHistoryCard,
      gynecologicalHistoryCard,
      hospitalizationHistoryCard,
      menstrualHistoryCard,
      obstetricHistoryCard,
      surgicalHistoryCard,
      vaccinationHistoryCard,
      vitalsCard,
      rosCard,
      impressionCard,
      diagnosisCard,
      entNoteCard,
      obNoteCard,
      peCard
    },
    async created () {
      const { chiefComplaint, hpi } = this;
      this.chiefComplaintText = '';
      this.hpiText = '';
      
      this.chiefComplaintText = chiefComplaint ? chiefComplaint.text : '';
      this.hpiText = hpi ? hpi.text : '';
    },
    data () {
      return {
        loading: false,
        savingChiefComplaint: false,
        savingHPI: false,
        selectedClinic: {},
        chiefComplaintText: '',
        chiefComplaintTextChanged: false,
        hpiText: '',
        hpiTextChanged: false
      }
    },
    computed: {
      ...mapGetters({
        currentEncounter: 'encounter/currentEncounter',
        chiefComplaint: 'medRecord/chiefComplaint',
        hpi: 'medRecord/hpi',
        medicalHistories: 'medRecord/medicalHistories',
        vitals: 'medRecord/vitals',
        specialtyFeatures: 'medRecord/specialtyFeatures',
        ros: 'medRecord/ros',
        impressions: 'medRecord/impressions',
        diagnosis: 'medRecord/diagnosis',
        physicalExams: 'medRecord/physicalExams'
      })
    },
    methods: {
      ...mapActions({
        updateChiefComplaint: 'medRecord/updateChiefComplaint',
        updateHPI: 'medRecord/updateHPI'
      }),
      async saveChiefComplaint () {
        try {
          this.savingChiefComplaint = true;
          const data = {
            encounter: this.currentEncounter.id,
            facility: this.currentEncounter.facility,
            patient: this.currentEncounter.patient,
            text: this.chiefComplaintText
          }
          
          await this.updateChiefComplaint(data);

          this.savingChiefComplaint = false;
          this.chiefComplaintTextChanged = false;
          this.$showToast('Chieft complaint updated!');
        } catch (e) {
          console.log(e);
          this.savingChiefComplaint = false;
          this.$showAlert(e.message);
        }
      },  
      async saveHPI () {
        try {
          this.savingHPI = true;
          const data = {
            type: 'hpi',
            encounter: this.currentEncounter.id,
            facility: this.currentEncounter.facility,
            text: this.hpiText
          }

          await this.updateHPI(data);

          this.savingHPI = false;
          this.hpiTextChanged = false;
          this.$showToast('HPI updated!');
        } catch (e) {
          console.log(e);
          this.savingHPI = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      chiefComplaint (val) {
        if(!val) return;
        this.chiefComplaintText = val.text || '';
        setTimeout(() => {this.chiefComplaintTextChanged = false}, 500);
      },
      hpi (val) {
        if(!val) return;
        this.hpiText = val.text || '';
        setTimeout(() => {this.hpiTextChanged = false}, 500);
      }
      // chiefComplaint: {
      //   hanlder (val) {
      //     if(!val) return;
      //     console.log('chiefComplaintText', val.text);
      //     // this.chiefComplaintText = val.text;
      //   },
      //   deep: true
      // },
      // hpi: {
      //   hanlder (val) {
      //     if(!val) return;
      //     console.log('hpiText', val.text);
      //     // this.hpiText = val.text;
      //   },
      //   deep: true
      // }
    }
  }
</script>