<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">PAST MEDICAL HISTORY</label>
    <stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Medical Condition</label>
        <label fontSize="11" textWrap="true">{{record.medicalCondition}}</label>
      </stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Date occured</label>
        <label fontSize="11" textWrap="true">{{$formatDate(record.medicalConditionAt, 'MMMM DD, YYYY')}}</label>
      </stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Notes</label>
        <label fontSize="11" textWrap="true">{{record.notes}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-past-medical-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>