<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">HOSPITALIZATION HISTORY</label>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Hospital Name</label>
        <label fontSize="11" textWrap="true">{{record.hospitalName}}</label>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Hospitalization Date</label>
        <label fontSize="11" textWrap="true">{{$formatDate(record.hospitalizedAt, 'MMMM DD, YYYY')}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Diagnosis</label>
        <label fontSize="11" textWrap="true">{{record.diagnosis}}</label>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Treatment</label>
        <label fontSize="11" textWrap="true">{{record.treatment}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Notes</label>
      <label fontSize="11">{{record.notes}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-hospitalization-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>