<template>
  <grid-layout rows="*, auto">
    <stack-layout orientation="vertical" row="0">
      <list-view for="message in messages" height="100%">
        
        <v-template if="$odd">
          <stack-layout class="list-item-container">
            <stack-layout class="chat-bubble not-me">
              <label textWrap="true">{{message.message}}</label>
              <label class="date-time-sent">{{$formatDate(new Date(), 'MM-DD-YYYY, HH:mm')}}</label>
            </stack-layout>
          </stack-layout>
        </v-template>

        <v-template if="$even">
          <stack-layout class="list-item-container">
            <stack-layout class="chat-bubble me">
              <label textWrap="true">{{message.message}}</label>
              <flex-box-layout flexDirection="column-reverse">
                <label class="date-time-sent" alignSelf="flex-end">{{$formatDate(new Date(), 'MM-DD-YYYY, HH:mm')}}</label>
              </flex-box-layout>
            </stack-layout>
          </stack-layout>
        </v-template>
        
      </list-view>
    </stack-layout>
    <grid-layout columns="*, auto" row="1" class="chat-action-container">
      <text-view 
        class="chat-text-view" 
        col="0" 
        marginTop="12" 
        marginLeft="4"
        hint="Type your message...">
      </text-view>
      <button col="1">Send</button>
    </grid-layout>
  </grid-layout>
</template>

<script>
  export default {
    data() {
      return {
        messages: [
          {
            message: 'Ipsum laboris cillum esse exercitation. Enim cupidatat velit ea Lorem incididunt sint ad esse quis excepteur consequat officia. Dolor qui ex cupidatat ad aliquip anim eu. Ex quis do laboris pariatur qui elit minim. Deserunt aute est id in.'
          },
          {
            message: 'Esse excepteur incididunt nostrud esse id nulla laboris Lorem ullamco anim ex deserunt.'
          },
          {
            message: 'Laborum esse mollit dolor est velit tempor anim in veniam.'
          },
          {
            message: 'Adipisicing eu esse deserunt amet laborum nostrud occaecat exercitation elit nostrud dolor consectetur minim.'
          },
          {
            message: 'Sunt ex anim ullamco occaecat aliqua. Lorem nostrud ea eiusmod cillum cupidatat cillum aliquip deserunt. Anim officia anim ad fugiat excepteur exercitation fugiat do aliqua est occaecat laborum adipisicing. Consectetur veniam non pariatur proident nostrud excepteur. Sit tempor incididunt ad Lorem elit deserunt incididunt velit deserunt minim aliquip quis exercitation occaecat. Do eiusmod eiusmod aute enim dolore sit ullamco tempor. Deserunt aliquip dolor sunt ad.'
          },
          {
            message: 'Adipisicing adipisicing aute cupidatat aliqua exercitation sit.'
          },
          {
            message: 'Eiusmod dolor laboris reprehenderit ea ullamco deserunt nostrud adipisicing.'
          },
          {
            message: 'Esse voluptate tempor occaecat proident enim voluptate ea enim.'
          },
          {
            message: 'Labore proident proident ad nostrud laborum eiusmod cillum sunt commodo est duis.'
          },
          {
            message: 'Id eu nisi sint sint irure sint consectetur deserunt qui enim velit veniam.'
          },
          {
            message: 'In adipisicing aute anim minim reprehenderit id proident laborum dolor.'
          },
          {
            message: 'Irure minim voluptate enim exercitation tempor elit nostrud.'
          },
          {
            message: 'Elit duis magna fugiat reprehenderit nostrud excepteur enim qui incididunt culpa reprehenderit dolor.'
          },
          {
            message: 'Dolore veniam fugiat velit cupidatat laborum proident.'
          },
        ]
      }
    }
  }
</script>

<style>
  .list-item-container {
    padding: 10;
    min-height: 70;
  }

  .chat-action-container {
    background-color: white;
    border-top: 1 solid #333333;
    height: 60;
  }

  .chat-text-view {
    background-color: transparent;
  }

  .chat-bubble {
    border-radius: 10;
    max-width: 80%;
    padding: 10;
  }

  .not-me {
    background-color: #0099cc;
    color: white;
    margin-right: 50;
  }

  .me {
    background-color: lightblue;
    color: #333333;
    margin-left: 50;
  }

  .date-time-sent {
    font-size: 10;
    margin-top: 10
  }
</style>