<template>
  <page>
    <action-bar flat>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Patient Name"  col="1"/>
      </grid-layout>
      
      <action-item
        v-show="isNew"
        @tap="endConsultation"
        ios.systemIcon="16" 
        ios.position="right"
        text="End Consultation" 
        android.position="popup" />
      <action-item
        v-show="!isNew"
        @tap="deleteConversation"
        ios.systemIcon="16" 
        ios.position="right"
        text="Delete Conversation" 
        android.position="popup" />
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="fabTap()" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-add-medical-file-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': selectedIndex === 1}">
      </fab>
      <stack-layout row="1">
        <tab-view 
          ~mainContent 
          :selectedIndex="selectedIndex" 
          iosIconRenderingMode="alwaysOriginal" 
          tabTextColor="black" 
          tabBackgroundColor="white" 
          selectedTabTextColor="#0099cc" 
          androidSelectedTabHighlightColor="#0099cc"
          @selectedIndexChange="tabChanged">
          <tab-view-item title="Chat">
            <stack-layout>
              <conversation></conversation>
            </stack-layout>
          </tab-view-item>
          <tab-view-item title="Encounter" v-if="isNew">
            <stack-layout>
              <current-encounter ref="currentEncounterRef"></current-encounter>
            </stack-layout>
          </tab-view-item>
        </tab-view>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters } from 'vuex';
  import conversation from '~/components/chat/conversation/conversation';
  import currentEncounter from '~/components/current-encounter';
  export default {
    props: ['isNew'],
    components: {
      conversation,
      currentEncounter
    },
    created() {
      this.selectedIndex = this.tab || 0;
    },
    data() {
      return {
        selectedIndex: 0
      }
    },
    computed: {
      ...mapGetters({
        
      })
    },
    methods: {
      tabChanged({ value:index }) {
        this.selectedIndex = index;
      },
      async endConsultation() {
        
      },
      async deleteConversation() {
        await this.$showConfirm('Do you really want to delete this conversation?');
      },
      fabTap() {
        if(this.selectedIndex === 1) {
          this.$refs.currentEncounterRef.createMedicalRecord();
        }
      }
    }
  }
</script>

<style scoped>
  .patient-info-container {
    padding: 10;
  }
</style>
