<template>
  <page>
    <action-bar flat>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Chat"  col="1"/>
      </grid-layout>
      <action-item @tap="goOnline" v-show="!isChatOnline">
        <stack-layout>
          <image width="35" src="~/assets/images/mycure-icon-doctor-clock-in.png" marginRight="10" />
        </stack-layout>
      </action-item>
      <action-item @tap="goOffline" v-show="isChatOnline">
        <stack-layout>
          <image width="35" src="~/assets/images/mycure-icon-doctor-clock-out.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <stack-layout>
      <tab-view 
        ~mainContent 
        :selectedIndex="selectedIndex" 
        iosIconRenderingMode="alwaysOriginal" 
        tabTextColor="black" 
        tabBackgroundColor="white" 
        selectedTabTextColor="#0099cc" 
        androidSelectedTabHighlightColor="#0099cc"
        @selectedIndexChange="tabChanged">
        <tab-view-item title="New Messages">
          <stack-layout>
            <mc-new></mc-new>
          </stack-layout>
        </tab-view-item>
        <tab-view-item title="Past Messages">
          <stack-layout>
            <mc-past></mc-past>
          </stack-layout>
        </tab-view-item>
      </tab-view>
    </stack-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import mcNew from '~/components/chat/messages/new';
  import mcPast from '~/components/chat/messages/past';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();

  export default {
    components: {
      mcNew,
      mcPast
    },
    async created() {
      this.selectedIndex = this.tab || 0;
      console.log('initing...')
      await this.init();
    },
    data() {
      return {
        selectedIndex: 0,
        loading: false
      }
    },
    computed: {
      ...mapGetters({
        clock: 'clock/clock',
        selectedClinic: 'clinic/selectedClinic',
        isChatOnline: 'clock/isChatOnline'
      })
    },
    methods: {
      ...mapActions({
        getClock: 'clock/getClock',
        clockIn: 'clock/clockIn',
        clockOut: 'clock/clockOut',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getCurrentUser: 'auth/getCurrentUser',
      }),
      tabChanged({ value:index }) {

      },
      async init() {
        try {
          this.loading = true;
          await this.getSelectedClinic();
          const { uid } = await this.getCurrentUser();
          await this.getClock({organization: this.selectedClinic.id, uid});
          console.log('isChatOnline', this.isChatOnline);
          this.loading = false;
        } catch (e) {
          console.log(e);
          this.loading = false;
          this.$showAlert('Error!', e.message);
        }
      },
      async goOnline() {
        try {
          if(await this.$showConfirm('Do you want to go online?', 'You can only start chatting with patients when you are online.')) {
            this.loading = true;
            await this.clockIn({organization: this.selectedClinic.id});
            this.loading = false;
            this.$showToast('You are now online.');
          }
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error!', e.message);
        }
      },
      async goOffline() {
        try {
          if(await this.$showConfirm('Do you want to go offline?', 'You will not be able to receive a patient when you are offline.')) {
            this.loading = true;
            await this.clockOut({id: this.clock.id});
            this.loading = false;
            this.$showToast('You are now offline.');
          }
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error!', e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .patient-info-container {
    padding: 10;
  }
</style>
