<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Review of Systems" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout orientation="horizontal" v-for="(chunk, key) in rosFieldsChunks" :key="key">
            <stack-layout marginBottom="10" width="50%" v-for="(field, key2) in chunk" :key="key2">
              <label fontWeight="bold">{{field.name}}:</label>
              <text-field v-if="field.suggestions.length" @tap="selectSuggestions(field)" v-model="model[field.key]"></text-field>
              <text-field v-else v-model="model[field.key]"></text-field>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.model.general = this.record.general;
        this.model.eyes = this.record.eyes;
        this.model.ent = this.record.ent;
        this.model.cardiovascular = this.record.cardiovascular;
        this.model.respiratory = this.record.respiratory;
        this.model.gastrointestinal = this.record.gastrointestinal;
        this.model.genitourinary = this.record.genitourinary;
        this.model.musculoskeletal = this.record.musculoskeletal;
        this.model.breasts = this.record.breasts;
        this.model.skin = this.record.skin;
        this.model.neurologic = this.record.neurologic;
        this.model.psychiatric = this.record.psychiatric;
        this.model.endocrine = this.record.endocrine;
        this.model.hematologicLymphatic = this.record.hematologicLymphatic;
        this.model.allergicImmunologic = this.record.allergicImmunologic;
        this.model.neck = this.record.neck;
        this.model.peripheralVascular = this.record.peripheralVascular;
        this.model.notes = this.record.notes;
      }
      this.rosFieldsChunks = _.chunk(this.rosFields, 2);
    },
    data() {
      return {
        loading: false,
        model: {
          general: '',
          eyes: '',
          ent: '',
          cardiovascular: '',
          respiratory: '',
          gastrointestinal: '',
          genitourinary: '',
          musculoskeletal: '',
          breasts: '',
          skin: '',
          neurologic: '',
          psychiatric: '',
          endocrine: '',
          hematologicLymphatic: '',
          allergicImmunologic: '',
          neck: '',
          peripheralVascular: '',
          notes: '',
        },
        rosFieldsChunks: [],
        rosFields: [
          { name: 'General', key: 'general', suggestions: ['Easy fatigability', 'Fever', 'Weight gain', 'Weight loss' ] },
          { name: 'Skin', key: 'skin', suggestions: ['Color change', 'Itchiness', 'Rashes'] },
          { name: 'HEENT', key: 'ent', suggestions: ['Blurring of vision', 'Colds', 'Epiphora', 'Epistaxis', 'Excessive tearing', 'Headache', 'Hearing loss', 'Seizures', 'Throat pain', 'Tinnitus/deafness', 'Vertigo' ] },
          { name: 'Neck', key: 'neck', suggestions: [] },
          { name: 'Chest/Breast', key: 'breasts', suggestions: ['Breast pain', 'Heart burn', 'Lumps'] },
          { name: 'Respiratory/Lungs', key: 'respiratory', suggestions: ['Colds', 'Cough', 'Dyspnea', 'Hemoptysis' ] },
          { name: 'Cardiovascular', key: 'cardiovascular', suggestions: ['Chest pain', 'Easy fatigability', 'Orthopnea', 'Palpitations', 'Paroxysmal dyspnea', 'Syncope'] },
          { name: 'Gastrointestinal/Abdomen', key: 'gastrointestinal', suggestions: ['Abdominal pain', 'Bleeding', 'Constipation', 'Diarrhea', 'Excessive bleeding', 'Heartburn', 'Nausea', 'Stool character', 'Vomiting'] },
          { name: 'Peripheral Vascular', key: 'peripheralVascular', suggestions: [] },
          { name: 'Genitourinary', key: 'genitourinary', suggestions: ['Dysuria', 'Frequency', 'Hematuria', 'Nocturia', 'Polyuria', 'Urgency'] },
          { name: 'Musculoskeletal', key: 'musculoskeletal', suggestions: ['Cramps', 'Joint pain', 'Joint stiffness'] },
          { name: 'Psychiatry/CNS', key: 'psychiatric', suggestions: ['Anxiety', 'Disorientation', 'Dizziness', 'Drug use/abuse', 'Hallucination', 'Loss of consciousness', 'Memory loss', 'Mood changes', 'Nervousness', 'Sleep difficulties'] },
          { name: 'Neurologic', key: 'neurologic', suggestions: [] },
          { name: 'Hematologic', key: 'hematologicLymphatic', suggestions: [] },
          { name: 'Endocrine', key: 'endocrine', suggestions: [] }
        ]
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this.model, [
                'general',
                'eyes',
                'ent',
                'cardiovascular',
                'respiratory',
                'gastrointestinal',
                'genitourinary',
                'musculoskeletal',
                'breasts',
                'skin',
                'neurologic',
                'psychiatric',
                'endocrine',
                'hematologicLymphatic',
                'allergicImmunologic',
                'neck',
                'peripheralVascular',
                'notes'
              ]))
            }
            await this.updateMedicalRecord({type: 'ros', data});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Review Of Systems Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this.model, [
              'general',
              'eyes',
              'ent',
              'cardiovascular',
              'respiratory',
              'gastrointestinal',
              'genitourinary',
              'musculoskeletal',
              'breasts',
              'skin',
              'neurologic',
              'psychiatric',
              'endocrine',
              'hematologicLymphatic',
              'allergicImmunologic',
              'neck',
              'peripheralVascular',
              'notes'
            ]));
            await this.createMedicalRecord({type: 'ros', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'View Of Systems Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Vitals Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async selectSuggestions(data) {
        const result = await action('Select Suggestion', 'Close', data.suggestions);
        if(result === 'Close') return;
        this.model[data.key] = result;
      },
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>