<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Review Encounter" col="1"/>
      </grid-layout>
      <action-item @tap="accept">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-right.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="fabTap()" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-nav-drawer-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="10">
            <label alignSelf="left" fontWeight="bold">Chief Complaint:</label>
            <text-view text="Dolor mollit consectetur ex excepteur dolor amet reprehenderit excepteur Lorem magna." :editable="false"></text-view>
          </stack-layout>
          <stack-layout marginBottom="10">
            <label alignSelf="left" fontWeight="bold">History of Present Illness (HPI):</label>
            <text-view text="Proident velit ut elit nulla consectetur occaecat qui excepteur deserunt nulla et in voluptate." :editable="false"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  const dialogs = require('tns-core-modules/ui/dialogs');
  export default {
    methods: {
      async fabTap() {
        const options = [
          'Accept',
          'Reject'
        ];
        const result = await action('', 'Close', options);
        if(result === 'Close') return;
        if(result === 'Accept') {
          this.accept();
        } else if(result === 'Reject') {
          this.reject();
        }
      },
      async accept() {
        if(await this.$showConfirm('Do you really want to accept this patient?')) {
          this.$nami.navigate('chat-conversation', {props: {isNew: true}});
        }
      },
      async reject() {
        const { result, text } = await prompt({
          title: 'Reject Queue',
          message: 'Provide a rejection reason',
          okButtonText: 'Ok',
          cancelButtonText: 'Cancel',
          defaultText: '',
          inputType: dialogs.inputType.text
        });

        console.log(result);
        console.log(text);
      }
    }
  }
</script>