<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="RECORD_NAME" col="1"/>
      </grid-layout>
      <action-item
        v-show="!isDisabled"
        @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': !isDisabled}">
      </fab>
      <scroll-view row="1">
        <stack-layout class="container">
          <stack-layout
            marginBottom="20">
            <button
              class="green small"
              text="View Results"
              @tap="viewResults">
            </button>
          </stack-layout>

          <stack-layout marginBottom="20">
            <label fontWeight="bold">Diagnostic Type:</label>
            <text-field v-model="diagnosticType" :editable="false" @tap="selectDiagnosticType"></text-field>
          </stack-layout>

          <stack-layout marginBottom="20">

            <button 
              v-if="diagnosticType === 'Laboratory' && !isDisabled"
              class="primary small" 
              @tap="$nami.navigate('search-lab-test', {props: {source: model}})" 
              marginBottom="10">&#xf002; Search Laboratory Tests</button>

            <button 
              v-if="diagnosticType === 'Imaging' && !isDisabled"
              class="primary small fas" 
              @tap="$nami.navigate('search-imaging-test', {props: {source: model}})" 
              marginBottom="10">&#xf002; Search Imaging Tests</button>

            <label fontWeight="bold">SELECTED TESTS:</label>
            <stack-layout v-for="(test, key) in model.tests" :key="key">
              <grid-layout columns="*, auto" padding="5">
                <label col="0" fontWeight="bold" marginTop="5">{{test.name}}</label>
                <button 
                  v-if="!isDisabled"
                  @tap="removeTest(key)"
                  col="1" 
                  class="small error fas" 
                  backgroundColor="transparent" 
                  color="#ff6666" 
                  width="35"
                  height="35">&#xf00d;</button>
              </grid-layout>
            </stack-layout>
            
          </stack-layout>

          <stack-layout marginBottom="20">
            <label fontWeight="bold">Test Reason:</label>
            <text-view v-model="model.reason" :editable="!isDisabled"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';
  const RECORD_NAME = 'Diagnostic Order';

  export default {
    props: ['record', 'isEdit', 'isDisabled'],
    created () {
      if(this.record) {
        this.diagnosticType = this.record.type.includes('lab') ? 'Laboratory' : 'Imaging';
        this.model.type = this.record.type;
        this.model.reason = this.record.reason;
        this.model.tests = [...this.record.tests];
      }
    },
    data (vm) {
      return {
        loading: false,
        RECORD_NAME: RECORD_NAME,
        diagnosticType: '',
        //
        model: {
          type: '',
          reason: '',
          tests: []
        }
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateDiagnosticOrder: 'medRecord/updateDiagnosticOrder',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      async selectDiagnosticType () {
        
        if(this.isEdit || this.isDisabled) return;

        const options = [
          'Laboratory',
          'Imaging'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') return;
        this.diagnosticType = result;
      },
      removeTest (index) {
        this.model.tests.splice(index, 1);
      },
      viewResults () {
        const route = this.diagnosticType === 'Laboratory'
          ? 'lab-results'
          : 'imaging-results';

        this.$nami.navigate(route, {props: {record: this.record}});
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          let fields = [
            'type',
            'reason',
            'tests'
          ];

          if(!this.model.type || !this.model.tests.length) {
            this.$showAlert('Something went wrong!', 'Add at least 1 Test');
            return;
          }

          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this.model, fields))
            }
            await this.updateDiagnosticOrder({data, oldTests: this.record.tests, newTests: this.model.tests});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = `${RECORD_NAME} Updated!`;
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this.model, fields));
            await this.createMedicalRecord({type: this.model.type, facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = `${RECORD_NAME} Created!`;
          }
          
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.$showAlert(e.message);
        } finally {
          this.loading = false;
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast(`${RECORD_NAME} Deleted!`);
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      },
      diagnosticType (val) {
        if(val === 'Laboratory') {
          this.model.type = 'lab-test-order';
        } else if(val === 'Imaging') {
          this.model.type = 'imaging-test-order';
        }
      }
    }
  }
</script>

<style scoped>
  .green {
    background-color: #7fad33;
    color: white;
  }

  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>
