<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="clinic ? name : 'Create Clinic'" col="1"/>
      </grid-layout>
      <action-item @tap="save">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <scroll-view orientation="vertical">
      <stack-layout orientation="vertical" class="container">
        <image class="round-image" width="100" v-if="picURL" :src="picURL" marginBottom="10"/>
        <image class="round-image" width="100" v-else src="~/assets/images/placeholder.png" marginBottom="10"/>
        
        <stack-layout marginBottom="20">
          <label fontWeight="bold">Clinic Name:</label>
          <text-field v-model="name"></text-field>
        </stack-layout>
        
        <stack-layout marginBottom="20">
          <label fontWeight="bold">Description:</label>
          <text-view 
            v-model="description"
            borderColor="black">
          </text-view>
        </stack-layout>

        <stack-layout marginBottom="20">
          <label fontWeight="bold">Clinic Email:</label>
          <text-field v-model="email"></text-field>
        </stack-layout>
        
        <stack-layout marginBottom="20">
          <label fontWeight="bold">Clinic Phone:</label>
          <text-field v-model="phone"></text-field>
        </stack-layout>
      </stack-layout>
    </scroll-view>
  </page>
</template>

<script>
  import { mapActions, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  let $dialogLoader = new LoadingIndicator();
  
  export default {
    props: ['clinic'],
    created () {
      if(this.clinic) {
        this.name = this.clinic.name;
        this.picURL = this.clinic.picURL;
        this.description = this.clinic.description;
        this.email = this.clinic.email;
        this.phone = this.clinic.phone;
      }
    },
    data () {
      return {
        loading: false,
        name: '',
        picURL: '',
        description: '',
        email: '',
        phone: ''
      }
    },
    methods: {
      ...mapActions({
        updateClinic: 'clinic/updateClinic',
        createClinic: 'clinic/createClinic'
      }),
      ...mapMutations({
        setRefreshClinicList: 'clinic/setRefreshClinicList'
      }),
      async save () {
        try {
          this.loading = true;

          if(!this.name) {
            alert({
              title: 'Error!',
              message: 'Clinic name is required.',
              okButtonText: 'Ok'
            });
            this.loading = false;
            return;
          }

          let payload = {
            name: this.name,
            picURL: this.picURL,
            description: this.description,
            email: this.email,
            phone: this.phone
          }

          if(this.clinic) {
            payload.id = this.clinic.id;
            await this.updateClinic(payload);
          } else {
            delete payload.id;
            await this.createClinic(payload);
          }
          this.loading = false;
          this.$showToast(`Clinic successfully ${this.clinic ? 'updated' : 'created'}!`);
          this.setRefreshClinicList(true);
          this.$nami.back();
        } catch (e) {
          this.loading = false;
          console.log(e);
          alert({
            title: 'Error!',
            message: e.message,
            okButtonText: 'Ok'
          });
        }
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  
</style>