<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="ENT Note" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="20">
            <label fontWeight="bold">Respiration Type:</label>
            <text-field v-model="registrationType" @tap="selectType" :editable="false"></text-field>
          </stack-layout>
          
          <!-- CPAP -->
          <stack-layout v-if="registrationType === 'CPAP'" marginBottom="20">
            <label fontWeight="bold">CPAP Pressure (cmH2O):</label>
            <text-field v-model="cpapPressure" keyboardType="number"></text-field>
          </stack-layout>

          <!-- BPAP -->
          <stack-layout v-if="registrationType === 'BPAP'" marginBottom="20">
            <stack-layout orientation="horizontal">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">BIPAP Inspiration (cmH2O):</label>
                <text-field v-model="bipapInspiration" keyboardType="number"></text-field>
              </stack-layout>
              <stack-layout width="50%" paddingLeft="5">
                <label fontWeight="bold">BIPAP Expiration (cmH2O):</label>
                <text-field v-model="bipapExpiration" keyboardType="number"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="20">
            <stack-layout orientation="horizontal">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">LSAT Pressure (%):</label>
                <text-field v-model="lsatPressure" keyboardType="number"></text-field>
              </stack-layout>
              <stack-layout width="50%" paddingLeft="5">
                <label fontWeight="bold">AHI (events/hr):</label>
                <text-field v-model="ahi" keyboardType="number"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="20">
            <stack-layout orientation="horizontal">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">Ramp Time (minutes):</label>
                <text-field v-model="rampTime" keyboardType="number"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="20">
            <label fontWeight="bold">PSG Diagnostic:</label>
            <text-view v-model="psgDiagnostic"></text-view>
          </stack-layout>
          
          <stack-layout marginBottom="20">
            <label fontWeight="bold">PSG Therapeutic:</label>
            <text-view v-model="psgTherapeutic"></text-view>
          </stack-layout>
          
          <stack-layout marginBottom="20">
            <label fontWeight="bold">PSG Split:</label>
            <text-view v-model="psgSplit"></text-view>
          </stack-layout>

        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import allergies from '~/assets/fixtures/allergies.json';
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created () {
      if(this.record) {
        if(this.record.cpapPressure) {
          this.registrationType = 'CPAP';
        } 
        if(this.record.bipapInspiration) {
          this.registrationType = 'BPAP';
        }
        this.cpapPressure = this.record.cpapPressure;
        this.bipapInspiration = this.record.bipapInspiration;
        this.bipapExpiration = this.record.bipapExpiration;
        this.lsatPressure = this.record.lsatPressure;
        this.ahi = this.record.ahi;
        this.rampTime = this.record.rampTime;
        this.psgDiagnostic = this.record.psgDiagnostic;
        this.psgTherapeutic = this.record.psgTherapeutic;
        this.psgSplit = this.record.psgSplit;
      }
    },
    data () {
      return {
        loading: false,
        registrationType: '',
        // 
        cpapPressure: null,
        bipapInspiration: null,
        bipapExpiration: null,
        lsatPressure: null,
        ahi: null,
        rampTime: null,
        psgDiagnostic: null,
        psgTherapeutic: null,
        psgSplit: null
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterSpecialtyFeatures: 'medRecord/getCurrentEncounterSpecialtyFeatures'
      }),
      async selectType () {
        const options = [
          'CPAP',
          'BPAP'
        ];
        const result = await action('', 'Close', options);
        if(result === 'Close') return;
        this.registrationType = result;
      },
      async save () {
        try {
          this.loading = true;
          let successMessage = '';
          const fields = [
            'cpapPressure',
            'bipapInspiration',
            'bipapExpiration',
            'lsatPressure',
            'ahi',
            'rampTime',
            'psgDiagnostic',
            'psgTherapeutic',
            'psgSplit'
          ];

          if(this.isEdit) {
            let data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, fields))
            }

            await this.updateMedicalRecord({type: 'ent-note', data});
            await this.getCurrentEncounterSpecialtyFeatures({encounter: this.encounter.id});
            successMessage = 'ENT Note Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            let data = _.pickBy(_.pick(this, fields));

            await this.createMedicalRecord({type: 'ent-note', facility, encounter: id, patient, data});
            await this.getCurrentEncounterSpecialtyFeatures({encounter: id});
            successMessage = 'ENT Note Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          this.loading = false;
          console.error(e);
          this.$showAlert(e.message);
        }
      },
      async removeRecord () {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterSpecialtyFeatures({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('ENT Note Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>