<template>
  <stack-layout></stack-layout>
  <!-- <stack-layout marginTop="87%" marginLeft="80%" @tap="tap"></stack-layout> -->
  <!-- ().fab  -->
    <!-- //- image(src="~/images/logo.png").mc-logo -->
</template>

<script>
  export default {
    methods: {
      tap() {
        this.$emit('fabTap')
      }
    }
  }
</script>


<style scoped>
  .mc-logo {
    width: 25;
  }

  .fab {
    background-image: url('~/images/mycure-btn-mobile-add-green.png');
    background-size: cover;
    background-position: center center;
    background-color: #7fad33;
    width: 56;
    height: 56;
		border-radius: 28;
    vertical-align: center;
  }
</style>
