<template>
  <stack-layout minHeight="150" padding="5" @tap="view">
    <label class="fas" fontWeight="bold" fontSize="20" marginBottom="5">&#xf5b1;</label>
    <stack-layout orientation="vertical" v-for="(med, key) in record.items" :key="key" marginBottom="5">
      <label fontSize="10">{{key + 1}}. {{med.genericName}} {{med.formulation}} {{med.dispense}}</label>
      <label fontSize="10" v-if="med.brandName">{{med.brandName}}</label>
      <label fontWeight="bold" fontSize="10">Sig: </label>
      <label fontSize="10">{{med.dosageSig}} {{med.frequency}}</label>
      <label fontWeight="bold" fontSize="10">Notes: </label>
      <label fontSize="10">{{med.note}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  import printPreview from '../print';
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      async view () {
        this.$nami.navigate('create-prescription', {props: {record: this.record, isEdit: true}});
      }
    }
  }
</script>