<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Allergy" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout marginBottom="10">
            <label fontWeight="bold">Allergy:</label>
            <text-field @tap="selectAllergy" v-model="name"></text-field>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Date Occured:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="startedAt"></date-picker>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">  
            <label fontWeight="bold">Notes:</label>
            <text-view v-model="description"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import allergies from '~/assets/fixtures/allergies.json';
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.name = this.record.name;
        this.startedAt = new Date(this.record.startedAt);
        this.description = this.record.description;
      }
    },
    data() {
      return {
        loading: false,
        name: '',
        startedAt: new Date(),
        description: ''
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories'
      }),
      async selectAllergy() {
        const options = [];
        for (const key in allergies) {
          options.push(allergies[key].name);
        }
        const result = await action('Select Allergy', 'Close', options);
        if(result === 'Close') return;

        this.name = result;
        this.description = allergies.filter(item => item.name === result)[0].description;
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, ['name', 'startedAt', 'description']))
            }
            await this.updateMedicalRecord({type: 'allergy', data});
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            successMessage = 'Allergy Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, ['name', 'startedAt', 'description']));
            await this.createMedicalRecord({type: 'allergy', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedicalHistories({encounter: id});
            successMessage = 'Allergy Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Allergy Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>