<template>
  <stack-layout minHeight="140" width="260" padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">ENT</label>
    <stack-layout>
      <stack-layout v-if="record.cpapPressure">
        <label fontWeight="bold" fontSize="10">CPAP Pressure (cmH2O)</label>
        <label fontSize="11" textWrap="true">{{record.cpapPressure}}</label>
      </stack-layout>

      <stack-layout orientation="horizontal" v-if="record.bipapInspiration">
        <stack-layout marginRight="3">
          <label fontWeight="bold" fontSize="10">BIPAP Inspiration (cmH2O)</label>
          <label fontSize="11" textWrap="true">{{record.bipapInspiration}}</label>
        </stack-layout>
        <stack-layout>
          <label fontWeight="bold" fontSize="10">BIPAP Expiration (cmH2O)</label>
          <label fontSize="11" textWrap="true">{{record.bipapExpiration}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">LSAT Pressure (%)</label>
          <label fontSize="11" textWrap="true">{{record.lsatPressure}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">AHI (events/hr)</label>
          <label fontSize="11">{{record.ahi}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout orientation="horizontal">
        <stack-layout marginBottom="3">
          <label fontWeight="bold" fontSize="10">Ramp Time (minutes)</label>
          <label fontSize="11">{{record.rampTime}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout marginBottom="3" v-if="record.psgDiagnostic">
        <label fontWeight="bold" fontSize="10">PSG Diagnostic</label>
        <label fontSize="11" textWrap>{{record.psgDiagnostic}}</label>
      </stack-layout>
     
      <stack-layout marginBottom="3" v-if="record.psgTherapeutic">
        <label fontWeight="bold" fontSize="10">PSG Therapeutic</label>
        <label fontSize="11" textWrap>{{record.psgTherapeutic}}</label>
      </stack-layout>
      
      <stack-layout marginBottom="3" v-if="record.psgSplit">
        <label fontWeight="bold" fontSize="10">PSG Split</label>
        <label fontSize="11" textWrap>{{record.psgSplit}}</label>
      </stack-layout>

    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-ent-note', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>