<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Results"  col="1"/>
      </grid-layout>
    </action-bar>
    <scroll-view>
      <card-view class="card">
        <stack-layout class="stack">
          <flexbox-layout
            class="header"
            width="100%"
            flexDirection="row"
            justifyContent="space-between">
            <stack-layout>
              <label class="title" fontWeight="bold" text="Imaging Order">
              </label>
            </stack-layout>
            <flexbox-layout flexDirection="column" alignItems="flex-end">
              <label class="date" fontWeight="bold" :text="date">
              </label>
              <label class="time" :text="time">
              </label>
            </flexbox-layout>
          </flexbox-layout>
          <stack-layout
            v-if="pendingTests.length"
            class="pending">
            <label
              class="test-header"
              fontWeight="bold"
              text="Pending Tests:">
            </label>
            <label
              v-for="test in pendingTests"
              :key="test.id"
              class="test"
              :text="getBulleted(test.name)">
            </label>
          </stack-layout>
          <stack-layout
            v-if="pendingTests.length && completedTests.length"
            class="spacer">
          </stack-layout>
          <stack-layout
            v-if="completedTests.length"
            class="completed">
            <label
              v-if="pendingTests.length"
              class="test-header"
              fontWeight="bold"
              text="Completed Tests:">
            </label>
            <stack-layout
              v-for="test in completedTests"
              :key="test.id"
              class="test-container">
              <label
                class="result-header"
                fontWeight="bold"
                :text="test.name">
              </label>
              <web-view :src="getTestResults(test.id)[0].value">
              </web-view>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </card-view>
    </scroll-view>
  </page>
</template>

<script>
import format from 'date-fns/format';
import _ from 'lodash';

export default {
  props: ['record'],
  computed: {
    date () {
      return format(this.record.createdAt, 'DD MMM YYYY');
    },
    time () {
      return format(this.record.createdAt, 'hh:mm A');
    },
    doctor () {
      return this.record.createdBy;
    },
    pendingTests () {
      return this.record.tests
        .filter(t => _.isEmpty(this.getTestResults(t.id)));
    },
    completedTests () {
      return this.record.tests
        .filter(t => !_.isEmpty(this.getTestResults(t.id)));
    }
  },
  methods: {
    getBulleted (str) {
      return `• ${str}`;
    },
    getTestResults (test) {
      const results = this.record.results
        .flatMap(r => r.results)
        .filter(r => r.test.id === test);
      console.log('ImagingResult#getTestResults', results)
      return results;
    }
  }
};
</script>

<style scoped>
.card {
  margin: 10px;
}

.header {
  margin: 10px;
}

.card > .stack {
  width: 100%;
  padding: 10px;
}

.title {
  font-size: 16;
}

.date, .time {
  font-size: 10;
  text-align: right;
  color: black;
}

.pending, .spacer, .completed {
  margin: 0px 0px 25px 0px;
}

.pending > .test {
  margin: 0px 0px 0px 10px;
}

.spacer {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.test-header {
  margin: 0px 0px 10px 0px;
}

.test-container {
  margin: 0px 0px 10px 0px;
}

.title, .test-header, .test, .placeholder {
  color: black;
}

.result-header {
  color: #0099cc;
  font-size: 12;
}

.test {
  font-size: 10;
}

.placeholder {
  text-align: center;
  margin: 15px 0px;
}
</style>
