<template>
  <scroll-view orientation="vertical">
    <stack-layout orientation="vertical" class="container">
      <image class="round-image" width="100" v-if="picURL" :src="picURL" marginBottom="10"/>
      <image class="round-image" width="100" v-else src="~/assets/images/placeholder.png" marginBottom="10"/>
      <stack-layout marginBottom="20">
        <label fontWeight="bold">First Name:</label>
        <text-field v-model="name.firstName"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Middle Name:</label>
        <text-field v-model="name.middleName"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Last Name:</label>
        <text-field v-model="name.lastName"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Date of Birth:</label>
        <mc-date-time-picker
          type="date"
          :startingDate="dateOfBirth"
          @dateSelected="date => dateOfBirth = date">
        </mc-date-time-picker>
        <!-- <mc-date-time-picker
          type="time"
          format="HH:mm A"
          @timeSelected="timeSelected">
        </mc-date-time-picker>
        <mc-date-time-picker
          type="date-time"
          format="MMM DD, YYYY HH:mm A"
          @dateTimeSelected="dateTimeSelected">
        </mc-date-time-picker> -->
      </stack-layout>

      <stack-layout marginBottom="20">
        <stack-layout orientation="horizontal">
          <stack-layout width="50%" paddingRight="5">
            <label fontWeight="bold">Sex:</label>
            <text-field 
              v-model="sex" 
              editable="false"
              @tap="chooseSex">
            </text-field>
          </stack-layout>

          <stack-layout width="50%" paddingLeft="5">
            <label fontWeight="bold">Blood Type:</label>
            <text-field 
              v-model="bloodType" 
              editable="false"
              @tap="chooseBloodType">
            </text-field>
          </stack-layout>
        </stack-layout>
      </stack-layout>

      <stack-layout marginBottom="20">
        <stack-layout orientation="horizontal">
          <stack-layout width="50%" paddingRight="5">
            <label fontWeight="bold">Marital Status:</label>
            <text-field 
              v-model="maritalStatus" 
              editable="false"
              @tap="chooseMaritalStatus">
            </text-field>
          </stack-layout>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </scroll-view>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import mcDatePicker from '~/components/commons/mc-date-picker';
  import { core } from '@mycure/sdk';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import mcDateTimePicker from '~/components/commons/mc-date-time-picker';

  export default {
    components: {
      mcDatePicker,
      mcDateTimePicker
    },
    async created() {
      await this.init();
    },
    data() {
      return {
        loading: false,
        showDatePicker: false,
        picURL: '',
        name: {
          firstName: '',
          middleName: '',
          lastName: ''
        },
        sex: 'male',
        bloodType: '',
        maritalStatus: '',
        dateOfBirth: new Date()
      }
    },
    methods: {
      ...mapActions({
        getCurrentUser: 'auth/getCurrentUser',
        getPersonalDetails: 'user/getPersonalDetails',
        updatePersonalDetails: 'user/updatePersonalDetails',
      }),
      async init () {
        try {
          this.loading = true;
          
          const result = await core.auth().currentUser();

          if(result)
            this.personalDetails = result;
          
          const { uid } = result;

          const { name, sex, dateOfBirth, bloodType, maritalStatus, picURL } = await this.getPersonalDetails(uid);
          
          console.log(name, sex)

          this.picURL = picURL;
          this.name = name;
          this.sex = sex;
          this.dateOfBirth = new Date(dateOfBirth);
          this.bloodType = bloodType;
          this.maritalStatus = maritalStatus;

          this.loading = false;
        } catch (e) {
          this.loading = false;
          console.error(e);
        }
      },
      async save () {
        try {
          this.loading = true;
          const { uid } = await this.getCurrentUser();
          const { name, sex, dateOfBirth, bloodType, maritalStatus, picURL } = this;
          const data = {
            uid,
            name, 
            sex, 
            dateOfBirth, 
            bloodType, 
            maritalStatus, 
            picURL
          }
          await this.updatePersonalDetails(data);
          await this.init();
          this.loading = false;
          this.$showToast('Profile successfully saved!');
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error!', e.message);
        }
      },
      async chooseSex () {
        const result = await action('Sex', 'Cancel', ['Male', 'Female']);
        if(result === 'Cancel') return;
        this.sex = result.toLowerCase();
        this.personalDetails.sex = result.toLowerCase();
        // await this.save();
      },
      async chooseBloodType () {
        const result = await action('Blood Type', 'Cancel', ['Unknown', 'O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-']);
        if(result === 'Cancel') return;
        this.bloodType = result;
        this.personalDetails.bloodType = result;
        // await this.save();
      },
      async chooseMaritalStatus () {
        const result = await action('Blood Type', 'Cancel', ['Single', 'Married']);
        if(result === 'Cancel') return;
        this.maritalStatus = result.toLowerCase();;
        this.personalDetails.maritalStatus = result.toLowerCase();;
        // await this.save();
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>