<template>
  <page>
    <action-bar flat>
      <grid-layout width="100%" columns="auto, *, auto, auto">
        <stack-layout col="0" class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <!-- <label class="toolbar-title" :text="$parseName(selectedPatient.name)" marginTop="6" col="1"/> -->
        <label class="toolbar-title" text="Patient Profile" marginTop="6" col="1"/>
        <button @tap="refresh" class="fas" fontSize="18" col="3" color="#767777" width="50" backgroundColor="transparent">&#xf2f9;</button>
      </grid-layout>
      <action-item 
        v-show="!selectedPatient.account"
        @tap="createPxAccount"
        text="Connect Patient Account"
        android.position="popup" />
      <action-item 
        @tap="archivePx"
        text="Archive Patient"
        android.position="popup" />
    </action-bar>
    <grid-layout rows="auto, *">
      <fab
        @tap="fabTap()" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-add-medical-file-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': !!currentEncounter && selectedIndex === 0 && selectedSegmentedBar !== 2}">
      </fab>
      <stack-layout row="1">
        <px-info-card></px-info-card>
        <tab-view 
          ~mainContent 
          :selectedIndex="selectedIndex" 
          iosIconRenderingMode="alwaysOriginal" 
          tabTextColor="black" 
          tabBackgroundColor="white" 
          selectedTabTextColor="#0099cc" 
          androidSelectedTabHighlightColor="#0099cc"
          @selectedIndexChange="tabChanged">
          <tab-view-item title="Current Encounter">
            <scroll-view class="container" orientation="vertical" height="100%">
              <current-encounter ref="currentEncounterRef" @segmentedBarChanged="v => selectedSegmentedBar = v"></current-encounter>
            </scroll-view>
          </tab-view-item>
          <tab-view-item title="Past Encounters">
            <scroll-view>
              <past-encounters ref="pastEncountersRef"></past-encounters>
            </scroll-view>
          </tab-view-item>
          <!-- <tab-view-item title="Developments">
            <stack-layout class="container" orientation="vertical">
              
            </stack-layout>
          </tab-view-item> -->
          <tab-view-item title="Patient Info">
            <stack-layout orientation="vertical">
              <px-update></px-update>
            </stack-layout>
          </tab-view-item>
        </tab-view>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import pxInfoCard from '~/components/patient/card';
  import pxUpdate from '~/components/patient/update';
  import currentEncounter from '~/components/current-encounter';
  import pastEncounters from '~/components/past-encounters';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    components: {
      currentEncounter,
      pastEncounters,
      pxInfoCard,
      pxUpdate
    },
    created () {
      this.selectedIndex = this.tab || 0;
      // console.log('Account =======>', this.selectedPatient.account)
    },
    data () {
      return {
        selectedIndex: 0,
        loading: false,
        selectedSegmentedBar: 0
      }
    },
    computed: {
      ...mapGetters({
        selectedPatient: 'patient/selectedPatient',
        currentEncounter: 'encounter/currentEncounter',
      })
    },
    methods: {
      ...mapActions({
        archivePatient: 'patient/archivePatient',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getPatients: 'patient/getPatients'
      }),
      tabChanged ({ value:index }) {
        this.selectedIndex = index;
      },
      fabTap () {
        if(this.selectedSegmentedBar === 0) {
          this.$refs.currentEncounterRef.createMedicalRecord();
        }

        if(this.selectedSegmentedBar === 1) {
          this.$refs.currentEncounterRef.createPlanRecord();
        }
      },
      refresh () {
        if(this.selectedIndex === 0) {
          this.$refs.currentEncounterRef.init();
        } else if (this.selectedIndex === 1) {
          this.$refs.pastEncountersRef.init();
        }
      },
      async createPxAccount () {
        try {
          const res = await this.$showConfirm(`Create MYCURE account for ${ this.selectedPatient.name.firstName } ${ this.selectedPatient.name.lastName }?`);
          if(res) {
            this.$nami.navigate('create-patient-account');
          }
        } catch (e) {
          console.log(e);
        }
      },
      async archivePx () {
        try {
          this.loading = true;
          const res = await this.$showConfirm(`Do you really want to arvhive this patient?`);
          if(res) {
            await this.archivePatient(this.selectedPatient.id);
            this.selectedClinic = await this.getSelectedClinic();
            await this.getPatients(this.selectedClinic.id);
            this.$showToast('Success!');
            this.$nami.back();
          }
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }
    }
  }
</script>

<style scoped>
  .patient-info-container {
    padding: 10;
  }
</style>
