<template>
  <stack-layout minHeight="50" width="260" padding="5" @tap="view">
    <!-- <label fontWeight="bold" marginBottom="5">VITAL</label> -->
    <stack-layout>
      <stack-layout>
        <stack-layout>
          <label fontWeight="bold" fontSize="10">Diagnosis</label>
          <label fontSize="11" textWrap>{{record.text || 'na'}}</label>
        </stack-layout>
        <stack-layout>
          <label fontWeight="bold" fontSize="10">ICD 10</label>
          <label fontSize="11" textWrap>{{record.icd10 || 'na'}}</label>
        </stack-layout>
        <stack-layout>
          <label fontWeight="bold" fontSize="10">Recommended Procedures</label>
          <stack-layout v-for="(proc, key) in record.recommendedProcedures" :key="key">
            <label fontSize="11" textWrap>{{key+1}}. {{proc.text || 'na'}}</label>
          </stack-layout>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-diagnosis', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>