<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Impression" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout marginBottom="10">
            <label fontWeight="bold">Impression:</label>
            <text-view v-model="text"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.text = this.record.text;
      }
    },
    data() {
      return {
        loading: false,
        text: '',
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, [
                'text',
              ]))
            }
            await this.updateMedicalRecord({type: 'assessment', data});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Impression Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = {
              subtype: 'impression',
              ..._.pickBy(_.pick(this, [
                'text'
              ]))
            }
            await this.createMedicalRecord({type: 'assessment', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'Impression Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Impression Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>