<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Create Appointment" col="1"/>
      </grid-layout>
      <action-item @tap="save">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <scroll-view>
      <stack-layout class="container">

        <stack-layout marginBottom="20">
          <label class="text-field-label">Appointment Type:</label>
          <text-field 
            v-model="model.type"
            :editable="false"
            @tap="selectAppointmentType" >
          </text-field>
        </stack-layout>

        <stack-layout marginBottom="20">
          <stack-layout orientation="horizontal">
            <stack-layout width="50%" paddingRight="5">
              <label class="text-field-label" text="Start:" />
              <!-- <text-field 
                fontSize="15"
                v-model="formattedStartDate" 
                @tap="$nami.navigate('mc-date-picker', {props: {source: model, type: 'startDate', date: model.startDate}})" 
                :editable="false">
              </text-field> -->
              <mc-date-time-picker
                type="date-time"
                format="MM/DD/YY HH:mm A"
                :startingDate="startDate"
                @dateSelected="date => startDate = date">
              </mc-date-time-picker>
            </stack-layout>
            <stack-layout width="50%" paddingLeft="5">
              <label class="text-field-label" text="End:" />
              <!-- <text-field 
                fontSize="15"
                v-model="formattedEndDate" 
                @tap="$nami.navigate('mc-date-picker', {props: {source: model, type: 'endDate', date: model.endDate}})" 
                :editable="false">
              </text-field> -->
              <mc-date-time-picker
                type="date-time"
                format="MM/DD/YY HH:mm A"
                :startingDate="endDate"
                @dateSelected="date => endDate = date">
              </mc-date-time-picker>
            </stack-layout>
          </stack-layout>
        </stack-layout>

        <stack-layout marginBottom="20">
          <label text="Search Patient:" class="text-field-label" />
          <text-field 
            :text="$parseName(model.selectedPatient.name, 'Search Patient')" 
            @tap="$nami.navigate('mc-search-patient')" 
            :editable="false">
          </text-field>
        </stack-layout>
        
        <stack-layout marginBottom="20">
          <label class="text-field-label">Reason:</label>
          <text-view v-model="model.reason"></text-view>
        </stack-layout>

      </stack-layout>
    </scroll-view>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  let $dialogLoader = new LoadingIndicator();
  import mcDateTimePicker from '~/components/commons/mc-date-time-picker';

  export default {
    components: {
      mcDateTimePicker
    },
    props: {
      appointment: Object
    },
    created () {
      if(this.appointment) {
        this.isUpdate = true;
        this.model.type = this.appointment.meta.type;
        this.model.startDate = this.appointment.startAt;
        this.model.endDate = this.appointment.endAt;
        this.model.selectedPatient = this.appointment.patient;
        this.model.reason = this.appointment.reason;
      }

      this.formattedStartDate = this.$formatDate(new Date(this.model.startDate), 'MM/DD/YY HH:mm');
      this.formattedEndDate = this.$formatDate(new Date(this.model.endDate), 'MM/DD/YY HH:mm');
    },
    data () {
      return {
        foo: {
          foo: 0
        },
        isUpdate: false,
        loading: false,
        model: {
          type: 'visit',
          startDate: new Date(),
          endDate: new Date(),
          selectedPatient: {
            name: {
              firstName: '',
              lastName: ''
            }
          },
          reason: ''
        },
        appointmentTypes: [
          'visit',
          'followup',
          'procedure',
          'diagnostics',
          'pme',
          'others'
        ],
        formattedStartDate: '',
        formattedEndDate: '',
      }
    },
    computed: {
      ...mapGetters({
        searchSelectedPatient: 'patient/searchSelectedPatient',
        newAppointmentStartDate: 'appointment/newAppointmentStartDate',
        newAppointmentEndDate: 'appointment/newAppointmentEndDate',
        signout: 'auth/logout'
      })
    },
    methods: {
      ...mapActions({
        getSelectedClinic: 'clinic/getSelectedClinic',
        createAppointment: 'appointment/createAppointment',
        updateAppointment: 'appointment/updateAppointment',
        getCurrentUser: 'auth/getCurrentUser'
      }),
      async selectAppointmentType () {
        const result = await action('Appointment Type', 'Cancel', this.appointmentTypes);
        if(result === 'Cancel') return;
        this.model.type = result;
      },
      save () {
        if(this.isUpdate) {
          this.update();
        } else {
          this.create();
        }
      },
      async create () {
        try {
          this.loading = true;
          const clinic = await this.getSelectedClinic();
          const user = await this.getCurrentUser();

          if(!this.model.reason || !this.model.selectedPatient.id) {
            this.$showAlert('Invalid input!', 'Please complete all required information.');
            this.loading = false;
            return;
          }

          const payload = {
            organization: clinic.id,
            target: user.uid,
            startAt: this.model.startDate,
            endAt: this.model.endDate,
            reason: this.model.reason,
            meta: {
              type: this.model.type,
              patient: this.model.selectedPatient.id
            }
          }

          await this.createAppointment(payload);

          this.$showAlert('Success!', 'New appointment has been created!');

          this.model.type = 'visit';
          this.model.startDate = new Date(),
          this.model.endDate = new Date(),
          this.model.reason = '';
          this.model.selectedPatient = {
            name: {
              firstName: '',
              lastName: ''
            }
          }
          this.loading = false;
        } catch (e) {
          console.log('error#appointment - create', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.loading = false;
        }
      },
      async update () {
        try {
          this.loading = true;

          if(!this.model.reason || !this.model.selectedPatient.id) {
            this.$showAlert('Invalid input!', 'Please complete all required information.');
            this.loading = false;
            return;
          }

          const payload = {
            startAt: this.model.startDate,
            endAt: this.model.endDate,
            reason: this.model.reason,
            meta: {
              type: this.model.type,
              patient: this.model.selectedPatient.id
            }
          }

          await this.updateAppointment({id: this.appointment.id, payload});

          this.$showAlert('Success!', 'Appointment has been updated!');

          this.loading = false;
        } catch (e) {
          console.log('error#appointment - update', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.loading = false;
        }
      },
      logout () {
        this.signout();
        this.$nami.navigate('login');
      }
    },
    watch: {
      model: {
        handler (val) {
          this.formattedStartDate = this.$formatDate(new Date(val.startDate), 'MM/DD/YYYY HH:mm');
          this.formattedEndDate = this.$formatDate(new Date(val.endDate), 'MM/DD/YYYY HH:mm');
        },
        deep: true
      },
      searchSelectedPatient (val) {
        this.model.selectedPatient = val;
      },
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>