<template>
  <stack-layout orientation="vertical" paddingBottom="80">
    <flex-box-layout
      padding="30" 
      alignItems="center" 
      justifyContent="center"
      v-if="!carePlans.length && !medicationOrders.length && !diagnosticOrders.length && !procedures.length"> 
      <label>No records yet.</label>
    </flex-box-layout>

    <stack-layout marginTop="20" v-if="carePlans.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Care Plan Notes:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in carePlans" 
            :key="key" 
            height="50" 
            width="150" 
            :marginRight="key === carePlans.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <care-plan-card
              v-if="record.type === 'care-plan'" 
              :record="record">
            </care-plan-card>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

    <stack-layout marginTop="20" v-if="medicationOrders.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Prescriptions:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in medicationOrders" 
            :key="key" 
            :marginRight="key === medicationOrders.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <medication-order-card
              v-if="record.type === 'medication-order'" 
              :record="record">
            </medication-order-card>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

    <stack-layout marginTop="20" v-if="diagnosticOrders.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Diagnostic:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in diagnosticOrders" 
            :key="key" 
            :marginRight="key === diagnosticOrders.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <diagnostic-order-card
              v-if="record.type === 'lab-test-order'" 
              :record="record">
            </diagnostic-order-card>
            <diagnostic-order-card
              v-if="record.type === 'imaging-test-order'" 
              :record="record">
            </diagnostic-order-card>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>
    
    <stack-layout marginTop="20" v-if="procedures.length >= 1">
      <flex-box-layout flexDirection="row" marginBottom="3" marginLeft="20">
        <label alignSelf="left" fontWeight="bold" color="#0099cc">Procedure:</label>
      </flex-box-layout>
      <scroll-view orientation="horizontal" scrollBarIndicatorVisible="false">
        <stack-layout orientation="horizontal">
          <card-view 
            v-for="(record, key) in procedures" 
            :key="key" 
            :marginRight="key === procedures.length-1 ? 20 : 5" 
            :marginLeft="key === 0 ? 20 : 0"
            marginBottom="5">
            <procedure-card :record="record">
            </procedure-card>
          </card-view>
        </stack-layout>
      </scroll-view>
    </stack-layout>

  </stack-layout>
</template>

<script>
  import { mapGetters } from 'vuex';
  import carePlanCard from '~/components/medical-records/care-plan/card';
  import medicationOrderCard from '~/components/medical-records/medication-order/card';
  import diagnosticOrderCard from '~/components/medical-records/diagnostic-order/card';
  import procedureCard from '~/components/medical-records/procedure/card';

  export default {
    components: {
      carePlanCard,
      medicationOrderCard,
      diagnosticOrderCard,
      procedureCard
    },
    created () {
      console.log('current-encounter/plan#created#diagnosticOrders', this.diagnosticOrders);
    },
    data() {
      return {
        loading: false,
      }
    },
    computed: {
      ...mapGetters({
        carePlans: 'medRecord/carePlans',
        medicationOrders: 'medRecord/medicationOrders',
        diagnosticOrders: 'medRecord/diagnosticOrders',
        procedures: 'medRecord/procedures'
      })
    },
  }
</script>
