<template>
  <grid-layout rows="auto, *">
    <fab
      v-if="!loading"
      @tap="fabTap()" 
      ref="fabBtn" 
      row="1" 
      icon="~/assets/images/mycure-icon-doctor-plus-white.png" 
      rippleColor="#f1f1f1" 
      :class="{'fab-button': true, 'animate-fab': tab === 3}">
    </fab>

    <stack-layout row="1" orientation="vertical" v-if="loading">
      <activity-indicator width="50" :busy="loading" color="#0099cc" marginTop="20"></activity-indicator>
    </stack-layout>
    
    <stack-layout row="1" orientation="vertical" v-else>
      <stack-layout orientation="vertical" height="100%" width="100%">
        <stack-layout backgroundColor="white">
          <segmented-bar 
            selectedBackgroundColor="#0099cc"
            @selectedIndexChange="segmentedBarChanged">
            <segmented-bar-item title="Pending"></segmented-bar-item>
            <segmented-bar-item title="Confirmed"></segmented-bar-item>
            <segmented-bar-item title="Cancelled"></segmented-bar-item>
          </segmented-bar>
        </stack-layout>
        <!-- PENDING -->
        <stack-layout v-if="selectedSegmented === 0">
          <list-view for="appointment in pendingAppointments" @itemTap="selectPending" height="100%">
            <v-template>
              <stack-layout class="list-item-container" orientation="horizontal">
                <stack-layout orientation="vertical">
                  <image class="list-item-avatar" v-if="appointment.patient && appointment.patient.picURL" :src="appointment.patient.picURL"/>
                  <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
                </stack-layout>
                <stack-layout orientation="vertical">
                  <label class="list-item-title">{{$parseName(appointment.patient.name)}}</label>
                    <label class="list-item-title" fontSize="10">Reason: {{appointment.reason}}</label>
                    <label class="list-item-title" fontSize="10">Start: {{$formatDate(appointment.startAt, 'MM-DD-YYYY hh:mmA')}}</label>
                    <label class="list-item-title" fontSize="10">End: {{$formatDate(appointment.endAt, 'MM-DD-YYYY hh:mmA')}}</label>
                </stack-layout>
              </stack-layout>
            </v-template>
          </list-view>
        </stack-layout>
        <!-- CONFIRMED -->
        <stack-layout v-if="selectedSegmented === 1">
          <list-view for="appointment in confirmedAppointments" height="100%">
            <v-template>
              <stack-layout class="list-item-container" orientation="horizontal">
                <stack-layout orientation="vertical">
                  <image class="list-item-avatar" v-if="appointment.patient && appointment.patient.picURL" :src="appointment.patient.picURL"/>
                  <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
                </stack-layout>
                <stack-layout orientation="vertical">
                  <label class="list-item-title">{{$parseName(appointment.patient.name)}}</label>
                    <label class="list-item-title" fontSize="10">Reason: {{appointment.reason}}</label>
                    <label class="list-item-title" fontSize="10">Start: {{$formatDate(appointment.startAt, 'MM-DD-YYYY hh:mmA')}}</label>
                    <label class="list-item-title" fontSize="10">End: {{$formatDate(appointment.endAt, 'MM-DD-YYYY hh:mmA')}}</label>
                </stack-layout>
              </stack-layout>
            </v-template>
          </list-view>
        </stack-layout>
        <!-- CANCELLED -->
        <stack-layout v-if="selectedSegmented === 2">
          <list-view for="appointment in cancelledAppointments" height="100%">
            <v-template>
              <stack-layout class="list-item-container" orientation="horizontal">
                <stack-layout orientation="vertical">
                  <image class="list-item-avatar" v-if="appointment.patient && appointment.patient.picURL" :src="appointment.patient.picURL"/>
                  <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
                </stack-layout>
                <stack-layout orientation="vertical">
                  <label class="list-item-title">{{$parseName(appointment.patient.name)}}</label>
                    <label class="list-item-title" fontSize="10">Reason: {{appointment.reason}}</label>
                    <label class="list-item-title" fontSize="10">Start: {{$formatDate(appointment.startAt, 'MM-DD-YYYY hh:mmA')}}</label>
                    <label class="list-item-title" fontSize="10">End: {{$formatDate(appointment.endAt, 'MM-DD-YYYY hh:mmA')}}</label>
                </stack-layout>
              </stack-layout>
            </v-template>
          </list-view>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </grid-layout>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  
  export default {
    props: ['tab', 'isLoading'],
    created() {

    },
    data() {
      return {
        loading: false,
        loadedOnce: false,
        selectedClinic: {},
        selectedSegmented: 0
      }
    },
    computed: {
      ...mapGetters({
        appointments: 'appointment/appointments',
        pendingAppointments: 'appointment/pendingAppointments',
        confirmedAppointments: 'appointment/confirmedAppointments',
        cancelledAppointments: 'appointment/cancelledAppointments'
      })
    },
    methods: {
      ...mapActions({
        signout: 'auth/logout',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getAppointments: 'appointment/getAppointments',
        getCurrentUser: 'auth/getCurrentUser',
        confirmAppointment: 'appointment/confirmAppointment',
        cancelAppointment: 'appointment/cancelAppointment'
      }),
      ...mapMutations({
        setSelectedPatient: 'patient/setSelectedPatient'
      }),
      async init() {
        try {
          this.loading = true;
          this.selectedClinic = await this.getSelectedClinic();
          const { uid } = await this.getCurrentUser();

          await this.getAppointments({uid});

          console.log(this.appointments)
          
          this.loading = false;
          this.loadedOnce = true;
          this.$emit('doneRefresh');
        } catch (e) {
          console.error('error#patient/list', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.$emit('doneRefresh');
          this.loading = false;
        }
      },
      async fabTap() {
        this.$nami.navigate('create-appointment');
      },
      async selectPending({ index, item }) {
        const options = [
          // 'Update Appointment',
          'Confirm Appointment', 
          'Cancel Appointment'
        ];
        const result = await action('Options', 'Close', options);
        if(result === 'Close')
          return;
        // else if(result === 'Update Appointment')
          // this.$nami.navigate('create-appointment', {props: {appointment: item}});
        else if(result === 'Confirm Appointment')
          this.confirm(item);
        else if(result === 'Cancel Appointment')
          this.cancel(item);
      },
      async confirm(appointment) {
        try {
          this.loading = true;
          await this.confirmAppointment({id: appointment.id});
          this.init();
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error confirming appointment!', e.message);
          console.log(e);
        }
      },
      async cancel(appointment) {
        try {
          this.loading = true;
          await this.cancelAppointment({id: appointment.id});
          this.init();
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error cancelling appointment!', e.message);
          console.log(e);
        }
      },
      segmentedBarChanged({value:index}) {
        this.selectedSegmented = index;
      },
      logout() {
        this.signout();
        this.$nami.navigate('login');
      }
    }, 
    watch: {
      tab(val) {
        this.showSearch = false;
        if(val === 3 && !this.loadedOnce) {
          this.init();
        }
      },
      isLoading(val) {
        console.log(val);
        if(val) {
          this.init();
        }
      },
      // loading(val) {
      //   if(val) 
      //     $dialogLoader.show(this.$loadingIndicatorOptions());
      //   else 
      //     $dialogLoader.hide();
      // }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }

  .forgot-password-container {
    padding: 30px;
  }
</style>