<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Prescription" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout class="container">
          <stack-layout v-for="(med, key) in model.medicines" :key="key" marginBottom="20">

            <grid-layout columns="*, auto">
              <label col="0" fontWeight="bold" fontSize="16" color="#0099cc">{{key + 1}}. {{med.genericName}}</label>
              <!-- <button class="outline-warning fas icon" col="1" marginRight="2">&#xf004;</button> -->
              <button class="outline-error far icon" col="1" @tap="removeMedicineItem(med)">&#xf2ed;</button>
            </grid-layout>

            <stack-layout orientation="horizontal">
              <stack-layout marginBottom="10" width="50%" marginRight="1">
                <grid-layout columns="auto, auto">
                  <label col="0" fontWeight="bold">Brand Name</label><label col="1" fontWeight="bold" color="red">*</label>
                </grid-layout>
                <stack-layout orientation="horizontal">
                  <text-field v-model="med.brandName" width="100%"></text-field>
                </stack-layout>
              </stack-layout>
              <stack-layout marginBottom="10" width="50%" marginLeft="1">
                <grid-layout columns="auto, auto">
                  <label col="0" fontWeight="bold">Formulation</label><label col="1" fontWeight="bold" color="red">*</label>
                </grid-layout>
                <text-field v-model="med.formulation" width="100%"></text-field>
              </stack-layout>
            </stack-layout>

            <stack-layout orientation="horizontal">
              <stack-layout marginBottom="10" width="50%" marginRight="1">
                <grid-layout columns="auto, auto">
                  <label col="0" fontWeight="bold">Dispense</label><label col="1" fontWeight="bold" color="red">*</label>
                </grid-layout>
                <stack-layout orientation="horizontal">
                  <text-field v-model="med.dispense" width="100%" keyboardType="number"></text-field>
                </stack-layout>
              </stack-layout>
              <stack-layout marginBottom="10" width="50%" marginLeft="1">
                <grid-layout columns="auto, auto">
                  <label col="0" fontWeight="bold">Dosage</label><label col="1" fontWeight="bold" color="red">*</label>
                </grid-layout>
                <text-field v-model="med.dosageSig" width="100%"></text-field>
              </stack-layout>
            </stack-layout>

            <stack-layout orientation="horizontal">
              <stack-layout marginBottom="10" width="50%" marginRight="1">
                <grid-layout columns="auto, auto">
                  <label col="0" fontWeight="bold">Frequency</label><label col="1" fontWeight="bold" color="red">*</label>
                </grid-layout>
                <stack-layout orientation="horizontal">
                  <text-field v-model="med.frequency" width="100%" returnKeyType="next"></text-field>
                </stack-layout>
              </stack-layout>
              <stack-layout marginBottom="10" width="50%" marginLeft="1">
                <label fontWeight="bold">Notes:</label>
                <text-field v-model="med.note" width="100%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>
          <stack-layout>
            <grid-layout columns="auto, auto" marginBottom="5">
              <label col="0" color="red">*</label>
              <label col="1"> = Required fields.</label>
            </grid-layout>
            <button @tap="$nami.navigate('search-medicine', {props: {source: model}})" class="outline-primary fas">&#xf067; Add Medicines</button>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: {
      record: {
        type: Object
      },
      isEdit: Boolean
    },
    async created () {
      if(this.record) {
        this.model.medicines = [...this.record.items].map(item => ({...item}));
      }
      await this.init();
    },
    data () {
      return {
        loading: false,
        model: {
          medicines: []
        }
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter',
        selectedMedicine: 'medicines/selectedMedicine',
        medicinesDefaults: 'medicines/medicinesDefaults',
        medicinesDefaultsList: 'medicines/medicinesDefaultsList'
      })
    },
    methods: {
      ...mapActions({
        getCurrentUser: 'auth/getCurrentUser',
        getMedicines: 'medicines/getMedicines',
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      ...mapMutations({
        // setSelectedMedicationOrderMedicines: 'medRecord/setSelectedMedicationOrderMedicines',
        pushSelectedMedicationOrderMedicines: 'medRecord/pushSelectedMedicationOrderMedicines'
      }),
      async init () {
        try {
          this.loading = true;
          const {
            facility,
            id,
            patient
          } = this.encounter;
          // const currenUser = await this.getCurrentUser();
          // await this.getMedicines({organization: facility, uid: currenUser.uid});
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/medicine-create/init', e);
        }
      },
      async save () {
        try {
          this.loading = true;
          let successMessage = '';
          const requiredKeys = ['brandName', 'formulation', 'dispense', 'dosageSig', 'frequency'];

          if(this.model.medicines.length === 0) {
            this.$showAlert('Oops!', 'Please add at least 1 medicine to continue.');
            this.loading = false;
            return;
          }

          // Check if all required fields are truthy
          if(!_.every(_.map(this.model.medicines, item => _.every(_.pick(item, requiredKeys))))) {
            this.$showAlert('Oops!', 'Please fill out all of the required fields.');
            this.loading = false;
            return;
          }
          
          if(this.isEdit) {
            const data = {
              id: this.record.id
            }
            await this.updateMedicalRecord({
              type: 'medication-order', 
              data,
              prescription: true,
              oldMeds: this.record.items,
              newMeds: this.model.medicines
            });
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Prescription Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;

            const data = {
              items: this.model.medicines
            }
            
            await this.createMedicalRecord({type: 'medication-order', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'Prescription Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap () {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord () {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Prescription Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async removeMedicineItem (med) {
        const meds = this.model.medicines;
        this.model.medicines = meds.filter(item => {
          console.log('item.id !== med.id', item.id !== med.id)
          return item.id !== med.id;
        });
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>