<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">MENSTRUAL HISTORY</label>
    <stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Menarche</label>
          <label fontSize="11" textWrap="true">{{record.menarche}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Interval (days)</label>
          <label fontSize="11" textWrap="true">{{record.interval}}</label>
        </stack-layout>  
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Duration (days)</label>
          <label fontSize="11" textWrap="true">{{record.duration}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Amount (mL)</label>
          <label fontSize="11" textWrap="true">{{record.amount}}</label>
        </stack-layout>  
      </stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Notes</label>
        <label fontSize="11">{{record.notes}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-menstrual-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>