<template>
  <stack-layout minHeight="140" width="260" padding="5" @tap="view">
    <stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">General</label>
          <label fontSize="11">{{record.general || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Skin</label>
          <label fontSize="11">{{record.skin || 'na'}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">HEENT</label>
          <label fontSize="11">{{record.ent || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Neck</label>
          <label fontSize="11">{{record.neck || 'na'}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Chest/Breast</label>
          <label fontSize="11">{{record.breasts || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Respiratory/Lungs</label>
          <label fontSize="11">{{record.respiratory || 'na'}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Cardiovascular</label>
          <label fontSize="11">{{record.cardiovascular || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Gastrointestinal/Abdomen</label>
          <label fontSize="11">{{record.gastrointestinal || 'na'}}</label>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-ros', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>