<template>
  <page @loaded="setStatusBar">
    <action-bar flat>
      <grid-layout width="100%" columns="30, *, 50" marginLeft="-10">
        <button @tap="$refs.drawer.nativeView.toggleDrawerState()" class="fas" fontSize="18" col="0" color="#767777" backgroundColor="transparent" paddingLeft="0">&#xf0c9;</button>
        <label class="toolbar-title" marginTop="4" :text="tabName"  col="1"/>
        <button @tap="refresh" class="fas" fontSize="18" col="2" color="#767777" backgroundColor="transparent">&#xf2f9;</button>
      </grid-layout>
    </action-bar>
    <rad-side-drawer ref="drawer">
      <stack-layout ~drawerContent backgroundColor="#f7f7f7">

        <list-view for="item in drawerItems" height="100%" @itemTap="selectDrawerItem">
          <v-template if="item.id === 'profile'">
            <stack-layout class="drawer-list-item">
              <image :src="item.personalDetails.picURL" alt="" class="drawer-image" v-if="item.personalDetails.picURL"/>
              <image :src="'~/assets/images/placeholder.png'" alt="" class="drawer-image" v-else/>
              <flex-box-layout alignItems="center" justifyContent="center">
                <label verticalAlignment="center">Dr. {{doctorFullName()}}</label>
              </flex-box-layout>
            </stack-layout>
          </v-template>
          <v-template else>
            <stack-layout class="drawer-list-item">
              <label>{{item.text}}</label>
            </stack-layout>
          </v-template>
        </list-view>

      </stack-layout>

      <tab-view 
        ~mainContent 
        :selectedIndex="selectedIndex" 
        iosIconRenderingMode="alwaysOriginal" 
        tabTextColor="black" 
        tabBackgroundColor="white" 
        selectedTabTextColor="#0099cc" 
        androidSelectedTabHighlightColor="#0099cc"
        @selectedIndexChange="tabChanged">
        
        <tab-view-item iconSource="~/assets/images/mycure-icons-mobile-main-nav-analytics.png">
          <scroll-view orientation="vertical">
            <dashboard-tab-content
              ref="dashboardTab"
              :tab="selectedIndex"
              :isLoading="loadDashboard"
              @navigateToTab="navigateToTab"
              @doneRefresh="doneRefresh"
            ></dashboard-tab-content>
          </scroll-view>
        </tab-view-item>

        <tab-view-item iconSource="~/assets/images/mycure-icons-mobile-main-nav-patients.png">
          <stack-layout orientation="vertical">
            <patients-tab-content
              ref="pxTab"
              :tab="selectedIndex"
              :isLoading="loadPatients"
              @navigateToTab="navigateToTab"
              @doneRefresh="doneRefresh"
            ></patients-tab-content>
          </stack-layout>
        </tab-view-item>

        <tab-view-item iconSource="~/assets/images/mycure-icons-mobile-main-nav-queue.png">
          <stack-layout orientation="vertical">
            <!-- <flex-box-layout alignItems="center" justifyContent="center" class="active-queue-name-container">
              <label>{{selectedQueue.queue.name}}</label>
            </flex-box-layout> -->
            <queue-items-tab-content
              :tab="selectedIndex"
              :isLoading="loadQueueItems"
              @navigateToTab="navigateToTab"
              @doneRefresh="doneRefresh"
            ></queue-items-tab-content>
          </stack-layout>
        </tab-view-item>

        <tab-view-item iconSource="~/assets/images/mycure-icons-mobile-main-nav-appointments.png">
          <stack-layout orientation="vertical">
            <appointments-tab-content
              :tab="selectedIndex"
              :isLoading="loadAppointments"
              @navigateToTab="navigateToTab"
              @doneRefresh="doneRefresh"
            ></appointments-tab-content>
          </stack-layout>
        </tab-view-item>
      </tab-view>
    </rad-side-drawer>
  </page>
</template>

<script>
  import dashboardTabContent from '~/components/dashboard';
  import patientsTabContent from '~/components/patient/list';
  import queueItemsTabContent from '~/components/queue-items/list';
  import appointmentsTabContent from '~/components/appointments/list';
  import { mapGetters, mapActions } from 'vuex';
  import { core } from '@mycure/sdk';
  import * as app from 'tns-core-modules/application';
  import * as platform from 'tns-core-modules/platform';
  import * as color from 'tns-core-modules/color';

  export default {
    components: {
      dashboardTabContent,
      queueItemsTabContent,
      patientsTabContent,
      appointmentsTabContent
    },
    async created() {
      await this.init();
      this.drawerItems[0].personalDetails = this.personalDetails;
    },
    data() {
      return {
        loading: false,
        loadDashboard: false,
        loadPatients: false,
        loadQueueItems: false,
        loadAppointments: false,
        puller: null,
        currentUser: null,
        personalDetails: {},
        selectedIndex: 0,
        tabName: 'MYCURE',
        selectedClinic: null,
        drawerItems: [
          {
            id: 'profile',
            text: 'Profile',
            personalDetails: {}
          },
          // {
          //   id: 'chat',
          //   text: 'Chat'
          // },
          {
            id: 'emr',
            text: 'EMR'
          },
          {
            id: 'logout',
            text: 'Logout'
          }
        ]
      }
    },
    computed: {
      ...mapGetters({
        selectedQueue: 'queue/selectedQueue'
      })
    },
    methods: {
      ...mapActions({
        getCurrentUser: 'auth/getCurrentUser',
        signout: 'auth/logout',
        getSelectedClinic: 'clinic/getSelectedClinic'
      }),
      setStatusBar () {
        if (app.android && platform.device.sdkVersion >= "21") {
            const window = app.android.foregroundActivity.getWindow();
            window.setStatusBarColor(new color.Color(255, 255, 255, 255).android);
            const decorView = window.getDecorView();
            decorView.setSystemUiVisibility(android.view.View.SYSTEM_UI_FLAG_LIGHT_STATUS_BAR);
        }
      },
      refresh(e) {
        this.loading = true;
        
        if(this.selectedIndex === 0) {
          // this.loadDashboard = true;
          this.$refs.dashboardTab.init();
        }

        if(this.selectedIndex === 1) {
          // this.loadPatients = true;
          this.$refs.pxTab.init();
        }
        
        if(this.selectedIndex === 2) {
          this.loadQueueItems = true;
        }
        
        if(this.selectedIndex === 3) {
          this.loadAppointments = true;
        }
      },
      doneRefresh() {
        this.loading = false;
        this.loadDashboard = false;
        this.loadPatients = false;
        this.loadQueueItems = false;
        this.loadAppointments = false;
      },
      async init() {
        try {
          this.loading = true;
          
          const result = await this.getCurrentUser();
          
          if(result)
            this.personalDetails = result;
          else {
            await this.$sessionExpired();
            await this.logout();
          }
          
          const { uid } = result;

          this.loading = false;
        } catch (e) {
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.loading = false;
        }
      },
      navigateToTab(index) {
        this.selectedIndex = index;
      },
      tabChanged({value:index}) {
        this.selectedIndex = index;
        const tabNames = [
          'Dashboard',
          'Manage Patients',
          'Queues',
          'Appointments'
        ];
        this.tabName = tabNames[index];
      },
      doctorFullName() {
        const nameArr = [];
        if(!this.personalDetails) 
          return nameArr.join('Loading...');

        const { name } = this.personalDetails;

        for (const key in name) {
          switch(key) {
            case 'firstName': nameArr[0] = name[key]; break;
            case 'middleName': nameArr[1] = name[key]; break;
            case 'lastName': nameArr[3] = name[key]; break;
            default: break;
          }
        }

        return nameArr.join(' ');
      },
      selectDrawerItem({index, item}) {
        switch(item.id) {
          case 'profile': this.$nami.navigate('update-profile'); break;
          // case 'chat': this.$nami.navigate('chat-inbox'); break;
          case 'emr': 
            this.$refs.drawer.nativeView.toggleDrawerState();
            this.navigateToTab(1);
          break;
          case 'logout': this.logout() ; break;
          default:;break;
        }
      },
      async logout() {
        await this.$refs.drawer.nativeView.toggleDrawerState();
        const result = await this.$showConfirm('All of your unsaved progress will be deleted.', 'Do you want to sign out?');
        if(result) {
          this.signout();
          this.$nami.navigate('login', {transition: {name: 'slideRight'}});
        }
      }
    }
  }
</script>

<style scoped>
  .drawer-header {
    height: 35%;
    background-color: #f7f7f7;
  }

  .drawer-body {
    height: 55%;
  }

  .drawer-footer {
    height: 10%;
  }

  .drawer-image {
    border-radius: 100%;
    width: 100;
  }

  .drawer-item {
    padding: 8 16;
    color: #333333;
    font-size: 16;
  }

  .drawer-list-item {
    padding: 15 10 15 10;
    color: #333333;
    font-size: 17;
  }

  .message {
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: #333333;
  }

  .drawer-button {
    background-image: url('~/assets/images/mycure-icon-doctor-nav-drawer.png');
    width: 30;
    height: 40;
    background-position: left center;
    background-size: 45 45;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .main-container {
    background-color: white;
  }
</style>
