<template>
  <scroll-view orientation="vertical">
    <stack-layout>
      <mc-patient-details
        :patient="patient"
        :editable="!loading">
      </mc-patient-details>

      <stack-layout class="container">
        <button class="primary" @tap="submit">Save</button>
      </stack-layout>
    </stack-layout>
  </scroll-view>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  let $dialogLoader = new LoadingIndicator();
  import mcPatientDetails from '~/components/commons/mc-patient-details';
  import _ from 'lodash';

  export default {
    components: {
      mcPatientDetails
    },
    created() {
      console.log(this.selectedPatient.medicalNote)
      const mappings = [
        {from: 'name.firstName', to: 'firstName'},
        {from: 'name.middleName', to: 'middleName'},
        {from: 'name.lastName', to: 'lastName'},
        {from: 'sex'},
        {from: 'dateOfBirth', format: d => new Date(d)},
        {from: 'personalDetails.mobileNo', to: 'mobileNo'},
        {from: 'personalDetails.address.street1', to: 'street1'},
        {from: 'personalDetails.address.street2', to: 'street2'},
        {from: 'personalDetails.address.city', to: 'city'},
        {from: 'personalDetails.address.province', to: 'province'},
        {from: 'personalDetails.address.country', to: 'country'},
        {from: 'personalDetails.tags', to: 'tags'},
        {from: 'personalDetails.insuranceCards', to: 'insuranceCards'},
        {from: 'medicalNote.text', to: 'additionalNote'}
      ];
      for (let { from, to = from, format = (x => x) } of mappings) {
        this.patient[to] = format(_.get(this.selectedPatient, from));
      }
    },
    data() {
      return {
        loading: false,
        patient: {
          firstName: '',
          middleName: '',
          lastName: '',
          sex: 'male',
          dateOfBirth: new Date(),
          mobileNo: '',
          street1: '',
          street2: '',
          city: '',
          province: '',
          country: '',
          tags: [],
          insuranceCards: [],
          additionalNote: ''
        }
      }
    },
    computed: {
      ...mapGetters({
        selectedPatient: 'patient/selectedPatient'
      })
    },
    methods: {
      ...mapActions({
        getSelectedClinic: 'clinic/getSelectedClinic',
        updatePatient: 'patient/updatePatient',
        getPatients: 'patient/getPatients',
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord'
      }),
      ...mapMutations({
        setSelectedPatient: 'patient/setSelectedPatient'
      }),
      async submit () {
        try {
          this.loading = true;

          const requiredKeys = [
            'firstName',
            'lastName',
            'sex',
            'dateOfBirth',
            'mobileNo'
          ];
          if(_.some(requiredKeys, key => !this.patient[key])) {
            alert({
              title: 'Error!',
              message: 'Please complete all required information.',
              okButtonText: 'Ok'
            });
            this.loading = false;
            return;
          }

          const extract = (data, keys) => _.pickBy(_.pick(data, keys));
          const patient = {
            id: this.selectedPatient.id,
            ...extract(this.patient, [
              'sex',
              'dateOfBirth',
              'mobileNo',
              'tags',
              'insuranceCards'
            ]),
            name: {
              ...extract(this.patient, [
                'firstName',
                'middleName',
                'lastName'
              ])
            },
            address: {
              ...extract(this.patient, [
                'street1',
                'street2',
                'city',
                'province',
                'country'
              ])
            }
          };

          const updatedPx = await this.updatePatient(patient);

          const selectedClinic = await this.getSelectedClinic();
          if (this.patient.additionalNote) {
            if (this.selectedPatient.medicalNote) {
              await this.updateMedicalRecord({
                type: 'medical-note',
                data: {
                  id: this.selectedPatient.medicalNote.id,
                  text: this.patient.additionalNote
                }
              });
            } else {
              await this.createMedicalRecord({
                type: 'medical-note',
                facility: selectedClinic.id,
                patient: this.selectedPatient.id,
                text: this.patient.additionalNote
              });
            }
          }

          this.loading = false;
          this.$showAlert('Success!', 'Patient successfully updated!');

          await this.getPatients(selectedClinic.id);
        } catch (e) {
          this.loading = false;
          console.error(e);
          alert({
            title: 'Error!',
            message: e.message,
            okButtonText: 'Ok'
          });
        }
      },
      async chooseSex () {
        const result = await action('Sex', 'Cancel', ['Male', 'Female']);
        if(result === 'Cancel') return;
        this.source.patient.sex = result.toLowerCase();
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }
</style>
