<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Choose Country"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <search-bar
        v-model="searchText"
        hint="Search here..."
        @textChange="onTextChanged"
        @clear="clear"
        @submit="onSubmit">
      </search-bar>
      <list-view
        for="(country, index) in countries"
        @itemTap="selectItem"
        height="100%">
        <v-template>
          <stack-layout padding="10">
            <label
              fontSize="18"
              :text="country.name">
            </label>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import countryDefaults from '~/assets/fixtures/country-defaults.json';
  import _ from 'lodash';

  export default {
    props: {
      patient: Object
    },
    data () {
      return {
        loading: false,
        countries: countryDefaults,
        searchText: '',
        debouncedSubmit: _.debounce(this.onSubmit, 1000)
      }
    },
    methods: {
      onTextChanged () {
        this.debouncedSubmit();
      },
      onSubmit () {
        this.countries = countryDefaults.filter(c =>
          _.includes(_.lowerCase(c.name), _.lowerCase(this.searchText)));
      },
      clear () {
        this.countries = countryDefaults;
      },
      selectItem ({ item: country }) {
        this.patient.country = country.alpha3;
        this.$nami.back();
      }
    },
  }
</script>
