<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Date and Time Picker" col="1"/>
      </grid-layout>
    </action-bar>
    <scroll-view orientation="vertical">
      <stack-layout orientation="vertical" class="container">
        <date-picker v-model="selectedDate"></date-picker>
        <time-picker v-model="selectedTime"></time-picker>
        <button class="primary" @tap="save">Select Date</button>
      </stack-layout>
    </scroll-view>
  </page>
</template>

<script>
  import { mapMutations } from 'vuex';
  export default {
    props: {
      source: Object,
      type: String,
      date: Date
    },
    data () {
      return {
        selectedDate: new Date(),
        hour: null,
        minute: null
      }
    },
    created () {
      this.selectedDate = this.date;
    },
    methods: {
      save () {
        const date = this.$formatDate(this.selectedDate, 'YYYY-MM-DD');
        const time = this.$formatDate(this.selectedTime, 'HH:mm:ss');
        this.source[this.type] = new Date(`${date} ${time}`);
        this.$navigateBack();
      }
    }
  }
</script>

