<template>
  <text-field 
    v-model="result" 
    @tap="pick" 
    editable="false">
  </text-field>
</template>

<script>
  import { ModalDatetimepicker } from 'nativescript-modal-datetimepicker';
  const mcDateTimePicker = new ModalDatetimepicker();
  import _ from 'lodash';

  export default {
    props: {
      type: {
        type: String,
        validator: (val) => ['date', 'time', 'date-time'].includes(val)
      },
      startingDate: Date,
      title: {
        type: String,
        default: 'Select Date'
      },
      format: {
        type: String,
        default: 'MMM DD, YYYY'
      },
      theme: {
        type: String,
        default: 'light'
      },
      maxDate: {
        type: Date,
        default: () => (new Date())
      }
    },
    data: (vm) => ({
      result: vm.$formatDate(vm.startingDate, vm.format)
    }),
    methods: {
      async pick () {
        try {
          const { title, theme, maxDate, startingDate } = this;
          const options = {
            title, 
            theme, 
            maxDate,
            startingDate
          }

          if(this.type === 'date') {
            const date = await this.pickDate(options);
            this.result = this.$formatDate(date, this.format);
            this.$emit('dateSelected', date);
          }

          if(this.type == 'time') {
            const { hour, minute } = await this.pickTime(options);
            const date = new Date().setHours(hour, minute, 0);
            this.result = this.$formatDate(new Date(date), this.format);
            this.$emit('timeSelected', new Date(date).getTime());
          }

          if(this.type == 'date-time') {
            const date = await this.pickDate();
            const { hour, minute } = await this.pickTime(options);
            const dateTime = new Date(date).setHours(hour, minute);
            this.result = this.$formatDate(dateTime, this.format);
            this.$emit('dateTimeSelected', new Date(dateTime).getTime());
          }
        } catch (e) {
          console.log('#error/mc-date-time-picker/pick()', e);
        }
      },
      async pickDate (options) {
        const { day, month, year } = await mcDateTimePicker.pickDate(options);
        return new Date(year, month - 1, day).getTime();
      },
      async pickTime (options) {
        const result = await mcDateTimePicker.pickTime(_.pick(options, ['title', 'theme']));
        return result;
      }
    },
    watch: {
      initialDate (val) {
        this.result = this.$formatDate(val, this.format);
      }
    }
  }
</script>

