<template>
  <stack-layout orientation="vertical" class="container">
    <stack-layout marginBottom="20">
      <label fontWeight="bold">First Name:</label>
      <text-field v-model="patient.firstName" :editable="editable"></text-field>
    </stack-layout>

    <stack-layout marginBottom="20">
      <label fontWeight="bold">Middle Name:</label>
      <text-field v-model="patient.middleName" :editable="editable"></text-field>
    </stack-layout>

    <stack-layout marginBottom="20">
      <label fontWeight="bold">Last Name:</label>
      <text-field v-model="patient.lastName" :editable="editable"></text-field>
    </stack-layout>

    <stack-layout marginBottom="20">
      <stack-layout orientation="horizontal">
        <stack-layout width="50%" paddingRight="5">
          <label fontWeight="bold">Sex:</label>
          <text-field 
                 v-model="patient.sex" 
                 editable="false"
                 @tap="chooseSex"
                 width="100%"
                 ></text-field>
        </stack-layout>

        <stack-layout width="50%" paddingLeft="5">
          <label fontWeight="bold">Date of Birth:</label>
          <mc-date-time-picker
            type="date"
            :startingDate="patient.dateOfBirth"
            @dateSelected="date => patient.dateOfBirth = date">
          </mc-date-time-picker>
        </stack-layout>
      </stack-layout>
    </stack-layout>

    <stack-layout marginBottom="20">
      <label fontWeight="bold">Mobile No.:</label>
      <text-field v-model="patient.mobileNo" :editable="editable" keyboardType="number"></text-field>
    </stack-layout>

    <stack-layout class="section">
      <label
        class="header"
        fontWeight="bold"
        marginBottom="10"
        text="Address:">
      </label>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Address Line 1:</label>
        <text-field v-model="patient.street1" :editable="editable"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Address Line 2:</label>
        <text-field v-model="patient.street2" :editable="editable"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <stack-layout orientation="horizontal">
          <stack-layout width="50%" paddingRight="5">
            <label fontWeight="bold">City/Municipality:</label>
            <text-field v-model="patient.city" :editable="editable"></text-field>
          </stack-layout>

          <stack-layout width="50%" paddingLeft="5">
            <label fontWeight="bold">Province:</label>
            <text-field v-model="patient.province" :editable="editable"></text-field>
          </stack-layout>
        </stack-layout>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Country:</label>
        <text-field 
               :text="getCountryName(patient.country)" 
               editable="false"
               @tap="chooseCountry"
               width="100%"
               >
        </text-field>
      </stack-layout>
    </stack-layout>

    <stack-layout class="section">
      <label
        class="header"
        fontWeight="bold"
        marginBottom="10"
        text="Tagging:">
      </label>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Tags:</label>
        <text-field 
               :text="getTags(patient.tags)" 
               editable="false"
               @tap="chooseTags"
               width="100%"
               >
        </text-field>
      </stack-layout>
    </stack-layout>

    <stack-layout class="section">
      <label
        class="header"
        fontWeight="bold"
        marginBottom="10"
        text="HMO Details:">
      </label>

      <stack-layout marginBottom="20">
        <label
          fontWeight="bold"
          text="HMOs:">
        </label>
        <stack-layout
          v-for="card in patient.insuranceCards"
          :key="card.id">
          <grid-layout columns="20, *, auto">
            <label
              col="0"
              text="•">
            </label>
            <stack-layout
              col="1"
              class="hmo">
              <label
                fontWeight="bold"
                :text="getInsurerName(getContract(card.id))">
              </label>
              <label
                :text="'Card No. ' + card.number">
              </label>
            </stack-layout>
            <stack-layout
              v-if="editable"
              col="2">
              <label
                class="fas delete"
                fontSize="12"
                marginTop="4"
                @tap="deleteCard(card)">
                &#xf057;
              </label>
            </stack-layout>
          </grid-layout>
        </stack-layout>
        <stack-layout
          v-if="!patient.insuranceCards || !patient.insuranceCards.length">
          <label text="No HMOs yet.">
          </label>
        </stack-layout>
      </stack-layout>

      <stack-layout
        v-if="editable"
        marginBottom="20">
        <label
          fontWeight="bold"
          text="Add HMO:">
        </label>
        <label>Select HMO:</label>
        <text-field 
          :text="getInsurerName(addCardData.contract)" 
          editable="false"
          @tap="chooseContract"
          width="100%">
        </text-field>

        <stack-layout v-if="addCardData.contract">
          <label>Card Number:</label>
          <text-field
            v-model="addCardData.number"
            :editable="editable">
          </text-field>
        </stack-layout>

        <button
          marginTop="20"
          text="Add"
          :isEnabled="isAddValid"
          @tap="addCard">
        </button>
      </stack-layout>
    </stack-layout>

    <stack-layout class="section">
      <label
        class="header"
        fontWeight="bold"
        marginBottom="10"
        text="Additional Notes:">
      </label>
      <stack-layout marginBottom="20">
        <label fontWeight="bold">Notes:</label>
        <text-view v-model="patient.additionalNote" :editable="editable"></text-view>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
import mcDateTimePicker from '~/components/commons/mc-date-time-picker';
import mcCountryPicker from '~/components/commons/mc-country-picker';
import { mapState, mapActions } from 'vuex';
import countryDefaults from '~/assets/fixtures/country-defaults.json';
import _ from 'lodash';

export default {
  props: {
    patient: Object,
    editable: Boolean
  },
  components: {
    mcDateTimePicker,
    mcCountryPicker
  },
  created () {
    this.getInsuranceContracts();
  },
  data () {
    return {
      addCardData: {
        contract: null,
        number: null
      }
    };
  },
  computed: {
    ...mapState('clinic', ['insuranceContracts']),
    isAddValid () {
      return _.every(this.addCardData);
    }
  },
  methods: {
    ...mapActions('clinic', ['getInsuranceContracts']),
    async chooseSex () {
      const result = await action('Sex', 'Cancel', ['Male', 'Female']);
      if(result === 'Cancel') return;
      this.patient.sex = result.toLowerCase();
    },
    getCountryName (alpha3) {
      if (!alpha3) return '';

      const country =  countryDefaults.find(c => c.alpha3 === alpha3);
      if (!country) return '';

      return country.name;
    },
    chooseCountry () {
      this.$nami.navigate('mc-country-picker', {
        props: {patient: this.patient}
      });
    },
    getTags (tags = []) {
      if(!Array.isArray(tags)) return '';
      return tags.join(', ');
    },
    chooseTags () {
      this.$nami.navigate('mc-search-tags', {
        props: {patient: this.patient}
      });
    },
    getContract (id) {
      return _.find(this.insuranceContracts, c => c.id === id);
    },
    getInsurerName (contract) {
      return _.get(contract, 'insurerName', '');
    },
    chooseContract () {
      this.$nami.navigate('mc-search-contracts', {
        props: {addCardData: this.addCardData}
      });
    },
    addCard () {
      const { contract: { id }, number } = this.addCardData;
      this.patient.insuranceCards =
        _.concat(this.patient.insuranceCards || [], {id, number});

      this.addCardData.contract = null;
      this.addCardData.number = null;
    },
    async deleteCard (card) {
      const res = await this.$showConfirm('Really delete this HMO card?');
      console.log('McPatientDetails#deleteCard#res', res);
      if (!res) return;

      const { id } = card;
      this.patient.insuranceCards =
        _.filter(this.patient.insuranceCards, c => c.id !== id);
    }
  }
};
</script>

<style scoped>
.header {
  color: #0099cc;
  font-size: 18;
}

.delete {
  text-align: right;
}
</style>
