<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Search ICD10"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <search-bar v-model="searchText" ref="searchBar" hint="Search here..." @textChange="onTextChanged" @submit="onSubmit" />
      <list-view for="(icd10, index) in icd10Defaults" @itemTap="selectICD10" @clear="clear" height="100%">
        <v-template>
          <stack-layout padding="10">
            <label fontSize="18">{{icd10.id}} - {{icd10.text}}</label>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import { mapActions, mapGetters, mapMutations } from 'vuex';

  export default {
    props: {
      source: Object
    },
    data () {
      return {
        loading: false,
        searchResults: [],
        searchText: ''
      }
    },
    computed: {
      ...mapGetters({
        icd10Defaults: 'fixture/icd10Defaults'
      })
    },
    async created () {
      await this.init();
    },
    onPageLoaded () {
      setTimeout(this.$refs.searchBar.nativeView.dismissSoftInput, 500);
    },
    methods: {
      ...mapActions({
        getICD10Defaults: 'fixture/getICD10Defaults'
      }),
      async init () {
        try {
          this.loading = true;
          await this.getICD10Defaults();
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/init', e);
        }
      },
      selectICD10 ({item, index}) {
        this.source.icd10 = `${item.id} - ${item.text}`;
        this.$nami.back();
      },
      async onTextChanged ({value}) {
        // try {
        //   this.loading = true;
        //   console.log('search text ===================>', value)
        //   const {
        //     facility,
        //     id,
        //     patient
        //   } = this.encounter;
        //   const currenUser = await this.getCurrentUser();
        //   await this.searchMedicines({organization: facility, uid: currenUser.uid, searchText: value});
        //   this.loading = false;
        // } catch (e) {
        //   this.loading = false;
        //   this.$showAlert(e.message);
        //   console.log('#error/onTextChanged', e);
        // }
      },
      async onSubmit ({value}) {
        try {
          this.loading = true;
          await this.getICD10Defaults(this.searchText);
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/onTextChanged', e);
        }
      },
      clear () {
        this.init();
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>