<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Choose Tags"  col="1"/>
      </grid-layout>
      <action-item @tap="submit">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <list-view
      ref="list"
      for="tag in tags"
      @itemTap="selectTag"
      height="100%">
      <v-template>
        <grid-layout columns="auto, *" padding="10">
          <label
            :class="{fas: isSelected(tag), far: !isSelected(tag)}"
            fontSize="16"
            marginTop="5"
            marginRight="10"
            :color="isSelected(tag) ? '#0099cc' : ''"
            col="0">&#xf14a;</label>
          <label
            col="1"
            fontSize="16"
            :text="tag">
          </label>
        </grid-layout>
      </v-template>
    </list-view>
  </page>
</template>

<script>
import { mapState } from 'vuex';
import _ from 'lodash';

export default {
  props: {
    patient: Object
  },
  data () {
    return {
      selectedTags: [...(this.patient.tags || [])]
    };
  },
  computed: {
    ...mapState('clinic', ['selectedClinic']),
    tags () {
      const defaultTags = ['VIP', 'Senior Citizen'];
      return _.concat(this.selectedClinic.tags || [], defaultTags);
    }
  },
  methods: {
    isSelected (tag) {
      return _.includes(this.selectedTags, tag);
    },
    selectTag ({ item }) {
      if (this.isSelected(item)) {
        this.selectedTags = _.without(this.selectedTags, item);
      } else {
        this.selectedTags = _.concat(this.selectedTags, item);
      }

      this.$refs.list.refresh();
    },
    submit () {
      this.patient.tags = this.selectedTags;
      this.$nami.back();
    }
  }
};
</script>
