<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Choose HMO"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <search-bar
        v-model="searchText"
        hint="Search here..."
        @clear="clear"
        @submit="onSubmit">
      </search-bar>
      <list-view
        for="contract in insuranceContracts"
        @itemTap="selectItem"
        height="100%">
        <v-template>
          <stack-layout padding="10">
            <label
              fontSize="18"
              :text="contract.insurerName">
            </label>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    addCardData: Object
  },
  async created () {
    this.loading = true;
    try {
      await this.getInsuranceContracts();
    } catch (e) {
      console.log(e);
    } finally {
      this.loading = false;
    }
  },
  data () {
    return {
      loading: false,
      searchText: ''
    };
  },
  computed: {
    ...mapState('clinic', ['insuranceContracts'])
  },
  watch: {
    loading (val) {
      if (val) this.$dialogLoader().show();
      else this.$dialogLoader().hide();
    }
  },
  methods: {
    ...mapActions('clinic', ['getInsuranceContracts']),
    async onSubmit () {
      console.log('McSearchContracts#onSubmit#insuranceContracts', this.insuranceContracts);
      try {
        this.loading = true;
        await this.getInsuranceContracts(this.searchText);
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    async clear () {
      try {
        this.loading = true;
        await this.getInsuranceContracts();
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    selectItem ({ item: contract }) {
      this.addCardData.contract = contract;
      this.$nami.back();
    }
  }
};
</script>
