<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Search Procedure"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <!-- <search-bar v-model="searchText" hint="Search here..." @textChange="onTextChanged" @submit="onSubmit" /> -->
      <list-view for="(procedure, index) in proceduresDefaults" @itemTap="selectProcedure" @clear="clear" height="100%">
        <v-template>
          <stack-layout padding="10">
            <label fontSize="18">{{procedure.name}}</label>
            <label fontSize="16" color="#cccccc">{{procedure.priceCurrency}}{{procedure.price}}</label>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import { mapActions, mapGetters, mapMutations } from 'vuex';

  export default {
    props: {
      source: Object
    },
    data () {
      return {
        loading: false,
        searchResults: [],
        searchText: ''
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter',
        proceduresDefaults: 'procedure/proceduresDefaults'
      })
    },
    async created () {
      await this.init();
    },
    methods: {
      ...mapActions({
        getCurrentUser: 'auth/getCurrentUser',
        getProcedures: 'procedure/getProcedures'
      }),
      async init () {
        try {
          this.loading = true;
          const {
            facility,
            id,
            patient
          } = this.encounter;
          await this.getProcedures({facility, filters: ['clinical-procedure']});
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/init', e);
        }
      },
      selectProcedure ({item, index}) {
        const data = {
          ref: item.id,
          text: item.name
        }
        this.source.recommendedProcedures.push({...data});
        this.$nami.back();
      },
      async onTextChanged ({value}) {
        // try {
        //   this.loading = true;
        //   console.log('search text ===================>', value)
        //   const {
        //     facility,
        //     id,
        //     patient
        //   } = this.encounter;
        //   const currenUser = await this.getCurrentUser();
        //   await this.searchMedicines({organization: facility, uid: currenUser.uid, searchText: value});
        //   this.loading = false;
        // } catch (e) {
        //   this.loading = false;
        //   this.$showAlert(e.message);
        //   console.log('#error/onTextChanged', e);
        // }
      },
      async onSubmit ({value}) {
        // try {
        //   this.loading = true;
        //   console.log('search text ===================>', value)
        //   const {
        //     facility,
        //     id,
        //     patient
        //   } = this.encounter;
        //   const currenUser = await this.getCurrentUser();
        //   await this.searchMedicines({organization: facility, uid: currenUser.uid, searchText: this.searchText});
        //   this.loading = false;
        // } catch (e) {
        //   this.loading = false;
        //   this.$showAlert(e.message);
        //   console.log('#error/onTextChanged', e);
        // }
      },
      clear () {
        // this.specializations = specializations;
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>