<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Search Medicine"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <search-bar
        v-model="searchText"
        hint="Search here..."
        @textChange="onTextChanged"
        @submit="onSubmit" />
      <list-view for="(med, index) in medicinesDefaults" @itemTap="selectMeds"  height="100%">
        <v-template>
          <stack-layout padding="10">
            <label fontSize="18">{{med.genericName}}</label>
            <label fontSize="16" color="#cccccc">{{med.brandName || 'No Brand Name'}}</label>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import specializations from '~/assets/fixtures/specializations.json';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import { mapActions, mapGetters, mapMutations } from 'vuex';

  export default {
    props: {
      source: Object
    },
    data () {
      return {
        loading: false,
        searchResults: [],
        searchText: '',
        debouncedSubmit: _.debounce(this.onSubmit, 2500)
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter',
        medicinesDefaults: 'medicines/medicinesDefaults'
      })
    },
    async created () {
      await this.init();
    },
    methods: {
      ...mapActions({
        getCurrentUser: 'auth/getCurrentUser',
        getMedicines: 'medicines/getMedicines',
        searchMedicines: 'medicines/searchMedicines'
      }),
      async init () {
        try {
          this.loading = true;
          const {
            facility,
            id,
            patient
          } = this.encounter;
          const currentUser = await this.getCurrentUser();
          await this.getMedicines({organization: facility, uid: currentUser.uid});
          this.cachedFullList = this.medicinesDefaults;
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/init', e);
        }
      },
      selectMeds ({item, index}) {
        const data = {
          brandName: item.brandName,
          genericName: item.genericName
        }
        this.source.medicines.push({...data});
        this.$nami.back();
      },
      onTextChanged ({value}) {
        this.debouncedSubmit();
      },
      async onSubmit () {
        try {
          this.loading = true;
          const {
            facility,
            id,
            patient
          } = this.encounter;
          const currentUser = await this.getCurrentUser();
          await this.searchMedicines({
            organization: facility,
            uid: currentUser.uid,
            searchText: this.searchText
          });
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert(e.message);
          console.log('#error/onTextChanged', e);
        }
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>
