<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Search Patient" col="1"/>
      </grid-layout>
      <!-- <action-item @tap="save">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item> -->
    </action-bar>
    <grid-layout rows="auto, *">
      <stack-layout row="1" orientation="vertical">
        <search-bar 
          ref="searchBar" 
          v-model="searchQuery" 
          @clear="clearSearch"
          @textChange="submitSearch"
          @submit="submitSearch"
          hint="Search patients by name" 
          marginTop="10" 
          marginBottom="10">
        </search-bar>
        <flex-box-layout class="forgot-password-container" alignItems="center" justifyContent="center" v-if="patients.length === 0">
          <label :text="isSearching ? 'Searching...' : 'No patients found.'"></label>
        </flex-box-layout>
        <stack-layout orientation="vertical" height="100%" width="100%" v-else>
          <list-view for="patient in patients" @itemTap="selectPatient" height="100%">
            <v-template>
              <stack-layout class="list-item-container" orientation="horizontal">
                <stack-layout orientation="vertical">
                  <image class="list-item-avatar" v-if="patient.picURL" :src="patient.picURL"/>
                  <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
                </stack-layout>
                <stack-layout orientation="vertical">
                  <label class="list-item-title">{{$parseName(patient.name)}}</label>
                  <label class="list-item-title" fontSize="10">Birthday: {{$formatDate(patient.dateOfBirth, 'MMM DD, YYYY')}}</label>
                  <label class="list-item-title" fontSize="10">Sex: {{patient.sex.toUpperCase()}}</label>
                  <label class="list-item-title" fontSize="10">Last Visit: {{$formatDate(patient.lastVisitAt)}}</label>
                </stack-layout>
              </stack-layout>
            </v-template>
          </list-view>
        </stack-layout>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import { mapMutations, mapActions, mapGetters } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();

  export default {
    created () {
      this.init();
    },
    data () {
      return {
        loading: false,
        searchQuery: '',
      }
    },
    computed: {
      ...mapGetters({
        patients: 'patient/patients',
        clinics: 'clinic/clinics'
      })
    },
    methods: {
      ...mapActions({
        searchPatient: 'patient/searchPatient',
        getPatients: 'patient/getPatients',
        getSelectedClinic: 'clinic/getSelectedClinic',
      }),
      ...mapMutations({
        setSearchSelectedPatient: 'patient/setSearchSelectedPatient'
      }),
      async init () {
        try {
          this.loading = true;
          this.selectedClinic = await this.getSelectedClinic();

          await this.getPatients(this.selectedClinic.id);
          
          this.loading = false;
        } catch (e) {
          console.error('error#patient-search/list', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.$emit('doneRefresh');
          this.loading = false;
        }
      },
      selectPatient ({ index, item }) {
        this.setSearchSelectedPatient(item);
        this.$nami.back();
      },
      async submitSearch (e) {
        try {
          console.log('searching...', e.value);
          const facilityIds = this.clinics.map(clinic => clinic.id);
          await this.searchPatient({facilityIds, queryString: e.value});
        } catch (e) {
          console.error(e);
        }
      },
      async clearSearch () {
        try {
          setTimeout(this.$refs.searchBar.nativeView.dismissSoftInput, 100);
          await this.init();
        } catch (e) {
          console.error(e);
        }
      },
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }

  .forgot-password-container {
    padding: 30px;
  }
</style>
