<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Specialization"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout>
      <search-bar hint="Search here..." @textChange="onTextChanged" @submit="onSubmit" />
      <list-view for="(spec, index) in specializations" @itemTap="selectSpec" @clear="clear" height="100%">
        <v-template>
          <grid-layout columns="40, *" padding="20">
            <label :class="{'far': !spec.selected, 'fas': spec.selected}" :color="spec.selected ? '#0099cc' : ''" fontSize="18" marginTop="3" col="0">&#xf14a;</label>
            <label fontSize="18" col="1">{{spec.spec}}</label>
          </grid-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import specializations from '~/assets/fixtures/specializations.json';
  import { mapMutations } from 'vuex';

  export default {
    data() {
      return {
        specializations: specializations,
        searchResults: [],
        searchText: ''
      }
    },
    created() {
      
    },
    methods: {
      ...mapMutations({
        setSelectedFromSearch: 'spec/setSelectedFromSearch',
        removeItemFromSelectedFromSearch: 'spec/removeItemFromSelectedFromSearch'
      }),
      onTextChanged({value}) {
        if(value === '') {
          this.specializations = specializations;
          return;
        }
        const results = specializations.filter(item => {
          return item.spec.toLowerCase().includes(value);
        });
        this.specializations = results;
      },
      onSubmit() {},
      clear() {
        this.specializations = specializations;
      },
      selectSpec({item, index}) {
        this.specializations[index].selected = !this.specializations[index].selected;

        console.log(this.specializations[index].selected, index);
        console.log(this.specializations.filter(item => item.selected))
        
        this.setSelectedFromSearch(this.specializations.filter(item => item.selected));

        // if(!this.specializations[index].selected)
          // this.removeItemFromSelectedFromSearch(index);
      }
    }
  }
</script>