<template>
  <grid-layout rows="auto, *">

    <stack-layout row="1" orientation="vertical" v-if="loading">
      <activity-indicator width="50" :busy="loading" color="#0099cc" marginTop="20"></activity-indicator>
    </stack-layout>

    <stack-layout row="1" orientation="vertical" class="container" v-else>
      <!-- <card-view radius="10" ripple="true" v-if="!loading" @tap="$nami.navigate('clinic', {props: {clinic: selectedClinic}})"> -->
      <card-view radius="10" ripple="true" v-if="!loading">
        <stack-layout>
          <image height="120" stretch="aspectFill" :src="selectedClinic ? selectedClinic.picURL : '~/assets/images/placeholder.png'"/>
          
          <stack-layout orientation="vertical" padding="15">
            <label class="doctor-name">Hi, Doc {{personalDetails && personalDetails.name ? personalDetails.name.firstName : ''}}</label>
            <label class="active-clinic-text" marginBottom="5">YOU ARE CURRENTLY IN</label>
            <button @tap="$nami.navigate('clinic-list')" class="far" background="#0099cc" color="white" width="100%">{{selectedClinic ? selectedClinic.name + ' &#xf0dd;' : ''}}</button>
          </stack-layout>
        </stack-layout>
      </card-view>

      <stack-layout orientation="vertical" v-if="!loading">
        <flexbox-layout class="count-container" alignItems="flex-center">
          <card-view radius="10" ripple="true" width="33%" @tap="navigateTo(1)">
            <stack-layout>
              <label class="count-text">{{clinicPxCount}}</label>
              <label class="subhead-subtext">PATIENT</label>
            </stack-layout>
          </card-view>

          <card-view radius="10" ripple="true" width="33%" @tap="navigateTo(2)">
            <stack-layout>
              <label class="count-text">{{clinicQueueCount}}</label>
              <label class="subhead-subtext">IN QUEUE</label>
            </stack-layout>
          </card-view>
          
          <card-view radius="10" ripple="true" width="33%" @tap="navigateTo(3)">
            <stack-layout>
              <label class="count-text">{{clinicAppointmentsCount}}</label>
              <label class="subhead-subtext">APPOINTMENTS</label>
            </stack-layout>
          </card-view>
        </flexbox-layout>

        <stack-layout paddingTop="20" orientation="vertical" v-if="loadingAnalytics">
          <activity-indicator width="50" :busy="loadingAnalytics" v-if="loadingAnalytics" color="#0099cc"></activity-indicator>
        </stack-layout>

        <stack-layout orientation="vertical" v-if="!loadingAnalytics">
          <stack-layout marginLeft="5" marginTop="10">
            <label>PATIENT VISIT SUMMARY</label>
          </stack-layout>
          <card-view radius="10" ripple="true">
            <rad-cartesian-chart 
              height="250">

              <rad-legend-view 
                v-tkCartesianLegend 
                position="top" 
                height="50" 
                enableSelection="true">
              </rad-legend-view>

              <bar-series 
                legendTitle="New Patients"
                :items="patientVisit"
                showLabels
                stackMode="stack"
                v-tkCartesianSeries
                categoryProperty="date"
                valueProperty="firstTime" />

              <bar-series 
                legendTitle="Returning Patients"
                :items="patientVisit"
                showLabels
                stackMode="stack"
                v-tkCartesianSeries
                categoryProperty="date"
                valueProperty="returning" />

              <categorical-axis v-tkCartesianHorizontalAxis />

              <linear-axis v-tkCartesianVerticalAxis />
            </rad-cartesian-chart>
          </card-view>

          <stack-layout marginLeft="5" marginTop="10">
            <label>SEX</label>
          </stack-layout>
          <card-view radius="10" ripple="true">
            <rad-pie-chart height="250" allowAnimation="true" row="0">
              <rad-legend-view
                v-tkPieLegend
                position="top">
              </rad-legend-view>

              <pie-series 
                v-tkPieSeries
                selectionMode="DataPoint"
                expandRadius="0.4"
                outerRadiusFactor="0.7"
                valueProperty="total"
                legendLabel="sex"
                :items="sexSummary" />

            </rad-pie-chart>
          </card-view>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </grid-layout>
</template>

<script>
  import 'nativescript-ui-chart/vue';
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import { getCurrentClinicData } from '~/couchbase';
  import { core } from '@mycure/sdk';

  export default {
    props: ['tab', 'isLoading'],
    async created () {
      await this.init();
    },
    data() {
      return {
        email: '',
        $dialogLoader: null,
        password: '',
        loading: false,
        loadingAnalytics: false,
        loadedOnce: false,
        selectedDateRange: 'Last 7 Days',
        personalDetails: {}
      }
    },
    computed: {
      ...mapGetters({
        clinics: 'clinic/clinics',
        clinicPxCount: 'clinic/clinicPxCount',
        clinicQueueCount: 'clinic/clinicQueueCount',
        clinicAppointmentsCount: 'clinic/clinicAppointmentsCount',
        patientVisit: 'analytics/patientVisit',
        sexSummary: 'analytics/sexSummary',
        selectedClinic: 'clinic/selectedClinic',
        refreshDashboard: 'dash/refreshDashboard'
      })
    },
    methods: {
      ...mapActions({
        signout: 'auth/logout',
        getClinics: 'clinic/getClinics',
        getCurrentUser: 'auth/getCurrentUser',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getSelectedClinicData: 'clinic/getSelectedClinicData'
      }),
      ...mapMutations({
        setClinics: 'clinic/setClinics',
        setRefreshDashboard: 'dash/setRefreshDashboard'
      }),
      async init () {
        try {
          console.log('#dashboard - init');
          this.loading = true;

          const result = await this.getCurrentUser();
          
          if(result)
            this.personalDetails = result;
          else {
            await this.$sessionExpired();
            await this.logout();
          }
          
          const { uid } = result;

          await this.getClinics(uid);
          this.selectedClinic = await this.getSelectedClinic();

          this.loading = false;

          this.loadDashboardAnalytics();

          this.loadedOnce = true;
          this.$emit('doneRefresh');
        } catch (e) {
          console.error('error#dashboard', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.$emit('doneRefresh');
          this.loading = false;
        }
      },
      async loadDashboardAnalytics () {
        try {
          this.loadingAnalytics = true;

          const { uid } = await this.getCurrentUser();
          await this.getSelectedClinicData({id: this.selectedClinic.id, uid});
          this.setRefreshDashboard(false);

          this.loadingAnalytics = false;
        } catch (e) {
          console.log('#error/dashboard/loadDashboardAnalytics', e);
          this.loadingAnalytics = false;
        }
      },
      navigateTo(index) {
        this.$emit('navigateToTab', index);
      },
      async selectDateRange() {
        const dateRange = await action('Filter', 'Cancel', ['Last 7 Days', 'Last 30 Days', 'Date Range']);
        if(dateRange === 'Cancel') 
          return;
        this.selectedDateRange = dateRange;
      },
      logout() {
        this.signout();
        this.$nami.navigate('login');
      }
    },
    watch: {
      tab (val) {
        if(val === 0 && !this.loadedOnce) {
          this.init();
        }
      },
      isLoading (val) {
        if(val) {
          this.init();
        }
      },
      async refreshDashboard (val) {
        if(val) {
          await this.loadDashboardAnalytics();
        }
      }
    }
  }
</script>

<style scoped>
  .clinic-logo {
    width: 80;
    border-radius: 100%;
    margin-right: 10;
  }

  .doctor-name {
    font-size: 20;
  }

  .active-clinic-text {
    font-size: 12;
  }

  .switch-clinic-btn {
    background-color: #0099cc;
    width: 100%;
  }

  .switch-clinic-text {
    color: white;
  }

  .count-container {
    height: 80;
  }

  .in-queque-container {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .count-text {
    text-align: center;
    font-size: 30;
    font-weight: bold;
  }

  .subhead-subtext {
    text-align: center;
    font-size: 12;
  }
</style>
