<template>
  <stack-layout orientation="vertical" class="container">
    <stack-layout orientation="horizontal" v-if="!loading">
      <stack-layout orientation="vertical">
        <image class="clinic-logo" :src="selectedClinic ? selectedClinic.picURL : '~/assets/images/placeholder.png'"/>
      </stack-layout>
      <stack-layout orientation="vertical">
        <label class="doctor-name" marginLeft="3">Hi, Doc {{personalDetails && personalDetails.name ? personalDetails.name.firstName : ''}}</label>
        <label class="active-clinic-text" marginLeft="3">YOU ARE CURRENTLY IN</label>
        <button @tap="$nami.navigate('clinic-list', {props: {personalDetails}})" class="" background="#0099cc" color="white" width="100%">{{selectedClinic ? selectedClinic.name + ' ▼' : ''}}</button>
      </stack-layout>
    </stack-layout>

    <stack-layout orientation="vertical" v-if="!loading">
      <flexbox-layout class="count-container" alignItems="flex-center">
        <stack-layout orientation="vertical" width="33%" @tap="navigateTo(1)">
          <label class="count-text">{{clinicPxCount}}</label><label class="subhead-subtext">PATIENT</label>
        </stack-layout>
        <stack-layout class="in-queque-container" orientation="vertical" width="33%" @tap="navigateTo(2)">
          <label class="count-text">{{clinicQueueCount}}</label><label class="subhead-subtext">IN QUEUE</label>
        </stack-layout>
        <stack-layout orientation="vertical" width="33%" @tap="navigateTo(3)">
          <label class="count-text">{{clinicAppointmentsCount}}</label><label class="subhead-subtext">APPOINTMENTS</label>
        </stack-layout>
      </flexbox-layout>

      <stack-layout paddingTop="20" orientation="vertical" v-if="loadingAnalytics">
        <activity-indicator width="50" :busy="loadingAnalytics" color="#0099cc"></activity-indicator>
      </stack-layout>

      <!-- <stack-layout orientation="vertical" v-if="!loadingAnalytics" backgroundColor="red">
        <label>foo</label>
        <rad-cartesian-chart>
          <line-series v-tkCartesianSeries :items="favoriteFruits" categoryProperty="type" valueProperty="count" />
          <categorical-axis v-tkCartesianHorizontalAxis />
          <linear-axis v-tkCartesianVerticalAxis />
        </rad-cartesian-chart>
        <label>foo</label>
      </stack-layout> -->
    </stack-layout>
  </stack-layout>
</template>

<script>
  import 'nativescript-ui-chart/vue';
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import { getCurrentClinicData } from '~/couchbase';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  let $dialogLoader = new LoadingIndicator();

  export default {
    props: ['tab', 'isLoading'],
    async created () {
      await this.init();
    },
    data() {
      return {
        email: '',
        $dialogLoader: null,
        password: '',
        loading: false,
        loadingAnalytics: false,
        loadedOnce: false,
        selectedDateRange: 'Last 7 Days',
        favoriteFruits: [
          { type: "🍎", count: 7 },
          { type: "🍌", count: 15 },
          { type: "🍍", count: 12 },
          { type: "🍒", count: 30 },
          { type: "🍇", count: 16 }
        ],
        personalDetails: {},
        selectedClinic: {
          name: ''
        }
      }
    },
    computed: {
      ...mapGetters({
        clinics: 'clinic/clinics',
        clinicPxCount: 'clinic/clinicPxCount',
        clinicQueueCount: 'clinic/clinicQueueCount',
        clinicAppointmentsCount: 'clinic/clinicAppointmentsCount'
      })
    },
    methods: {
      ...mapMutations({
        setClinics: 'clinic/setClinics'
      }),
      ...mapActions({
        signout: 'auth/logout',
        getClinics: 'clinic/getClinics',
        getCurrentUser: 'auth/getCurrentUser',
        getPersonalDetails: 'user/getPersonalDetails',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getSelectedClinicData: 'clinic/getSelectedClinicData'
      }),
      async init () {
        try {
          console.log('#dashboard - init');
          this.loading = true;

          const { uid } = await this.getCurrentUser();
          this.personalDetails = await this.getPersonalDetails(uid);
          this.selectedClinic = await this.getClinics(uid);
          this.loading = false;
          
          this.loadingAnalytics = true;
          await this.getSelectedClinicData({id: this.selectedClinic.id, uid});
          this.loadingAnalytics = false;

          this.loadedOnce = true;
          this.$emit('doneRefresh');
        } catch (e) {
          console.error('error#dashboard', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            this.loading = false;
            return;
          }
          this.$showAlert('Error!', e.message);
          this.$emit('doneRefresh');
          this.loading = false;
        }
      },
      navigateTo(index) {
        this.$emit('navigateToTab', index);
      },
      async selectDateRange() {
        const dateRange = await action('Filter', 'Cancel', ['Last 7 Days', 'Last 30 Days', 'Date Range']);
        if(dateRange === 'Cancel') 
          return;
        this.selectedDateRange = dateRange;
      },
      logout() {
        this.signout();
        this.$nami.navigate('login');
      }
    },
    watch: {
      tab(val) {
        if(val === 0 && !this.loadedOnce) {
          this.init();
        }
      },
      isLoading(val) {
        if(val) {
          this.init();
        }
      },
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .clinic-logo {
    width: 80;
    border-radius: 100%;
    margin-right: 10;
  }

  .doctor-name {
    font-size: 20;
  }

  .active-clinic-text {
    font-size: 12;
  }

  .switch-clinic-btn {
    background-color: #0099cc;
    width: 100%;
  }

  .switch-clinic-text {
    color: white;
  }

  .count-container {
    height: 80;
    margin-bottom: 10;
  }

  .in-queque-container {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .count-text {
    text-align: center;
    font-size: 30;
    font-weight: bold;
  }

  .subhead-subtext {
    text-align: center;
    font-size: 12;
  }
</style>
