<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Results"  col="1"/>
      </grid-layout>
    </action-bar>
    <scroll-view>
      <card-view class="card">
        <stack-layout class="stack">
          <flexbox-layout
            class="header"
            width="100%"
            flexDirection="row"
            justifyContent="space-between">
            <stack-layout>
              <label class="title" fontWeight="bold" text="Lab Order">
              </label>
            </stack-layout>
            <flexbox-layout flexDirection="column" alignItems="flex-end">
              <label class="date" fontWeight="bold" :text="date">
              </label>
              <label class="time" :text="time">
              </label>
            </flexbox-layout>
          </flexbox-layout>
          <stack-layout
            v-if="pendingTests.length"
            class="pending">
            <label
              class="test-header"
              fontWeight="bold"
              text="Pending Tests:">
            </label>
            <label
              v-for="test in pendingTests"
              :key="test.id"
              class="test"
              :text="getBulleted(test.name)">
            </label>
          </stack-layout>
          <stack-layout
            v-if="pendingTests.length && completedTests.length"
            class="spacer">
          </stack-layout>
          <stack-layout
            v-if="completedTests.length"
            class="completed">
            <label
              v-if="pendingTests.length"
              class="test-header"
              fontWeight="bold"
              text="Completed Tests:">
            </label>
            <stack-layout
              v-for="group in groupedTests"
              :key="group.group">
              <label class="group-header" :text="upperCase(group.group)">
              </label>
              <stack-layout
                v-for="test in group.tests"
                :key="test.id"
                class="test-container">
                <label
                  class="test"
                  fontWeight="bold"
                  :text="test.name">
                </label>
                <grid-layout columns="*, auto, auto" :rows="getRows(test.results)">
                  <label
                    col="0"
                    row="0"
                    class="grid-heading"
                    fontWeight="bold"
                    text="Test Result (unit)">
                  </label>
                  <label
                    col="1"
                    row="0"
                    class="grid-heading center"
                    fontWeight="bold"
                    text="Value">
                  </label>
                  <label
                    col="2"
                    row="0"
                    class="grid-heading center"
                    fontWeight="bold"
                    text="Ref. Range">
                  </label>
                  <label
                    v-for="(result, index) in test.results"
                    :key="result.test.name"
                    col="0"
                    :row="index + 1"
                    :class="{ text: true, alt: index % 2 }"
                    :text="getMeasureTitle(result)">
                  </label>
                  <label
                    v-for="(result, index) in test.results"
                    :key="result.value"
                    col="1"
                    :row="index + 1"
                    :class="{ text: true, center: true, alt: index % 2 }"
                    :text="getMeasureValue(result)">
                  </label>
                  <label
                    v-for="(result, index) in test.results"
                    :key="result.measure.id"
                    col="2"
                    :row="index + 1"
                    :class="{ text: true, center: true, alt: index % 2 }"
                    :text="getMeasureRange(result)">
                  </label>
                </grid-layout>
              </stack-layout>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </card-view>
    </scroll-view>
  </page>
</template>

<script>
import format from 'date-fns/format';
import { mapState } from 'vuex';
import differenceInYears from 'date-fns/difference_in_years';
import _ from 'lodash';

export default {
  props: ['record'],
  computed: {
    ...mapState('patient', ['selectedPatient']),
    date () {
      return format(this.record.createdAt, 'DD MMM YYYY');
    },
    time () {
      return format(this.record.createdAt, 'hh:mm A');
    },
    doctor () {
      return this.record.createdBy;
    },
    pendingTests () {
      return this.record.tests
        .filter(t => _.isEmpty(this.getTestResults(t.id)));
    },
    completedTests () {
      return this.record.tests
        .filter(t => !_.isEmpty(this.getTestResults(t.id)));
    },
    groupedTests () {
      return _(this.completedTests)
        .map(t => ({
          ...t,
          results: this.getTestResults(t.id)
        }))
        .groupBy('results[0].test.section')
        .map((val, key) => ({
          group: key,
          tests: val
        }))
        .value();
    }
  },
  methods: {
    getTestResults (test) {
      return this.record.results
        .flatMap(r => r.results)
        .filter(r => r.test.id === test);
    },
    upperCase (str) {
      return _.upperCase(str);
    },
    getBulleted (str) {
      return `• ${str}`;
    },
    getRows (list) {
      return Array(list.length + 1).fill('auto').join(', ');
    },
    getReleaseDate (group) {
      return `Released: ${format(group.completedAt, 'DD MMM YYYY hh:mm A')}`;
    },
    getMeasureTitle (result) {
      const unit = result.measure.unit;
      return unit
        ? `${result.measure.name} (${unit})`
        : result.measure.name;
    },
    getMeasureValue (result) {
      return result.value || '';
    },
    getMeasureRange (result) {
      const measure = result.measure;
      const userAge = differenceInYears(this.record.createdAt,
        _.get(this.selectedPatient, 'dateOfBirth'));
      const userSex = _.get(this.selectedPatient, 'sex');

      const isInAgeRange = (age, { ageMin, ageMax }) =>
        _.inRange(age, ageMin, ageMax);
      const isInSex = (sex, { sex: rangeSex }) => sex === rangeSex;

      const referenceRange = _.find(measure.referenceRanges,
        r => isInAgeRange(userAge, r) && isInSex(userSex, r));
      return referenceRange
        ? `${referenceRange.min} - ${referenceRange.max}`
        : '';
    }
  }
};
</script>

<style scoped>
.card {
  margin: 10px;
}

.header {
  margin: 10px;
}

.card > .stack {
  width: 100%;
  padding: 10px;
}

.title {
  font-size: 16;
}

.date, .time {
  font-size: 10;
  text-align: right;
  color: black;
}

.pending, .spacer, .completed {
  margin: 0px 0px 25px 0px;
}

.pending > .test {
  margin: 0px 0px 0px 10px;
}

.spacer {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.test-header {
  margin: 0px 0px 10px 0px;
}

.test-container {
  margin: 0px 0px 10px 0px;
}

.grid-heading, .title, .test-header, .group-header, .text, .test, .placeholder {
  color: black;
}

.group-header {
  color: #0099cc;
}

.test {
  font-size: 10;
}

.grid-heading {
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.grid-heading, .text {
  font-size: 9;
  padding: 0px 5px;
}

.alt {
  background-color: #eeeeee;
}

.center {
  text-align: center;
}

.placeholder {
  text-align: center;
  margin: 15px 0px;
}
</style>
