<template>
  <page actionBarHidden="true" @loaded="setStatusBar">
    <grid-layout rows="*, 100">
      <stack-layout row="0" orientation="horizontal" class="container">
        <stack-layout verticalAlignment="center">
          <image class="mc-logo" src="~/assets/images/mycure-footer-logo.png" />
          <stack-layout marginBottom="20"> 
            <text-field 
              v-model="email" 
              hint="Email Address" 
              keyboardType="email" 
              returnType="next" 
              autocorrect="false" 
              verticalAlignment="center" 
              width="100%"
              class="login-text-field"
              :editable="!loading">
            </text-field>
          </stack-layout>
          <stack-layout marginBottom="20"> 
            <text-field 
              v-model="password" 
              hint="Password" 
              secure="true" 
              returnType="go" 
              autocorrect="false" 
              verticalAlignment="center" 
              class="login-text-field"
              :editable="!loading">
            </text-field>
          </stack-layout>
          <stack-layout orientation="horizontal" verticalAlign="center" marginBottom="20">
            <button 
              @tap="submit" 
              :isEnabled="!loading"
              class="success" 
              width="150" 
              horizontalAlign="left"
              text="Log in">
            </button>
          </stack-layout>    
          <stack-layout orientation="horizontal" verticalAlign="center">
            <label @tap="$nami.navigate('forgot-password')">Forgot Password</label>
          </stack-layout>    
        </stack-layout>
      </stack-layout>

      <!-- <stack-layout row="1" class="container" orientation="horizontal"> -->
        <!-- <button @tap="$nami.navigate('signup-step-1')" class="outline-primary" width="150" horizontalAlign="left">Sign up</button> -->
        <!-- <button @tap="$nami.navigate('doc-onboarding-step-1')" class="outline-primary" width="150" horizontalAlign="left">Onboarding</button> -->
        <!-- <button @tap="$nami.navigate('search-specialization')" class="outline-primary" width="150" horizontalAlign="left">Onboarding</button> -->
      <!-- </stack-layout> -->
    </grid-layout>  
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import forgotPassword from '~/components/forgot-password';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  import * as app from 'tns-core-modules/application';
  import * as platform from 'tns-core-modules/platform';
  import * as color from 'tns-core-modules/color';

  export default {
    created() {
      this.$dialogLoader = new LoadingIndicator();
    },
    data() {
      return {
        email: 'doctor1@medicardphils.com',
        password: 'mycure',
        loading: false,
        errorMessage: 'There was an unexpected error. Please try again later.',
        $dialogLoader: null,
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'auth/currentUser'
      })
    },
    methods: {
      ...mapActions({
        login: 'auth/login',
        logout: 'auth/logout',
        forgotPassword: 'auth/forgotPassword'
      }),
      setStatusBar () {
        if (app.android && platform.device.sdkVersion >= "21") {
            const window = app.android.foregroundActivity.getWindow();
            window.setStatusBarColor(new color.Color(255, 255, 255, 255).android);
            const decorView = window.getDecorView();
            decorView.setSystemUiVisibility(android.view.View.SYSTEM_UI_FLAG_LIGHT_STATUS_BAR);
        }
      },
      async submit() {
        try {
          this.loading = true;
          const {email, password} = this;

          if(!email || !password) {
            alert({
              title: 'Login failed!',
              message: 'Both email address and password are required.',
              okButtonText: 'Ok'
            });
            this.loading = false;
            return;
          }

          const user = await this.login({email, password});
          this.loading = false;
          this.$nami.navigate('main');
        } catch (e) {
          this.loading = false;
          console.error('Login Error', e.message);
          this.errorMessage = e.message;
          
          if(e.message === 'not-doctor')
            this.errorMessage = 'Your account has no permission to access MYCURE Doctor.';
          alert({
            title: 'Login failed!',
            message: this.errorMessage,
            okButtonText: 'Ok'
          });
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          this.$dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          this.$dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .login-container {
    height: 400;
    background-color: red;
  }

  .loading-container {
    height: 50;
  }

  .mc-logo {
    width: 90;
    margin-bottom: 20;
  }

  .mc-button {
    height: 100px;
    background-color: #0099cc;
  }

  .forgot-password-container {
    padding: 30px;
  }
</style>
