<template>
  <grid-layout rows="auto, *">
    <fab 
      v-if="!loading"
      @tap="fabTap()" 
      ref="fabBtn" 
      row="1" 
      icon="~/assets/images/mycure-icon-doctor-nav-drawer-white.png" 
      rippleColor="#f1f1f1" 
      :class="{'fab-button': true, 'animate-fab': tab === 1}">
    </fab>

    <stack-layout row="1" orientation="vertical" v-if="loading">
      <activity-indicator width="50" :busy="loading" color="#0099cc" marginTop="20"></activity-indicator>
    </stack-layout>
    
    <stack-layout row="1" orientation="vertical" v-else>
      <search-bar 
        ref="searchBar" 
        v-model="searchQuery" 
        v-if="showSearch" 
        @clear="clearSearch"
        @textChange="submitSearch"
        @submit="submitSearch"
        hint="Search patients by name" 
        marginTop="10" 
        marginBottom="10">
      </search-bar>
      <flex-box-layout padding="30" alignItems="center" justifyContent="center" v-if="patients.length === 0">
        <label :text="isSearching ? 'Searching...' : 'No patients yet.'"></label>
      </flex-box-layout>
      <stack-layout v-else>
        <stack-layout>
          <stack-layout orientation="vertical" height="100%" width="100%">
            <list-view for="patient in patients" @itemTap="selectPatient" height="100%">
              <v-template>
                <stack-layout class="list-item-container" orientation="horizontal">
                  <stack-layout orientation="vertical">
                    <image class="list-item-avatar" v-if="patient.picURL" :src="patient.picURL"/>
                    <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
                  </stack-layout>
                  <stack-layout orientation="vertical">
                    <label class="list-item-title">{{$parseName(patient.name)}}</label>
                    <label class="list-item-title" fontSize="10">Birthday: {{$formatDate(patient.dateOfBirth, 'MMM DD, YYYY')}}</label>
                    <label class="list-item-title" fontSize="10">Sex: {{patient.sex.toUpperCase()}}</label>
                    <label class="list-item-title" fontSize="10">Last Visit: {{$formatDate(patient.lastVisitAt)}}</label>
                  </stack-layout>
                </stack-layout>
              </v-template>
            </list-view>
          </stack-layout>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </grid-layout>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();

  export default {
    props: ['tab', 'isLoading'],
    data() {
      return {
        loading: false,
        loadedOnce: false,
        searchQuery: '',
        showSearch: false,
        isSearching: false,
        selectedClinic: {}
      }
    },
    computed: {
      ...mapGetters({
        patients: 'patient/patients',
        selectedPatient: 'patient/selectedPatient',
        clinics: 'clinic/clinics'
      })
    },
    methods: {
      ...mapActions({
        signout: 'auth/logout',
        getSelectedClinic: 'clinic/getSelectedClinic',
        getPatients: 'patient/getPatients',
        searchPatient: 'patient/searchPatient'
      }),
      ...mapMutations({
        setSelectedPatient: 'patient/setSelectedPatient'
      }),
      async init() {
        try {
          this.loading = true;
          this.selectedClinic = await this.getSelectedClinic();

          await this.getPatients(this.selectedClinic.id);
          
          this.loadedOnce = true;
          this.$emit('doneRefresh');
        } catch (e) {
          console.error('error#patient/list', e);
          if(e.message === 'No auth token') {
            this.$sessionExpired().then(() => {
              this.logout();
            });
            return;
          }
          this.$showAlert('Error!', e.message);
          this.$emit('doneRefresh');
        } finally {
          this.loading = false;
        }
      },
      async selectPatient({ index, item }) {
        const options = [
          'Current Encounter',
          'Past Encounters',
          'Developments',
          'Patient Info'
        ];
        
        this.setSelectedPatient(item);

        this.$nami.navigate('patient');
      },
      async fabTap() {
        const options = [
          'Create new patient',
          'Search patients by name'
        ];

        const res = await action('', 'Close', options);
        
        if(res === 'Close'){
          return;
        } else if(res === 'Create new patient') {
          this.$nami.navigate('create-patient');
        } else if(res === 'Search patients by name') {
          this.showSearch = true;
        }
      },
      async submitSearch(e) {
        try {
          console.log('searching...', e.value);
          const facilityIds = this.clinics.map(clinic => clinic.id);
          await this.searchPatient({facilityIds, queryString: e.value});
        } catch (e) {
          console.error(e);
        }
      },
      async clearSearch() {
        try {
          this.showSearch = false;
          setTimeout(this.$refs.searchBar.nativeView.dismissSoftInput, 100);
          await this.init();
        } catch (e) {
          console.error(e);
        }
      },
      logout() {
        this.signout();
        this.$nami.navigate('login');
      }
    }, 
    watch: {
      tab(val) {
        this.showSearch = false;
        if(val === 1 && !this.loadedOnce) {
          this.init();
        }
      },
      isLoading(val) {
        if(val) {
          this.init();
        }
      },
      // loading(val) {
      //   if(val) 
      //     $dialogLoader.show(this.$loadingIndicatorOptions());
      //   else 
      //     $dialogLoader.hide();
      // }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }
</style>