<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Gynecological History" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout marginBottom="10">
            <label fontWeight="bold">Previous Cervic Smears Result:</label>
            <text-field v-model="prevCervicSmearsResult"></text-field>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Previous Cervic Smears Date:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="prevCervicSmearsDate"></date-picker>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Previous Problems/Treatments:</label>
            <text-field @tap="selectPreviousTreatment" v-model="prevProblemsTreatments"></text-field>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Current Contraception:</label>
            <text-field @tap="selectCurrentContraception" v-model="currentContraception"></text-field>
          </stack-layout>

          <stack-layout marginBottom="10">  
            <label fontWeight="bold">Notes:</label>
            <text-view v-model="notes"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import allergies from '~/assets/fixtures/allergies.json';
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.prevCervicSmearsResult = this.record.prevCervicSmearsResult;
        this.prevCervicSmearsDate = this.record.prevCervicSmearsDate ? new Date(this.record.prevCervicSmearsDate) : new Date();
        this.prevProblemsTreatments = this.record.prevProblemsTreatments;
        this.currentContraception = this.record.currentContraception;
        this.notes = this.record.notes;
      }
    },
    data() {
      return {
        loading: false,
        prevCervicSmearsResult: '',
        prevCervicSmearsDate: new Date(),
        currentContraception: '',
        prevProblemsTreatments: '',
        notes: ''
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories'
      }),
      async selectPreviousTreatment() {
        const options = ['None', 'Chlamydia', 'Ectopic pregnancy', 'Endometriosis', 'PID', 'STDs', 'Others'];
        
        const result = await action('Select previous problem/treatment', 'Close', options);
        if(result === 'Close') return;

        this.prevProblemsTreatments = result;
      },
      async selectCurrentContraception() {
        const options = ['None', 'COCP', 'Depot', 'Implant', 'IUD', 'POP', 'Others'];
        
        const result = await action('Select current contraception', 'Close', options);
        if(result === 'Close') return;

        this.currentContraception = result;
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, [
                'prevCervicSmearsResult', 
                'prevCervicSmearsDate', 
                'currentContraception', 
                'prevProblemsTreatments',
                'notes'
              ]))
            }
            await this.updateMedicalRecord({type: 'gynecological-history', data});
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            successMessage = 'Birth History Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, [
              'prevCervicSmearsResult', 
              'prevCervicSmearsDate', 
              'currentContraception', 
              'prevProblemsTreatments',
              'notes'
            ]));
            await this.createMedicalRecord({type: 'gynecological-history', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedicalHistories({encounter: id});
            successMessage = 'Gynecological History Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Birth History Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>