<template>
  <stack-layout padding="5" @tap="view">
    <stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout>
          <label fontWeight="bold" fontSize="10">Care Plan Notes</label>
          <label fontSize="11" textWrap>{{record.text || 'na'}}</label>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-care-plan-notes', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>