<template>
  <grid-layout rows="auto, *">
    <fab 
      v-if="!loading"
      @tap="fabTap()" 
      ref="fabBtn" 
      row="1" 
      icon="~/assets/images/mycure-icon-doctor-nav-drawer-white.png" 
      rippleColor="#f1f1f1" 
      :class="{'fab-button': true, 'animate-fab': tab === 2}">
    </fab>

    <stack-layout row="1" orientation="vertical" v-if="loading">
      <activity-indicator width="50" :busy="loading" color="#0099cc" marginTop="20"></activity-indicator>
    </stack-layout>

    <stack-layout row="1" v-else>
      <stack-layout orientation="vertical" v-if="!nowServing">
        <flex-box-layout padding="30" alignItems="center" justifyContent="center">
          <!-- <label :text="`No queue items in queue${selectedQueue && selectedQueue.queue ? ' '+selectedQueue.queue.name : ''}.`"></label> -->
          <label text="No queue items in queue."></label>
        </flex-box-layout>
      </stack-layout>
      <stack-layout orientation="vertical" v-else>

        <stack-layout orientation="vertical" class="now-serving-container container">
          <stack-layout orientation="horizontal">
            <stack-layout orientation="vertical" alignItems="center" justifyContent="center">
              <label color="#7fad33" fontSize="16" fontWeight="bold">Now Serving</label>
              <label fontSize="50" fontWeight="bold" marginTop="4">#{{nowServing ? $twoDigits(nowServing.number) : '00'}}</label>
            </stack-layout>

            <stack-layout paddingLeft="10">
              <label marginLeft="4" fontSize="18">{{$parseName(nowServing && nowServing.meta && nowServing.meta.patientDetails ? nowServing.meta.patientDetails.name : '')}}</label>
              <label marginLeft="4" fontSize="14">{{$formatDate(nowServing.createdAt, 'hh:mm A, MMM DD, YYYY')}}</label>
              <button class="primary small" @tap="selectNowServing(nowServing)" width="100%">Select</button>
            </stack-layout>
          </stack-layout>
        </stack-layout>

        <stack-layout orientation="vertical">

          <stack-layout backgroundColor="white">
            <segmented-bar 
              selectedBackgroundColor="#0099cc" 
              @selectedIndexChange="segmentedBarChanged">
              <segmented-bar-item :title="'Next in line ' + queueItems.length"></segmented-bar-item>
              <segmented-bar-item :title="'Postponed ' + postponedQueueItems.length"></segmented-bar-item>
            </segmented-bar>
          </stack-layout>

          <stack-layout orientation="vertical" height="100%" width="100%" v-if="selectedSegmented === 0">
            <flex-box-layout padding="30" alignItems="center" justifyContent="center" v-if="!queueItems.length"> 
              <label>No patients in your queue.</label>
            </flex-box-layout>
            <list-view for="queueItem in queueItems" @itemTap="selectQueueItem" height="100%" v-else>
              <v-template>
                <stack-layout orientation="horizontal" class="container">
                  <stack-layout orientation="vertical" marginRight="10">
                    <label fontSize="30">#{{$twoDigits(queueItem.number)}}</label>
                  </stack-layout>
                  <stack-layout orientation="vertical">
                    <label fontSize="18">{{$parseName(queueItem.meta.patientDetails.name)}}</label>
                    <label fontSize="12">{{$formatDate(queueItem.createdAt, 'hh:mm A, MMMM DD, YYYY')}}</label>
                  </stack-layout>
                </stack-layout>
              </v-template>
            </list-view>
          </stack-layout>

          <stack-layout orientation="vertical" height="100%" width="100%" v-if="selectedSegmented === 1">
            <flex-box-layout padding="30" alignItems="center" justifyContent="center" v-if="!postponedQueueItems.length">
              <label>No patients in postponed list.</label>
            </flex-box-layout>
            <list-view for="queueItem in postponedQueueItems" @itemTap="selectPostponedQueueItem" height="100%" v-else>
              <v-template>
                <stack-layout orientation="horizontal" class="container">
                  <stack-layout orientation="vertical" marginRight="10">
                    <label fontSize="30">#{{$twoDigits(queueItem.number)}}</label>
                  </stack-layout>
                  <stack-layout orientation="vertical">
                    <label fontSize="18">{{$parseName(queueItem.meta.patientDetails.name)}}</label>
                    <label fontSize="12">{{$formatDate(queueItem.createdAt, 'hh:mm A, MMMM DD, YYYY')}}</label>
                  </stack-layout>
                </stack-layout>
              </v-template>
            </list-view>
          </stack-layout>

        </stack-layout>
      </stack-layout>
    </stack-layout>
  </grid-layout>
</template>

<script>
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();

  export default {
    props: ['tab', 'isLoading'],
    data() {
      return {
        loading: false,
        loadedOnce: false,
        selectedSegmented: 0,
        selectedClinic: {}
      }
    },computed: {
      ...mapGetters({
        patients: 'patient/patients',
        queues: 'queue/queues',
        queueItems: 'queue/queueItems',
        nowServing: 'queue/nowServing',
        selectedQueue: 'queue/selectedQueue',
        postponedQueueItems: 'queue/postponedQueueItems'
      })
    },
    methods: {
      ...mapActions({
        getSelectedClinic: 'clinic/getSelectedClinic',
        getQueues: 'queue/getQueues',
        getQueueItems: 'queue/getQueueItems',
        updateStatus: 'queue/updateStatus',
        accommodateQueueItem: 'queue/accommodateQueueItem',
        getPatient: 'patient/getPatient'
      }),
      ...mapMutations({
        setSelectedPatient: 'patient/setSelectedPatient'
      }),
      async init() {
        try {
          this.loading = true;
          const { id } = await this.getSelectedClinic();
          const organization = id;

          await this.getQueues({organization});

          await this.getQueueItems({organization, queue: this.selectedQueue.queue.id});

          this.loading = false;
          this.loadedOnce = true;
          this.$emit('doneRefresh');
        } catch (e) {
          this.loading = false;
          this.$emit('doneRefresh');
          this.$showAlert('Error!', e.message);
        }
      },
      segmentedBarChanged({value:index}) {
        this.selectedSegmented = index;
      },
      async fabTap() {
        const pxName = 'Px Name';
        let options = [
          'Switch Queue',
          'Serve Next'
        ];

        if(!this.queueItems.length) 
          options.pop();

        const res = await action('', 'Close', options);
        
        if(res === 'Close'){
          return;
        } else if(res === 'Switch Queue') {
          this.$nami.navigate('queue-list');
        } else if(res === 'Serve Next') {
          this.serveNext();
        }
      },
      async serveNext() {
        const result = await this.$showConfirm('Do you want to serve the next patient?');
        if(result) {
          this.updateQueueItemStatus('skip', this.nowServing, true);
        }
      },
      async accommodate() {
        const result = await this.$showConfirm('Do you want to accomodate this patient?');

        if(result) {

        }
      },
      async selectNowServing(item) {
        try {
          const options = [
            'Preview Patient',
            'Accommodate',
            'Postpone',
            'Skip',
            'Delete'
          ];

          console.log('item.startedAt', item.startedAt);

          if(item.startedAt) {
            options.splice(0, 2);
            options.unshift('Continue Encounter');
          }

          const result = await action('', 'Close', options);
          
          if(result === 'Close') {
            return;
          } else if(result === 'Continue Encounter') {
            // if queue item already started go
            // to patient encounter
            this.setSelectedPatient(item.meta.patientDetails);
            this.$nami.navigate('patient');
          } else if(result === 'Preview Patient') {
            // set selected patient then go to
            // patient encounter
            this.setSelectedPatient(item.meta.patientDetails);
            this.$nami.navigate('patient');
          } else if(result === 'Accommodate') {
            // set queue item to start = true
            // then go to patient encounter
            await this.accommodateQueueItem(item.id);
            this.setSelectedPatient(item.meta.patientDetails);
            this.$nami.navigate('patient');
          } else if(result === 'Postpone') {
            // postpone the queue item
            this.updateQueueItemStatus('postpone', item);
          } else if(result === 'Skip') {
            // skip the queue item
            this.updateQueueItemStatus('skip', item);
          } else if(result === 'Delete') {
            // delete the queue item
            this.updateQueueItemStatus('delete', item);
          }
        } catch (e) {
          console.log('#error/queue-list/click-nowServing', e);
          this.$showAlert('Something went wrong!', e.message);
        }
      },
      async selectQueueItem({index, item}) {
        let options = [
          'Postpone',
          'Skip',
          'Delete'
        ];

        const res = await action('', 'Close', options);
        
        if(res === 'Close'){
          return;
        } else if(res === 'Postpone') {
          this.updateQueueItemStatus('postpone', item);
        } else if(res === 'Skip') {
          this.updateQueueItemStatus('skip', item);
        } else if(res === 'Delete') {
          this.updateQueueItemStatus('delete', item);
        }
      },
      async selectPostponedQueueItem({index, item}) {
        await this.updateQueueItemStatus('requeue', item);
      },
      async updateQueueItemStatus(updateType, item, isNext) {
        try {
          let result = false;
          
          if(!isNext)
            result = await this.$showConfirm(`Do you want to ${updateType} this patient in queue?`);
          else 
            result = true;
        
          if(result) {
            this.loading = true;
            await this.updateStatus({updateType, item});
            this.loading = false;
            await this.init();
            this.$showToast('Queue items updated!');
          }

          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error!', e.message);   
        }
      }
    },
    watch: {
      tab(val) {
        this.showSearch = false;
        if(val === 2 && !this.loadedOnce) {
          this.init();
        }
      },
      isLoading(val) {
        if(val) {
          this.init();
        }
      },
      selectedQueue: {
        handler(val) {
          if(val) {
            this.init();
          }
        },
        deep: true
      },
      // loading(val) {
      //   if(val) 
      //     $dialogLoader.show(this.$loadingIndicatorOptions());
      //   else 
      //     $dialogLoader.hide();
      // }
    }
  }
</script>

<style scoped>
  .active-queue-name-container {
    padding: 5;
    background-color: #0099cc;
    color: white;
  }

  .list-item-container {
    /* padding: 10 0 10 0; */
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }

  .now-serving-container {
    background-color: white;
    border-bottom: grey;
  }
</style>
