// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/light';

// Override variables here
@import '~nativescript-theme-core/scss/index';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
  font-weight: 400; 
}

.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
  font-weight: 400; 
}

.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 900; 
}

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
page {
  font-family: "Poppins", "Poppins-Regular", "Poppins-Bold";
  background-color: #f7f7f7;
  // background-color: #ffffff;
}

card-view {
  margin: 3;
}

action-bar {
  background-color: white;
  padding: 0;
}

.container {
  padding: 20;
}

.toolbar-title {
  text-align: left;
  padding-left: 0;
  padding-top: 7;
  font-size: 18;
  font-weight: bold;
  color: #767777;
}

.toolbar-action-button {
  width: 30;
  height: 40;
  background-position: left center;
  background-size: 45 45;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.back-button {
  background-image: url('~/assets/images/mycure-icon-doctor-arrow-left.png');
}

text-view, text-field {
  border-width: 2;
  border-color: #cccccc;
  background-color: white;
  border-radius: 3;
  padding-left: 5;
  padding-right: 5;
}

text-field {
  height: 50;
}

text-view {
  min-height: 70;
  max-height: 200;
  border-color: #cccccc;
}

button {
  height: 50;
  background-color: #cecece;
  margin: 0 0 0 0;
  border-radius: 3;
  font-size: 15;
  font-weight: bold;
}

button.icon {
  height: 30;
  width: 30;
  padding: 0;
}

button.small {
  height: 40;
}

button.primary {
  background-color: #0099cc;
  color: white;
}

button.transparent {
  background-color: transparent;
}

button.secondary {
  background-color: #e6ecef;
}

button.accent, button.success {
  background-color: #7fad33;
  color: white;
}

button.error {
  background-color: #ff6666;
  color: white;
}

button.warning {
  background-color: #f7bb0a;
  color: white;
}

button.outline-primary {
  background-color: white;
  border-width: 1;
  border-color: #0099cc;
  color: #0099cc;
}

button.outline-warning {
  background-color: white;
  border-width: 1;
  border-color: #f7bb0a;
  color: #f7bb0a;
}

button.outline-error {
  background-color: white;
  border-width: 1;
  border-color: #ff6666;
  color: #ff6666;
}

.fab-button {
  height: 0;
  width: 0;
  margin: 15;
  // padding: 10;
  background-color: #7fad33; 
  horizontal-align: right; 
  vertical-align: bottom; 
}

.round-image {
  border-radius: 100%;
}

.animate-fab {
  height: 57;
  width: 57;
}

.text-field-label {
  font-weight: bold;
  color: #0099cc;
}
