<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="'Select Queue'" col="1"/>
      </grid-layout>
      <action-item 
        @tap="init"
        ios.systemIcon="2"
        ios.position="right"
        android.systemIcon="ic_menu_refresh" />
    </action-bar>
    <stack-layout orientation="vertical" height="100%" width="100%">
      <flex-box-layout padding="30" alignItems="center" justifyContent="center" v-if="!queues.length">
        <label>No queues yet.</label>
      </flex-box-layout>
      <list-view for="queue in queues" @itemTap="selectedQueue" height="100%" v-else>
        <v-template>
          <stack-layout class="list-item-container" orientation="horizontal">
            <stack-layout orientation="vertical">
              <label class="list-item-title" marginTop="10">{{queue.name}}</label>
            </stack-layout>
          </stack-layout>
        </v-template>
      </list-view>
    </stack-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();

  export default {
    async created() {
      await this.init();
    },
    data() {
      return {
        loading: false
      }
    },
    computed: {
      ...mapGetters({
        selectedClinic: 'clinic/selectedClinic',
        queues: 'queue/queues'
      })
    },
    methods: {
      ...mapActions({
        getSelectedClinic: 'clinic/getSelectedClinic',
        getQueues: 'queue/getQueues'
      }),
      ...mapMutations({
        setSelectedQueue: 'queue/setSelectedQueue',
        setSelectedQueueChanged: 'queue/setSelectedQueueChanged'
      }),
      async init() {
        try {
          this.loading = true;
          const clinic = await this.getSelectedClinic();
          await this.getQueues({organization: clinic.id});
          this.loading = false;
        } catch (e) {
          this.loading = false;
          this.$showAlert('Error!', e.message);
        }
      },
      async selectedQueue({index, item}) {
        const result = await this.$showConfirm(`Select queue ${item.name}?`);
        
        if(result) {
          this.setSelectedQueue(item);
          this.setSelectedQueueChanged(true);
          this.$nami.back();
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10;
    height: 60;
  }

  .list-item-title {
    font-size: 18;
  }
</style>