<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Menstrual History" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout class="container">
          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Menarche:</label>
              <text-field v-model="menarche"></text-field>
            </stack-layout>

            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Interval (days):</label>
              <text-field v-model="interval" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Duration (days):</label>
              <text-field v-model="duration" keyboardType="number"></text-field>
            </stack-layout>

            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Amount (mL):</label>
              <text-field v-model="amount" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10">  
            <label fontWeight="bold">Notes:</label>
            <text-view v-model="notes"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import allergies from '~/assets/fixtures/allergies.json';
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.menarche = this.record.menarche;
        this.interval = this.record.interval;
        this.duration = this.record.duration;
        this.amount = this.record.amount;
        this.notes = this.record.notes;
      }
    },
    data() {
      return {
        loading: false,
        menarche: '',
        interval: 0,
        duration: 0,
        amount: 0,
        notes: '',
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories'
      }),
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, ['menarche', 'duration', 'interval', 'amount', 'notes']))
            }
            await this.updateMedicalRecord({type: 'menstrual-history', data});
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            successMessage = 'Menstrual History Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, ['menarche', 'duration', 'interval', 'amount', 'notes']));
            await this.createMedicalRecord({type: 'menstrual-history', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedicalHistories({encounter: id});
            successMessage = 'Menstrual History Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Menstrual History Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>