<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Social History" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout marginBottom="10">
            <stack-layout orientation="horizontal">
              <switch v-model="exercises" marginLeft="-2" color="#0099cc"/>
              <label marginTop="3" fontSize="13" fontWeight="bold">Exercising?</label>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10">
            <stack-layout orientation="horizontal">
              <switch v-model="drinksAlcohol" marginLeft="-2" color="#0099cc"/>
              <label marginTop="3" fontSize="13" fontWeight="bold">Drinking alcohol?</label>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10">
            <stack-layout orientation="horizontal" marginBottom="10">
              <switch v-model="smoking" marginLeft="-2" color="#0099cc"/>
              <label marginTop="3" fontSize="13" fontWeight="bold">Smoking?</label>
            </stack-layout>
            <stack-layout orientation="horizontal" v-if="smoking">
              <stack-layout width="50%">
                <label fontWeight="bold">No. of sticks per day:</label>
                <text-field v-model="smokingSticksPerDay" keyboardType="number" width="100%"></text-field>
              </stack-layout>
              <stack-layout width="50%">
                <label fontWeight="bold">No. of years smoking:</label>
                <text-field v-model="smokingYears" keyboardType="number" width="100%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <stack-layout orientation="horizontal" marginBottom="10">
              <switch v-model="usesProhibitedDrugs" marginLeft="-2" color="#0099cc"/>
              <label marginTop="3" fontSize="13" fontWeight="bold">Uses prohibited drugs?</label>
            </stack-layout>
            <stack-layout v-if="usesProhibitedDrugs">
              <stack-layout orientation="horizontal">
                <stack-layout width="100%" marginBottom="10">
                  <label fontWeight="bold">Drug name:</label>
                  <text-field v-model="drugName" width="100%"></text-field>
                </stack-layout>
              </stack-layout>
              <stack-layout backgroundColor="white">
                <date-picker v-model="drugLastUsedAt"></date-picker>
              </stack-layout>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10">
            <stack-layout orientation="horizontal" marginBottom="10">
              <switch v-model="sexuallyActive" marginLeft="-2" color="#0099cc"/>
              <label marginTop="3" fontSize="13" fontWeight="bold">Sexually active?</label>
            </stack-layout>
            <stack-layout orientation="horizontal" v-if="sexuallyActive">
              <stack-layout width="50%">
                <label fontWeight="bold">No. of sexual partners:</label>
                <text-field v-model="numOfSexualPartners" keyboardType="number" width="100%"></text-field>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Educational level:</label>
            <text-field @tap="selectEducationalLevel" :text="educationalLevel" :editable="false"></text-field>
          </stack-layout>

          <stack-layout marginBottom="10">  
            <label fontWeight="bold">Others:</label>
            <text-view v-model="others"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.exercises = this.record.exercises
        this.drinksAlcohol = this.record.drinksAlcohol;
        this.smoking = this.record.smoking;
        this.smokingSticksPerDay = this.record.smokingSticksPerDay;
        this.smokingYears = this.record.smokingYears;
        this.usesProhibitedDrugs = this.record.usesProhibitedDrugs;
        this.drugName = this.record.drugName;
        this.drugLastUsedAt = this.record.drugLastUsedAt ? new Date(this.record.drugLastUsedAt) : new Date();
        this.sexuallyActive = this.record.sexuallyActive;
        this.numOfSexualPartners = this.record.numOfSexualPartners;
        this.educationalLevel = this.record.educationalLevel;
        this.others = this.record.others;
      }
    },
    data() {
      return {
        loading: false,
        exercises: false,
        drinksAlcohol: false,
        smoking: false,
        smokingSticksPerDay: 0,
        smokingYears: 0,
        usesProhibitedDrugs: false,
        drugName: '',
        drugLastUsedAt: new Date(),
        sexuallyActive: false,
        numOfSexualPartners: 0,
        educationalLevel: '',
        others: ''
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories'
      }),
      async selectEducationalLevel() {
        const options = [
          'Pre-school education', 
          'Elementary school or stage 2 basic education', 
          'High school or stage 3 basic education', 
          'Non-tertiary/technical-vocational education',
          'Baccalaureate/college education', 
          'Post-graduate education'
        ];
        const result = await action('Select educational level', 'Close', options);
        if(result === 'Close') return;
        this.educationalLevel = result;
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, [
                'exercises',
                'drinksAlcohol',
                'smoking', 
                'smokingSticksPerDay',
                'smokingYears',
                'usesProhibitedDrugs', 
                'drugName',
                'drugLastUsedAt',
                'sexuallyActive',
                'numOfSexualPartners',
                'educationalLevel',
                'others'
              ]))
            }
            await this.updateMedicalRecord({type: 'social-history', data});
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            successMessage = 'Social History Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            
            const data = {
              ..._.pickBy(_.pick(this, [
              'exercises',
              'drinksAlcohol',
              'smoking', 
              'smokingSticksPerDay',
              'smokingYears',
              'usesProhibitedDrugs', 
              'drugName',
              'drugLastUsedAt',
              'sexuallyActive',
              'numOfSexualPartners',
              'educationalLevel',
              'others'
            ]))
            };
            await this.createMedicalRecord({type: 'social-history', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedicalHistories({encounter: id});
            successMessage = 'Social History Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Social History Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>