<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">SOCIAL HISTORY</label>
    <stack-layout orientation="horizontal">
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Exercising?</label>
        <label fontSize="11" textWrap="true">{{record.exercises ? 'YES' : 'NO'}}</label>
      </stack-layout>
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Drinking alcohol?</label>
        <label fontSize="11" textWrap="true">{{record.drinksAlcohol ? 'YES' : 'NO'}}</label>
      </stack-layout>
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Smoking?</label>
        <label fontSize="11" textWrap="true">{{record.smoking ? 'YES' : 'NO'}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Uses prohibited drugs?</label>
        <label fontSize="11" textWrap="true">{{record.usesProhibitedDrugs ? 'YES' : 'NO'}}</label>
      </stack-layout>
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Sexually active?</label>
        <label fontSize="11" textWrap="true">{{record.sexuallyActive ? 'YES' : 'NO'}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Education level</label>
        <label fontSize="11" textWrap="true">{{record.educationalLevel}}</label>
      </stack-layout>
      <stack-layout marginRight="5">
        <label fontWeight="bold" fontSize="10">Others</label>
        <label fontSize="11" textWrap="true">{{record.others}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-social-history', {props: {record: this.record, isEdit: true}});
      }
    }
  }
</script>