<template>
  <stack-layout minHeight="100" width="260" padding="5" @tap="view">
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Physical Exam</label>
      <label fontSize="11" textWrap>{{record.physicalExam || 'na'}}</label>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%" paddingRight="5">
        <label fontWeight="bold" fontSize="10">Level of Consciousness</label>
        <label fontSize="11" textWrap>{{record.consciousnessLevelScale}}/10</label>
        <label fontSize="11" textWrap>{{consciousnessTexts[parseInt(record.consciousnessLevelScale)]}}</label>
      </stack-layout>
      <stack-layout width="50%" paddingLeft="5">
        <label fontWeight="bold" fontSize="10">Pain Assessment</label>
        <label fontSize="11" textWrap>{{record.painAssessmentScale}}/10</label>
        <label fontSize="11" textWrap>{{painTexts[[parseInt(record.painAssessmentScale)]]}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        consciousnessTexts: [
          'Alert',
          'Alert',
          'Verbal Stimuli',
          'Verbal Stimuli',
          'Painful Stimuli',
          'Painful Stimuli',
          'Unresponsive',
          'Unresponsive'
        ],
        painTexts: [
          'Pain Free',
          'Very Mild',
          'Discomforting',
          'Tolerable',
          'Distressing',
          'Very Distressing',
          'Intense',
          'Very Intense',
          'Utterly Horrible',
          'Excruciatingly Unbearable',
          'Unimaginable Unspeakable'
        ]
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-pe', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>