<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">IMMUNIZATION/VACCINATION</label>
    <stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Vaccine Name</label>
          <label fontSize="11" textWrap="true">{{record.vaccine}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Route of Administration</label>
          <label fontSize="11" textWrap="true">{{record.injectionSite}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Date Administered</label>
          <label fontSize="11" textWrap="true">{{$formatDate(record.administeredAt, 'MMMM DD, YYYY')}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Expiration Date</label>
          <label fontSize="11" textWrap="true">{{$formatDate(record.expiresAt, 'MMMM DD, YYYY')}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Administered by</label>
          <label fontSize="11" textWrap="true">{{record.administeredBy}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Lot No.</label>
          <label fontSize="11" textWrap="true">{{record.lotNo}}</label>
        </stack-layout>
      </stack-layout>

    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-vaccination-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>