<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="OB Note" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="20">
            <label fontWeight="bold">Estimate Date of Delivery:</label>
            <text-field @tap="selectEDD" v-model="estimateBy" :editable="false"></text-field>
          </stack-layout>

          <!-- By LMP -->
          <stack-layout v-if="estimateBy === 'By LMP'" marginBottom="20">
            <stack-layout orientation="horizontal" marginBottom="10">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">LMP Date:</label>
                <mc-date-time-picker
                  :startingDate="lmp"
                  :maxDate="new Date()"
                  type="date"
                  format="MM/DD/YY"
                  @dateSelected="date => lmp = new Date(date)">
                </mc-date-time-picker>
              </stack-layout>
            </stack-layout>
            <label fontWeight="bold" marginBottom="10">RESULTS:</label>
            <stack-layout orientation="horizontal" marginBottom="20">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">EDC</label>
                <label>{{$medRecordsHelper.computeEdcByDate(lmp)}}</label>
              </stack-layout>
              <stack-layout width="50%" paddingLeft="5">
                <label fontWeight="bold">AOG</label>
                <label>{{$medRecordsHelper.computeAOGUsingLMP(lmp)}}</label>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <!-- By US -->
          <stack-layout v-if="estimateBy === 'By US'" marginBottom="20">
            <stack-layout orientation="horizontal" marginBottom="10">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">US Date:</label>
                <mc-date-time-picker
                  :startingDate="ultrasoundDate"
                  :maxDate="new Date()"
                  type="date"
                  format="MM/DD/YY"
                  @dateSelected="date => ultrasoundDate = new Date(date)">
                </mc-date-time-picker>
              </stack-layout>
              <stack-layout width="50%" paddingLeft="5">
                <label fontWeight="bold">AOG by US:</label>
                <text-field v-model="ultrasoundAog" keyboardType="number"></text-field>
              </stack-layout>
            </stack-layout>
            <label fontWeight="bold" marginBottom="10">RESULTS:</label>
            <stack-layout orientation="horizontal" marginBottom="20">
              <stack-layout width="50%" paddingRight="5">
                <label fontWeight="bold">EDC by US</label>
                <label>{{$medRecordsHelper.computeEDCUsingUS(ultrasoundDate, ultrasoundAog)}}</label>
              </stack-layout>
            </stack-layout>
          </stack-layout>

          <label fontWeight="bold" marginBottom="10">MORE DETAILS</label>
          <stack-layout orientation="horizontal"  marginBottom="20">
            <stack-layout width="50%" paddingRight="5">
              <label fontWeight="bold">Fundal Height (cm):</label>
              <text-field v-model="fundalHeight" keyboardType="number"></text-field>
            </stack-layout>
            <stack-layout width="50%" paddingLeft="5">
              <label fontWeight="bold">Fetal Heart Tone (bpm):</label>
              <text-field v-model="fetalHeartTone" keyboardType="number"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="20">
            <label fontWeight="bold">Internal Exam Findings:</label>
            <text-view v-model="examFindings"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import allergies from '~/assets/fixtures/allergies.json';
  import _ from 'lodash';
  import mcDateTimePicker from '~/components/commons/mc-date-time-picker';

  export default {
    props: ['record', 'isEdit'],
    components: {
      mcDateTimePicker
    },
    created() {
      if(this.record) {

        if(this.record.lmp) this.estimateBy = 'By LMP';
        if(this.record.ultrasoundDate || this.record.ultrasoundAog) this.estimateBy = 'By US';

        this.lmp = this.record.lmp;
        this.fundalHeight = this.record.fundalHeight;
        this.fetalHeartTone = this.record.fetalHeartTone;
        this.examFindings = this.record.examFindings;
        this.ultrasoundDate = this.record.ultrasoundDate;
        this.ultrasoundAog = this.record.ultrasoundAog;
      }
    },
    data() {
      return {
        loading: false,
        estimateBy: null,
        // 
        lmp: new Date(),
        fundalHeight: null,
        fetalHeartTone: null,
        examFindings: null,
        ultrasoundDate: null,
        ultrasoundAog: null
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterSpecialtyFeatures: 'medRecord/getCurrentEncounterSpecialtyFeatures'
      }),
      async selectEDD() {
        const options = [
          'By LMP',
          'By US'
        ];

        const result = await action('Estimate Date of Delivery', 'Close', options);
        if(result === 'Close') return;
        this.estimateBy = result;
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          let fields = [
            'lmp',
            'fundalHeight',
            'fetalHeartTone',
            'examFindings',
            'ultrasoundDate',
            'ultrasoundAog'
          ];

          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, fields))
            }
            await this.updateMedicalRecord({type: 'ob-note', data});
            await this.getCurrentEncounterSpecialtyFeatures({encounter: this.encounter.id});
            successMessage = 'OB Note Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, fields));
            await this.createMedicalRecord({type: 'ob-note', facility, encounter: id, patient, data});
            await this.getCurrentEncounterSpecialtyFeatures({encounter: id});
            successMessage = 'OB Note Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterSpecialtyFeatures({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('OB Note Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>