<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="30, *, 50">
        <stack-layout class="toolbar-action-button back-button" col="0" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Clinics"  col="1" marginTop="6"/>
        <button @tap="createClinic" class="fas" fontSize="18" col="2" color="#767777" backgroundColor="transparent">&#xf067;</button>
      </grid-layout>
      
    </action-bar>
    <stack-layout orientation="vertical">
      <stack-layout class="search-container" orientation="vertical" v-if="isSearching">
        <search-bar v-model="searchQuery" hint="Search Clinic"></search-bar>
      </stack-layout>
      <absolute-layout>
        <stack-layout orientation="vertical" height="100%" width="100%">
          <activity-indicator width="50" :busy="loading" v-if="loading" color="#0099cc" marginTop="20"></activity-indicator>
          <list-view for="clinic in clinics" @itemTap="selectClinic" height="100%" v-else>
            <v-template>
              <stack-layout class="list-item-container" orientation="horizontal">
                <stack-layout orientation="vertical">
                  <image class="list-item-avatar" :src="clinic.picURL ? clinic.picURL : '~/assets/images/placeholder.png'"/>
                </stack-layout>
                <stack-layout orientation="vertical" paddingTop="10">
                  <label :text="clinic.name" class="list-item-title" verticalAlign="center"></label>
                  <label :text="clinic.description" class="list-item-description" verticalAlign="center"></label>
                </stack-layout>
              </stack-layout>
            </v-template>
          </list-view>
        </stack-layout>
      </absolute-layout>
    </stack-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions, mapMutations } from 'vuex';
  import mainComponent from '@/components/main';
  import updateClinic from '@/components/clinic/create';
  export default {
    async created () {
      console.log('foo')
      await this.init();
    },
    data() {
      return {
        loading: false,
        searchQuery: '',
        isSearching: false,
        showSearch: false,
      }
    },
    computed: {
      ...mapGetters({
        results: 'patient/patients',
        clinics: 'clinic/clinics',
        selectedClinic: 'clinic/selectedClinic',
        refreshClinicList: 'clinic/refreshClinicList'
      })
    },
    methods: {
      ...mapActions({
        getClinics: 'clinic/getClinics',
        getClinicPxCount: 'clinic/getClinicPxCount',
        setSelectedClinic: 'clinic/setSelectedClinic'
      }),
      ...mapMutations({
        setRefreshClinicList: 'clinic/setRefreshClinicList',
        setRefreshDashboard: 'dash/setRefreshDashboard'
      }),
      async init () {
        try {
          this.loading = true;
          this.setRefreshClinicList(false);
          await this.getClinics();
          this.loading = false;
        } catch (e) {
          this.loading = false;
          console.error('clinic list error', e);
        }
      },
      createClinic () {
        this.$nami.navigate('clinic');
      },
      async selectClinic ({ index, item }) {
        try {
          const options = [
            'Activate',
            'Update'
          ];

          const res = await action('', 'Close', options);
          
          if(res === 'Close')
            return;
          else if(res === 'Activate') {
            await this.setSelectedClinic(item);
            this.$nami.navigate('main');
            // this.$nami.back();
            this.setRefreshDashboard(true);
          } else if(res === 'Update') {
            this.$nami.navigate('clinic', {props: {clinic: item}});
            // this.$navigateTo(updateClinic, {props: {clinic: item}});
          }
        } catch (e) {
          console.log(e);
        }
      }
    }, 
    watch: {
      tab (val) {
        this.showSearch = false;
      },
      async refreshClinicList (val) {
        if(val) {
          await this.init();
        }
      }
    }
  }
</script>


<style scoped>
  .search-container {
    /* background-color: white; */
    padding: 5 10 5 10;
  }

  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }
  
  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
    color: #cccccc;
  }
</style>

