<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="RECORD_NAME" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="20">
            <button class="primary small" marginBottom="10" @tap="selectPhysicalExam">Select Physical Exam</button>
            <text-view v-model="physicalExam"></text-view>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold" marginBottom="10">Level of Consciousness</label>
            <label fontWeight="bold" marginBottom="10" color="#0099cc">{{consciousnessTexts[consciousnessLevelScale]}}</label>
            <grid-layout columns="auto, *, auto">
              <label col="0">{{consciousnessMinValue}}</label>
              <slider col="1" v-model="consciousnessLevelScale" :minValue="consciousnessMinValue" :maxValue="consciousnessMaxValue"></slider>
              <label col="2">{{consciousnessMaxValue}}</label>
            </grid-layout>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold" marginBottom="10">Pain Assessment</label>
            <label fontWeight="bold" marginBottom="10" color="#0099cc">{{painTexts[painAssessmentScale]}}</label>
            <grid-layout columns="auto, *, auto">
              <label col="0">{{painMinValue}}</label>
              <slider col="1" v-model="painAssessmentScale" :minValue="painMinValue" :maxValue="painMaxValue"></slider>
              <label col="2">{{painMaxValue}}</label>
            </grid-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';
  const RECORD_NAME = 'Physical Exam';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.physicalExam = this.record.physicalExam;
        this.consciousnessLevelScale = this.record.consciousnessLevelScale;
        this.painAssessmentScale = this.record.painAssessmentScale;
      }
    },
    data() {
      return {
        loading: false,
        RECORD_NAME: RECORD_NAME,
        consciousnessMinValue: 0,
        consciousnessMaxValue: 7,
        consciousnessTexts: [
          'Alert',
          'Alert',
          'Verbal Stimuli',
          'Verbal Stimuli',
          'Painful Stimuli',
          'Painful Stimuli',
          'Unresponsive',
          'Unresponsive'
        ],
        painMinValue: 0,
        painMaxValue: 10,
        painTexts: [
          'Pain Free',
          'Very Mild',
          'Discomforting',
          'Tolerable',
          'Distressing',
          'Very Distressing',
          'Intense',
          'Very Intense',
          'Utterly Horrible',
          'Excruciatingly Unbearable',
          'Unimaginable Unspeakable'
        ],
        //
        physicalExam: '',
        consciousnessLevelScale: 0,
        painAssessmentScale: 0
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      async selectPhysicalExam () {
        const options = ['Head', 'Eyes', 'Ears', 'Nose', 'Neck', 'Throat, Mouth & Sinus', 'Breath sounds', 'Respiratory', 'Heart', 'Gastrointestinal', 'Genitourinary', 'Musculoskeletal', 'Skin', 'Endocrine', 'Psychiatric', 'Hematology/Lymph Nodes', 'Allergic/Immunologic'];
        
        const result = await action('Select Physical Exam', 'Close', options);
        if(result === 'Close') return;

        this.physicalExam += `${result}: \n`;
      },
      async save () {
        try {
          this.loading = true;
          let successMessage = '';
          let fields = [
            'physicalExam',
            'consciousnessLevelScale',
            'painAssessmentScale'
          ];

          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, fields))
            }
            await this.updateMedicalRecord({type: 'physical-exam', data});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = `${RECORD_NAME} Upated!`;
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, fields));
            await this.createMedicalRecord({type: 'physical-exam', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = `${RECORD_NAME} Created!`;
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async removeRecord () {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast(`${RECORD_NAME} Deleted!`);
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>