<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Diagnosis" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="20">
            <label fontWeight="bold">Notes:</label>
            <text-view v-model="model.text"></text-view>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold">ICD10:</label>
            <text-field 
              v-model="model.icd10"
              @tap="$nami.navigate('search-icd10', {props: {source: model}})"
              :editable="false">
            </text-field>
          </stack-layout>
          <stack-layout marginBottom="20">
            <button 
              @tap="$nami.navigate('search-procedure', {props: {source: model}})" 
              class="primary small fas" 
              marginBottom="10">&#xf002; Search Procedure</button>
            <stack-layout v-for="(proc, key) in model.recommendedProcedures" :key="key">
              <grid-layout columns="*, auto" padding="5">
                <label col="0" fontWeight="bold" marginTop="5">{{proc.text}}</label>
                <button 
                  @tap="removeProc(key)"
                  col="1" 
                  class="small error fas" 
                  backgroundColor="transparent" 
                  color="#ff6666" 
                  width="35"
                  height="35">&#xf00d;</button>
              </grid-layout>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.model.text = this.record.text;
        this.model.icd10 = this.record.icd10;
        this.model.recommendedProcedures = [...this.record.recommendedProcedures];
      }
    },
    data() {
      return {
        loading: false,
        model: {
          text: '',
          icd10: '',
          recommendedProcedures: []
        }
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateDiagnosis: 'medRecord/updateDiagnosis',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      removeProc (index) {
        this.model.recommendedProcedures.splice(index, 1);
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          let fields = [
            'text',
            'icd10',
            'recommendedProcedures'
          ];
          if(this.isEdit) {
            const data = {
              type: 'assessment',
              subtype: 'diagnosis',
              id: this.record.id,
              ..._.pickBy(_.pick(this.model, fields))
            }
            await this.updateDiagnosis({data, oldProcedures: this.record.recommendedProcedures, newProcedures: this.model.recommendedProcedures});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Diagnosis Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = {
              subtype: 'diagnosis',
              ..._.pickBy(_.pick(this.model, fields))
            }
            console.log({...this.model})
            await this.createMedicalRecord({type: 'assessment', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'Diagnosis Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Diagnosis Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>