<template>
  <page class="page">
    <action-bar flat backgroundColor="transparent">
      <grid-layout columns="*">
        <label fontSize="18" col="0">Step 2 of 3</label>
      </grid-layout>
    </action-bar>
    <grid-layout rows="*, 50">
      <stack-layout row="0" orientation="horizontal" class="container">
        <stack-layout verticalAlignment="center">
          <label textWrap fontSize="28" fontWeight="bold" marginBottom="20">What is your email, Dr. {{name ? name.firstName : ''}}?</label>
          <stack-layout>
            <label marginBottom="10">Email Address</label>
            <text-field hint="name@sample.com" col="0"></text-field> 
          </stack-layout>
        </stack-layout>
      </stack-layout>
      <stack-layout row="1">
        <button @tap="$nami.navigate('doc-onboarding-step-3')" class="success fas" borderRadius="1">Next &#xf061;</button>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  export default {
    props: ['name'],
    data() {
      return {

      }
    }
  }
</script>

<style scoped>
  .page {
    background-image: url('~/assets/images/mycure-doctor-signup-onboarding-bg-04.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>