<template>
  <page class="page">
    <action-bar flat backgroundColor="transparent">
      <grid-layout columns="*">
        <label fontSize="18" col="0">Step 3 of 3</label>
      </grid-layout>
    </action-bar>
    <grid-layout rows="*, 50">
      <scroll-view row="0">
        <stack-layout orientation="horizontal" class="container">
          <stack-layout verticalAlignment="center">
            <label textWrap fontSize="28" fontWeight="bold" marginBottom="20">Awesome!</label>
            <label textWrap marginBottom="10" fontSize="18">What are you specializing in?</label>
            <stack-layout orientation="horizontal" marginBottom="20">
              <button width="50" @tap="selectSpec" class="fas primary">&#xf067;</button>
            </stack-layout>
            <stack-layout>
              <card-view v-for="(spec, key) in specializations" :key="key">
                <grid-layout height="50" columns="*, 50">
                  <label col="0" marginTop="15" marginLeft="10" color="#0099cc">{{spec}}</label>
                  <button @tap="removeSpec(key)" class="fas" col="1" backgroundColor="transparent" color="#ff6666">&#xf00d;</button>
                </grid-layout>
              </card-view>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
      <stack-layout row="1">
        <button class="success fas" borderRadius="1">Done &#xf00c;</button>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex';
  import specializations from '~/assets/fixtures/specializations.json';
  export default {
    data() {
      return {
        specializations: []
      }
    },
    methods: {
      async selectSpec() {
        const options = specializations.map(item => item.spec);
        const result = await action('Select Specializations', 'Close', options);
        if(result === 'Close') return;
        if(!this.specializations.filter(item => item === result).length) {
          this.specializations.push(result);
          this.$showToast(`${result} added`);
          return;
        }
        this.$showToast(`${result} already selected`);
      },
      removeSpec(index) {
        this.specializations.splice(index, 1);
        this.$showToast('Specialization removed');
      }
    },
  }
</script>

<style scoped>
  .page {
    background-image: url('~/assets/images/mycure-doctor-signup-onboarding-bg-04.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>