<template>
  <stack-layout>
    <flex-box-layout v-if="!isChatOnline" column="0" alignItems="center" justifyContent="center" backgroundColor="red" color="white" padding="10" height="40">
      <label>You are offline. Tap here to go online.</label>
    </flex-box-layout>
    <list-view for="convo in conversations" height="100%" @itemTap="selectMessage">
      <v-template>
        <stack-layout class="list-item-container" orientation="horizontal">
          <stack-layout orientation="vertical">
            <image class="list-item-avatar" v-if="convo.picURL" :src="convo.picURL"/>
            <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
          </stack-layout>
          <stack-layout orientation="vertical">
            <label class="list-item-title">{{convo.name}}</label>
            <label class="list-item-title" fontSize="14">{{convo.lastMessage}}</label>
          </stack-layout>
        </stack-layout>
      </v-template>
    </list-view>
  </stack-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    props: ['type'],
    data() {
      return {
        conversations: [
          {
            lastMessage: 'Hello doctor! I have a....',
            name: 'Aranda, Gilbert M.'
          },
          {
            lastMessage: 'I  kjjjkl now...',
            name: 'Magboo, Louis Norien C.'
          },
          {
            lastMessage: 'I have a  days now...',
            name: 'Magboo, Louis Norien C.'
          }
        ]
      }
    },
    computed: {
      ...mapGetters({
        isChatOnline: 'clock/isChatOnline'
      })
    },
    methods: {
      ...mapActions({
        
      }),
      async init() {
        
      },
      selectMessage({ index, item }) {
        if(this.isChatOnline)
          this.$nami.navigate('review-encounter', {props: {isNew: true}});
        else
          this.$showAlert('You are offline.', 'You must go online to view incoming patients.');
      }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }

  .forgot-password-container {
    padding: 30px;
  }
</style>
