<template>
  <list-view for="convo in conversations" height="100%" @itemTap="selectMessage">
    <v-template>
      <stack-layout class="list-item-container" orientation="horizontal">
        <stack-layout orientation="vertical">
          <image class="list-item-avatar" v-if="convo.picURL" :src="convo.picURL"/>
          <image class="list-item-avatar" v-else src="~/assets/images/placeholder.png"/>
        </stack-layout>
        <stack-layout orientation="vertical">
          <label class="list-item-title">{{convo.name}}</label>
          <label class="list-item-title" fontSize="14">{{convo.lastMessage}}</label>
        </stack-layout>
      </stack-layout>
    </v-template>
  </list-view>
</template>

<script>
  export default {
    props: ['type'],
    data() {
      return {
        conversations: [
          {
            lastMessage: 'Hello doctor!',
            name: 'Aranda, Gilbert M.'
          },
          {
            lastMessage: 'I have a fever for 3 days now...',
            name: 'Magboo, Louis Norien C.'
          },
        ]
      }
    },
    methods: {
      selectMessage({ index, item }) {
        this.$nami.navigate('chat-conversation');
      }
    }
  }
</script>

<style scoped>
  .list-item-container {
    padding: 10 0 10 0;
  }

  .list-item-avatar {
    width: 60;
    height: 60;
    border-radius: 100%;
    margin: 0 10 0 10;
  }

  .list-item-title {
    font-size: 18;
  }

  .list-item-name {
    font-size: 16px;
  }

  .list-item-description {
    font-size: 12px;
  }

  .forgot-password-container {
    padding: 30px;
  }
</style>
