<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="'Create Patient Account'" col="1"/>
      </grid-layout>
      <action-item @tap="save">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <stack-layout class="container">
      <stack-layout marginBottom="20">
        <label fontWeight="bold">Email Address:</label>
        <text-field v-model="email" returnKeyType="next"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Password:</label>
        <text-field v-model="password" secure="true" returnKeyType="next"></text-field>
      </stack-layout>

      <stack-layout marginBottom="20">
        <label fontWeight="bold">Confirm Password:</label>
        <text-field v-model="confirmPassword" secure="true" returnKeyType="done"></text-field>
      </stack-layout>
    </stack-layout>
  </page>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    // created () {
    //   this.email = this.selectedPatient.email;
    // },
    data() {
      return {
        loading: false,
        email: 'patient1@gmail.com',
        password: 'password',
        confirmPassword: 'password'
      }
    },
    computed: {
      ...mapGetters({
        selectedPatient: 'patient/selectedPatient'
      })
    },
    methods: {
      ...mapActions({
        createAccount: 'patient/createAccount'
      }),
      async save () {
        try {
          this.loading = true;

          if(!this.email) {
            this.$showAlert('Invalid input!', `'Email Address' field cannot be empty`);
            return;
          }

          if(!this.password) {
            this.$showAlert('Invalid input!', `'Password' field cannot be empty`);
            return;
          }

          if(!this.password) {
            this.$showAlert('Invalid input!', `'Confirm Password' field cannot be empty`);
            return;
          }
          
          if(this.password !== this.confirmPassword) {
            this.$showAlert('Invalid input!', `Password and Confirm Password does not match.`);
            return;
          }

          const data = {
            id: '',
            account: {
              email: this.email,
              password: this.password
            },
            personalDetails: _.pick(this.selectedPatient.personalDetails, [
              'name', 'sex', 'dateOfBirth', 'address', 'bloodType',
              'mobileNo', 'homeNo', 'workNo', 'emergencyNo',
              'emergencyContactName', 'emergencyContactRelationship',
              'emergencyContactMobileNo', 'company', 'companyPosition',
              'companyAddress', 'fathersName', 'fathersMobileNo',
              'fathersReligion', 'fathersNationality', 'mothersName',
              'mothersMobileNo', 'mothersReligion',
            ])
          }
          await this.createAccount(data);
          this.$showToast('Patient account has been created!')
          this.loading = false;
        } catch (e) {
          this.loading = false;
          console.log(e);
          this.$showAlert('Something went wrong!', e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>