<template>
  <stack-layout minHeight="140" width="260" padding="5" @tap="view">
    <!-- <label fontWeight="bold" marginBottom="5">VITAL</label> -->
    <stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Date Taken</label>
          <label fontSize="11" textWrap="true">{{$formatDate(record.takenAt, 'MMMM DD, YYYY')}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Height (cm)</label>
          <label fontSize="11">{{record.height || 'na'}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Weight (kg)</label>
          <label fontSize="11">{{record.weight || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">BMI</label>
          <label fontSize="11">{{getBMI(record.weight, record.height) || 0}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">BP Systolic</label>
          <label fontSize="11">{{record.bpSystolic || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">BP Diastolic</label>
          <label fontSize="11">{{record.bpDiastolic || 'na'}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout orientation="horizontal">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Pulse Rate (bpm)</label>
          <label fontSize="11">{{record.pulse || 'na'}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Respiration Rate (rpm)</label>
          <label fontSize="11">{{record.respiration || 'na'}}</label>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-vitals', {props: {record: this.record, isEdit: true}})
      },
      getBMI(weight, height) {
        const bmi = (weight / (height * height)) * 10000;
        return Math.round(bmi * 100) / 100;
      }
    }
  }
</script>