<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Vaccination" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view orientation="vertical" row="1">
        <stack-layout orientation="vertical" class="container">
          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Vaccine Name:</label>
              <text-field @tap="selectVaccine" v-model="vaccine"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Route of Administration:</label>
              <text-field @tap="selectAdministrationRoute" v-model="injectionSite"></text-field>
            </stack-layout>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label fontWeight="bold">Date Administered:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="administeredAt"></date-picker>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10">
            <label fontWeight="bold">Expiration Date:</label>
            <stack-layout backgroundColor="white">
              <date-picker v-model="expiresAt"></date-picker>
            </stack-layout>
          </stack-layout>

          <stack-layout orientation="horizontal">
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Administered by:</label>
              <text-field v-model="administeredBy"></text-field>
            </stack-layout>
            <stack-layout marginBottom="10" width="50%">
              <label fontWeight="bold">Lot No.:</label>
              <text-field v-model="lotNo"></text-field>
            </stack-layout>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import vaccinesFixtures from '~/assets/fixtures/vaccines.json';
  import administrationRouteFixtures from '~/assets/fixtures/vaccine-administration-route.json';
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.vaccine = this.record.vaccine;
        this.injectionSite = this.record.injectionSite;
        this.administeredAt = new Date(this.record.administeredAt);
        this.expiresAt = new Date(this.record.expiresAt);
        this.administeredBy = this.record.administeredBy;
        this.lotNo = this.record.lotNo;
      }
    },
    data() {
      return {
        loading: false,
        vaccine: '',
        injectionSite: '',
        administeredAt: new Date(),
        expiresAt: new Date(),
        administeredBy: '',
        lotNo: ''
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedicalHistories: 'medRecord/getCurrentEncounterMedicalHistories'
      }),
      async selectVaccine() {
        const options = [];
        for (const key in vaccinesFixtures) {
          options.push(vaccinesFixtures[key].name);
        }
        const result = await action('Select Vaccine', 'Close', options);
        if(result === 'Close') return;
        this.vaccine = result;
      },
      async selectAdministrationRoute() {
        const result = await action('Select route of administration', 'Close', administrationRouteFixtures);
        if(result === 'Close') return;
        this.injectionSite = result;
      },
      async save() {
        try {
          this.loading = true;
          let successMessage = '';
          if(this.isEdit) {
            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this, [
                'vaccine',
                'injectionSite',
                'administeredAt',
                'expiresAt',
                'administeredBy',
                'lotNo'
              ]))
            }
            await this.updateMedicalRecord({type: 'vaccination', data});
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            successMessage = 'Vaccination Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;
            const data = _.pickBy(_.pick(this, [
              'vaccine',
              'injectionSite',
              'administeredAt',
              'expiresAt',
              'administeredBy',
              'lotNo'
            ]));
            await this.createMedicalRecord({type: 'vaccination', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedicalHistories({encounter: id});
            successMessage = 'Vaccination Created!';
          }
          this.loading = false;
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
      async fabTap() {
        const options = [
          'Delete'
        ];

        const result = await action('', 'Close', options);
        if(result === 'Close') {
          return;
        } else if(result === 'Delete') {
          this.removeRecord();
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedicalHistories({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Vaccination Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>