<template>
  <page>
    <action-bar flat>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" :text="'Account'" col="1"/>
      </grid-layout>
      <action-item @tap="save">
        <stack-layout>
          <image width="25" src="~/assets/images/mycure-icon-doctor-save.png" marginRight="10" />
        </stack-layout>
      </action-item>
    </action-bar>
    <stack-layout>
      <tab-view 
        :selectedIndex="selectedIndex" 
        iosIconRenderingMode="alwaysOriginal" 
        tabTextColor="black" 
        tabBackgroundColor="white" 
        selectedTabTextColor="#0099cc" 
        androidSelectedTabHighlightColor="#0099cc"
        @selectedIndexChange="tabChanged">
        <tab-view-item title="Profile">
          <scroll-view orientation="vertical">
            <profile-tab-content ref="profileTabRef"></profile-tab-content>
          </scroll-view>
        </tab-view-item>
        <!-- <tab-view-item title="Profession">
          <Label text="Profession" />
        </tab-view-item>
        <tab-view-item title="Account">
          <Label text="Account" />
        </tab-view-item> -->
      </tab-view>
    </stack-layout>
  </page>
</template>

<script>
  import profileTabContent from '~/components/profile/profile'
  export default {
    components: {
      profileTabContent
    },
    data() {
      return {
        selectedIndex: 0,
        tabName: 'Personal Details'
      }
    },
    methods: {
      tabChanged({value:index}) {
        this.selectedIndex = index;
        const tabNames = [
          'Personal Details'
        ];
        this.tabName = tabNames[index];
      },
      save() {
        if(this.selectedIndex === 0) {
          this.$refs.profileTabRef.save();
        }
      }
    }
  }
</script>

