<template>
  <stack-layout minHeight="140" width="260" padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">OB-GYN</label>
    <stack-layout>

      <!-- LMP -->
      <stack-layout v-if="record.lmp">
        <stack-layout marginBottom="3">
          <label fontWeight="bold" fontSize="10">LMP Date</label>
          <label fontSize="11">{{$formatDate(record.lmp, 'MM/DD/YY')}}</label>
        </stack-layout>

        <stack-layout orientation="horizontal" marginBottom="3">
          <stack-layout width="50%">
            <label fontWeight="bold" fontSize="10">EDC</label>
            <label fontSize="11" textWrap>{{$medRecordsHelper.computeEdcByDate(record.lmp)}}</label>
          </stack-layout>
          <stack-layout width="50%">
            <label fontWeight="bold" fontSize="10">AOG</label>
            <label fontSize="11">{{$medRecordsHelper.computeAOGUsingLMP(record.lmp)}}</label>
          </stack-layout>
        </stack-layout>
      </stack-layout>

      <!-- ULTRA SOUND -->
      <stack-layout v-if="record.ultrasoundDate">
        <stack-layout orientation="horizontal" marginBottom="3">
          <stack-layout width="50%">
            <label fontWeight="bold" fontSize="10">US Date</label>
            <label fontSize="11" textWrap>{{$formatDate(record.ultrasoundDate, 'MM/DD/YY')}}</label>
          </stack-layout>
          <stack-layout width="50%">
            <label fontWeight="bold" fontSize="10">AOG by US</label>
            <label fontSize="11" textWrap>{{record.ultrasoundAog}}</label>
          </stack-layout>
        </stack-layout>

        <stack-layout marginBottom="3">
          <label fontWeight="bold" fontSize="10">EDC by US</label>
          <label fontSize="11" textWrap>{{$medRecordsHelper.computeEDCUsingUS(record.ultrasoundDate, record.ultrasoundAog)}}</label>
        </stack-layout>
      </stack-layout>
      
      <stack-layout orientation="horizontal" marginBottom="3">
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Fundal Height (cm)</label>
          <label fontSize="11" textWrap>{{record.fundalHeight}}</label>
        </stack-layout>
        <stack-layout width="50%">
          <label fontWeight="bold" fontSize="10">Fetal Heart Tone (bpm)</label>
          <label fontSize="11">{{record.fetalHeartTone}}</label>
        </stack-layout>
      </stack-layout>

      <stack-layout>
        <stack-layout>
          <label fontWeight="bold" fontSize="10">Internal Exam Findings</label>
          <label fontSize="11" textWrap>{{record.examFindings}}</label>
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-ob-note', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>