<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Reset Password"  col="1"/>
      </grid-layout>
    </action-bar>
    <stack-layout orientation="vertical" class="forgot-pw-container container">
      <label marginBottom="20">No worries! Just follow these steps:</label>
      <label textWrap>1. Enter your MYCURE email address below.</label>
      <label textWrap>2. We'll be sending you a password recovery email to the address you provided. Follow the instructions carefully.</label>
      <label textWrap>3. Login to MYCURE using your new password. :)</label>
      <label marginTop="20" marginBottom="20" textWrap>Need more help? Email us at hello@mycure.md</label>
      <stack-layout marginBottom="20">
        <text-field 
          v-model="email"
          :editable="!loading"
          keyboardType="email" 
          returnType="next" 
          autocorrect="false" 
          verticalAlignment="center"
          hint="Email Address">
        </text-field>
      </stack-layout>
      <button 
        :isEnabled="!loading"
        class="primary"
        verticalAlignment="center"
        text="Send password reset email"
        @tap="submit">
      </button>
    </stack-layout>
  </page>
</template>

<script>
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import { mapActions } from 'vuex';
  import isEmail from 'validator/lib/isEmail';

  export default {
    data() {
      return {
        loading: false,
        email: ''
      }
    },
    methods: {
      ...mapActions({
        forgotPassword: 'auth/forgotPassword'
      }),
      async submit() {
        try {
          this.loading = true;
          if (!isEmail(this.email)) { 
            this.loading = false;
            alert({
              title: 'Error!',
              message: 'Invalid email address format.',
              okButtonText: 'Ok'
            });
            return;
          }
          await this.forgotPassword(this.email);
          this.loading = false;
          alert({
            title: 'Success!',
            message: `Reset password email sent to ${this.email}`,
            okButtonText: 'Ok'
          });
        } catch (e) {
          this.loading = false;
          console.log(e);
          alert({
            title: 'Error!',
            message: e.message,
            okButtonText: 'Ok'
          });
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      }
    }
  }
</script>

<style scoped>

  .forgot-pw-container {
    height: 400;
  }

  .login-loading-container {
    height: 50;
  }
</style>
