<template>
  <stack-layout width="260" padding="5" @tap="view">
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Procedure</label>
      <label fontSize="11" textWrap>{{record.name || 'na'}}</label>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">ICD10</label>
      <label fontSize="11" textWrap>{{record.icd10 || 'na'}}</label>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Performed By</label>
      <!-- <label textWrap>{{providerNames}}</label> -->
      <stack-layout v-for="(provider, key) in providerNames" :key="key">
        <label fontSize="11" textWrap>{{key+1}}. {{provider || 'na'}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Procedure Result / Note</label>
      <label fontSize="11" textWrap>{{record.notes || 'na'}}</label>
    </stack-layout>
    <!-- <label textWrap>{{record.$populated.medicalProcedureProviders}}</label> -->
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        providerNames: []
      }
    },
    created () {
      if(this.record && this.record.$populated && this.record.$populated.medicalProcedureProviders.length) {
        this.record.$populated.medicalProcedureProviders.forEach(provider => {
          this.providerNames.push(`${provider.name.firstName} ${provider.name.lastName}`)
        });
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-procedure', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>