<template>
  <page>
    <action-bar>
      <grid-layout width="100%" columns="auto, *">
        <stack-layout class="toolbar-action-button back-button" @tap="$nami.back()"></stack-layout>
        <label class="toolbar-title" text="Medical Procedure" col="1"/>
      </grid-layout>
      <action-item @tap="removeRecord" 
        text="Delete" 
        android.position="popup">
      </action-item>
    </action-bar>
    <grid-layout rows="auto, *">
      <fab 
        @tap="save" 
        ref="fabBtn" 
        row="1" 
        icon="~/assets/images/mycure-icon-doctor-save-white.png" 
        rippleColor="#f1f1f1" 
        :class="{'fab-button': true, 'animate-fab': true}">
      </fab>
      <scroll-view row="1">
        <stack-layout class="container">
          <stack-layout marginBottom="20">
            <button
              v-if="model.recommendedProcedures.length === 0" 
              @tap="$nami.navigate('search-procedure', {props: {source: model}})" 
              class="primary small fas" 
              marginBottom="10">&#xf002; Search Procedure</button>
            <stack-layout v-else v-for="(proc, key) in model.recommendedProcedures" :key="key">
              <grid-layout columns="*, auto" padding="5">
                <label col="0" fontWeight="bold" marginTop="5">{{proc.text}}</label>
                <button 
                  @tap="removeProc(key)"
                  col="1" 
                  class="small error fas" 
                  backgroundColor="transparent" 
                  color="#ff6666" 
                  width="35"
                  height="35">&#xf00d;</button>
              </grid-layout>
            </stack-layout>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold">ICD10:</label>
            <text-field 
              v-model="model.icd10"
              @tap="$nami.navigate('search-icd10', {props: {source: model}})"
              :editable="false">
            </text-field>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold">Search Staff:</label>
            <text-field 
              :text="selectedStaffName"
              @tap="$nami.navigate('search-staff', {props: {types: ['nurse', 'doctor', 'doctor_sonologist', 'doctor_radiologist', 'doctor_pathologist', 'nurse_head'], source: model}})"
              :editable="false">
            </text-field>
          </stack-layout>
          <stack-layout marginBottom="20">
            <label fontWeight="bold">Notes:</label>
            <text-view v-model="model.notes"></text-view>
          </stack-layout>
        </stack-layout>
      </scroll-view>
    </grid-layout>
  </page>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  import _ from 'lodash';

  export default {
    props: ['record', 'isEdit'],
    created() {
      if(this.record) {
        this.model.notes = this.record.notes;
        this.model.name = this.record.name;
        this.model.recommendedProcedures.push({text:  this.record.name});
        this.model.icd10 = this.record.icd10;
        this.model.providers = [...this.record.providers];
        this.updateSelectedStaff(this.record.$populated.medicalProcedureProviders[0]);
      }
    },
    data() {
      return {
        loading: false,
        selectedStaffName: '',
        model: {
          members: [],
          recommendedProcedures: [],
          notes: '',
          name: '',
          icd10: '',
          ref: '',
          providers: []
        }
      }
    },
    computed: {
      ...mapGetters({
        encounter: 'encounter/currentEncounter'
      })
    },
    methods: {
      ...mapActions({
        createMedicalRecord: 'medRecord/createMedicalRecord',
        updateMedicalRecord: 'medRecord/updateMedicalRecord',
        removeMedicalRecord: 'medRecord/removeMedicalRecord',
        getCurrentEncounterMedRecords: 'medRecord/getCurrentEncounterMedRecords'
      }),
      removeProc (index) {
        this.model.recommendedProcedures.splice(index, 1);
      },
      updateSelectedStaff (member) {
        if(!member) return;
        this.model.providers[0] = member.id;
        this.selectedStaffName = `${member.name.firstName} ${member.name.lastName}`;
      },
      async save () {
        try {
          this.loading = true;
          let successMessage = '';
          let fields = [
            'notes',
            'name',
            'icd10',
            'providers',
            'ref'
          ];
          
          if(this.isEdit) {
            this.model.ref = this.model.recommendedProcedures[0].id;
            this.model.name = this.model.recommendedProcedures[0].text;

            const data = {
              id: this.record.id,
              ..._.pickBy(_.pick(this.model, fields))
            }

            await this.updateMedicalRecord({type: 'medical-procedure', data});
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            successMessage = 'Medical Procedure Updated!';
          } else {
            const {
              facility,
              id,
              patient
            } = this.encounter;

            this.model.ref = this.model.recommendedProcedures[0].id;
            this.model.name = this.model.recommendedProcedures[0].text;

            const data = _.pickBy(_.pick(this.model, fields));
            await this.createMedicalRecord({type: 'medical-procedure', facility, encounter: id, patient, data});
            await this.getCurrentEncounterMedRecords({encounter: id});
            successMessage = 'Medical Procedure Created!';
          }
          this.$showToast(successMessage);
          this.$nami.back();
        } catch (e) {
          console.error(e);
          this.$showAlert(e.message);
        } finally {
          this.loading = false;
        }
      },
      async removeRecord() {
        try {
          const result = await this.$showConfirm('Do you really want to delete this record?');
          if(result) {
            this.loading = true;
            await this.removeMedicalRecord(this.record.id);
            await this.getCurrentEncounterMedRecords({encounter: this.encounter.id});
            this.loading = false;
            this.$showToast('Medical Procedure Deleted!');
            this.$nami.back();
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.$showAlert(e.message);
        }
      },
    },
    watch: {
      loading (val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      },
      model: {
        handler (val) {
          this.updateSelectedStaff(val.members[val.members.length - 1]);
        },
        deep: true
      }
    }
  }
</script>

<style scoped>
  .loading-container {
    height: 50;
  }

  .date-picker-container {
    background-color: #eeeeee;
    margin-bottom: 10;
  }

  .dp-image {
    width: 90;
    border-radius: 100%;
  }
</style>