<template>
  <stack-layout class="container">
    <card-view>
      <stack-layout>
        <label text="Invoice">
        </label>
        <label text="Services">
        </label>
      </stack-layout>
    </card-view>
    <button
      class="primary small"
      text="End Encounter"
      @tap="endEncounter">
    </button>
  </stack-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  data () {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState('encounter', ['currentEncounter']),
    ...mapState('medRecord', ['chief-complaint'])
  },
  watch: {
    loading (val) {
      if (val) {
        this.$dialogLoader().show();
      } else {
        this.$dialogLoader().hide();
      }
    }
  },
  methods: {
    ...mapActions('encounter', ['finishEncounter']),
    async validate () {
      if (_.isEmpty(this['chief-complaint'].text)) {
        throw Error('Chief complaint is required.');
      }
    },
    async endEncounter () {
      const res = await this.$showConfirm('Are you sure you want to end the encounter?');
      if (!res) return;

      try {
        this.loading = true;
        await this.validate();
        await this.finishEncounter(this.currentEncounter);
        this.$dialogLoader().hide();
        this.$emit('end');
      } catch (e) {
        await alert({
          title: 'Cannot end encounter',
          message: e.message,
          okButtonText: 'OK'
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
