<template>
  <page>
    <mc-header v-bind="headerData">
    </mc-header>
    <scroll-view>
      <card-view class="card">
        <stack-layout class="stack">
          <flexbox-layout
            class="header"
            width="100%"
            flexDirection="row"
            justifyContent="space-between">
            <stack-layout>
              <image
                width="35"
                height="35"
                src="~/assets/images/mycure-px-app-symbol-rx.png">
              </image>
            </stack-layout>
            <flexbox-layout flexDirection="column" alignItems="flex-end">
              <label class="date" fontWeight="bold" :text="date">
              </label>
              <label class="time" :text="time">
              </label>
            </flexbox-layout>
          </flexbox-layout>
          <flexbox-layout
            class="medicines"
            flexDirection="column"
            alignItems="center">
            <stack-layout width="70%">
              <flexbox-layout
                v-for="medicine in prescription.medicines"
                key="medicine.name"
                class="item"
                flexDirection="column"
                alignItems="flex-start">
                <label class="text" fontWeight="bold" :text="medicine.name">
                </label>
                <label class="text" :text="medicine.amount">
                </label>
                <label class="text" :text="getSig(medicine)">
                </label>
                <label class="text" :text="getDispense(medicine)">
                </label>
              </flexbox-layout>
            </stack-layout>
          </flexbox-layout>
          <flexbox-layout flexDirection="row" justifyContent="flex-end">
            <stack-layout class="signature">
              <image
                width="100"
                src="~/assets/images/mycure-px-app-signature.png">
              </image>
              <label class="name" text="Jean Rivera, MD">
              </label>
              <label class="digital-sign" text="Signed with Digital Signature">
              </label>
              <label class="license" text="Lic. No. 123455">
              </label>
              <label class="ptr" text="PTR No. 1355900">
              </label>
            </stack-layout>
          </flexbox-layout>
        </stack-layout>
      </card-view>
    </scroll-view>
  </page>
</template>

<script>
import McHeader from '~/components/commons/mc-header';
import format from 'date-fns/format';

export default {
  props: ['prescription'],
  components: {McHeader},
  data () {
    return {
      headerData: {
        supertitle: this.prescription.title,
        title: 'Jean Rivera, MD',
        subtitle: 'General Physician',
        action: {
          image: '~/assets/images/mycure-px-app-btn-back.png',
          onTap: () => this.$nami.back()
        }
      },
    };
  },
  computed: {
    date () {
      return format(this.prescription.createdAt, 'DD MMM YYYY');
    },
    time () {
      return format(this.prescription.createdAt, 'hh:mm A');
    }
  },
  methods: {
    getSig (medicine) {
      return `Sig. ${medicine.frequency}`;
    },
    getDispense (medicine) {
      return `Disp. ${medicine.dispense}`;
    }
  }
};
</script>

<style scoped>
.card {
  margin: 10px;
}

.header {
  margin: 10px;
}

.card > .stack {
  width: 100%;
  padding: 10px;
}

.date, .time {
  font-size: 10;
  text-align: right;
  color: black;
}

.item {
  margin: 5px;
}

.text {
  color: black;
  font-size: 12;
  text-align: left;
}

.signature > label {
  text-align: right;
}

.name, .digital-sign {
  color: black;
}

.name, .license, .ptr {
  font-size: 12;
}

.digital-sign {
  font-size: 8;
}

.license, .ptr {
  color: gray;
}
</style>
