<template>
  <page actionBarHidden="true">
    <grid-layout rows="*, 50">
      <stack-layout row="0" orientation="horizontal" class="container" backgroundColor="red">
      </stack-layout>
      <stack-layout row="1">
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  export default {
    name: 'foo',
    data() {
      return {

      }
    }
  }
</script>