<template>
  <page class="page" actionBarHidden="true">
    <grid-layout rows="*, 200, 50">

      <stack-layout row="0" orientation="horizontal" class="container">
        <stack-layout verticalAlignment="center">
          <stack-layout orientation="horizontal" marginBottom="20">
            <image verticalAlign="left" width="170" src="~/assets/images/mycure-logo.png" />
          </stack-layout>
          <label textWrap fontSize="28" fontWeight="bold" marginBottom="20">Great to see you here!</label>
          <label textWrap marginBottom="10" fontSize="18">Please enter your mobile number to join.</label>
          <grid-layout columns="60, *, 50" height="50">
            <button class="outline-primary fas" fontSize="13" col="0" @tap="selectCountryCode">{{countryCode}} &#xf0d7;</button>
            <text-field :text="mobileNumber" @textChange="validateNumber" keyboardType="number" hint="XXX-XXX-XXXX" col="1" marginLeft="5" marginRight="5" maxLength="10" :editable="!loading"></text-field> 
            <button @tap="showMobileNumberInfo" class="primary fas" col="2">&#xf129;</button>
          </grid-layout>
        </stack-layout>
      </stack-layout>

      <stack-layout row="1">
        <image src="~/assets/images/mycure-doctor-signup-onboarding-md-01.png" horizontalAlignment="center" />
      </stack-layout>

      <stack-layout row="2" backgroundColor="red">
        <button @tap="submit" :class="{'success': isMobileNumberValid}" borderRadius="1">Sign up</button>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import { isMobilePhone } from 'validator';
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  import { mapActions } from 'vuex';
  const $dialogLoader = new LoadingIndicator();

  export default {
    data() {
      return {
        loading: false,
        mobileNumber: '',
        countryCode: '+63',
        isMobileNumberValid: false
      }
    },
    methods: {
      ...mapActions({
        signUpMobile: 'auth/signUpMobile'
      }),
      async submit() {
        try {
          if(!this.isMobileNumberValid || this.loading) return;
          this.loading = true;
          setTimeout(() => {
            this.$nami.navigate('signup-step-2');
            this.loading = false;
          }, 2000)
        } catch (e) {
          this.$showAlert(e.message);
          this.loading = false;
        }
      },
      async selectCountryCode() {
        const options = ['+63 - Philippines'];
        const result = await action('Select country code', 'Close', options);
        if(result === 'Close') return;
        if(result === '+63 - Philippines') {
          this.countryCode = '+63';
        }
      },
      validateNumber({value}) {
        if(isMobilePhone(value) && value.length === 10) {
          this.isMobileNumberValid = true;
        } else {
          this.isMobileNumberValid = false;
        }
      },
      showMobileNumberInfo() {
        this.$showAlert('', 'To make sure it’s you, we will send an access code to this mobile number to verify your account.');
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      },
    }
  }
</script>

<style scoped>
  .page {
    background-image: url('~/assets/images/mycure-doctor-signup-onboarding-bg-01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>
