<template>
  <page class="page">
    <action-bar flat backgroundColor="transparent">
      <grid-layout width="100%" columns="*, 80">
        <button col="2" backgroundColor="transparent">Skip</button>
      </grid-layout>
    </action-bar>
    <grid-layout rows="*, 200, 50">
      <stack-layout row="0" orientation="horizontal" class="container">
        <stack-layout verticalAlignment="center">
          <stack-layout orientation="horizontal" marginBottom="20">
            <image verticalAlign="left" width="170" src="~/assets/images/mycure-logo.png" />
          </stack-layout>
          <label textWrap fontSize="28" fontWeight="bold" marginBottom="20">Your mobile number is verified.</label>
          <label marginBottom="10" fontSize="18" textWrap>Welcome to MYCURE.</label>
        </stack-layout>
      </stack-layout>
      <stack-layout row="1">
        <image src="~/assets/images/mycure-doctor-signup-onboarding-md-03.png" horizontalAlignment="center" />
      </stack-layout>
      <stack-layout row="2">
        <button class="success fas" borderRadius="1">Let's get started &#xf061;</button>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  export default {
    data() {
      return {

      }
    }
  }
</script>

<style scoped>
  .page {
    background-image: url('~/assets/images/mycure-doctor-signup-onboarding-bg-03.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>