<template>
  <page class="page" actionBarHidden="true">
    <grid-layout rows="*, 200, 50">
      <stack-layout row="0" orientation="horizontal" class="container">
        <stack-layout verticalAlignment="center">
          <stack-layout orientation="horizontal" marginBottom="20">
            <image verticalAlign="left" width="170" src="~/assets/images/mycure-logo.png" />
          </stack-layout>
          <label textWrap fontSize="28" fontWeight="bold" marginBottom="20">Verification Code</label>
          <label marginBottom="10" fontSize="18" textWrap>Please enter the code we sent to (mobile number)</label>
          <label marginBottom="10" fontSize="18" textWrap>00:00:{{seconds || '00'}}</label>
          <grid-layout columns="*, 50" height="50">
            <text-field @textChange="validateCode" maxLength="6" hint="------" keyboardType="number" col="0" marginLeft="5" marginRight="5"></text-field> 
            <button :class="{'fas': true, 'primary': timesup}" col="1" @tap="requestNewCode">&#xf2f9;</button>
          </grid-layout>
        </stack-layout>
      </stack-layout>
      <stack-layout row="1">
        <image src="~/assets/images/mycure-doctor-signup-onboarding-md-02.png" horizontalAlignment="center" />
      </stack-layout>
      <stack-layout row="2">
        <button @tap="submit" :class="{'success': isCodeValid}" borderRadius="1">Verify</button>
      </stack-layout>
    </grid-layout>
  </page>
</template>

<script>
  import { LoadingIndicator } from 'nativescript-loading-indicator';
  const $dialogLoader = new LoadingIndicator();
  const TIMEOUT = 60;

  export default {
    created() {
      this.startCountdown();
    },
    data() {
      return {
        loading: false,
        seconds: 0,
        currentCount: 1,
        timeout: TIMEOUT,
        interval: null,
        timesup: false,
        isCodeValid: false
      }
    },
    methods: {
      async submit() {
        try {
          this.loading = true;
          setTimeout(() => {
            // submit code for verification
            this.loading = false;
            clearInterval(this.interval);
            this.$nami.navigate('signup-step-3');
          }, 2000);
        } catch (e) {
          this.$showAlert(e.message);
          this.loading = false;
        }
      },
      async requestNewCode() {
        try {
          if(!this.timesup) return;
          const result = await this.$showConfirm('Do you want to request a new verification code?');
          if(result) {
            // request new code
            this.loading = true;
            setTimeout(() => {
              // mock request code
              this.loading = false;
              this.startCountdown();
            }, 2000);
          }
        } catch (e) {
          this.$showAlert(e.message);
          this.loading = false;
        }
      },
      startCountdown() {
        this.seconds = TIMEOUT;
        this.interval = setInterval(() => {
          this.seconds -= 1;
          if(this.seconds === 0) {
            this.timesup = true;
            clearInterval(this.interval);
          }
        }, 1000);
      },
      validateCode({value}) {
        if(value.length === 6) {
          this.isCodeValid = true;
        } else {
          this.isCodeValid = false;
        }
      }
    },
    watch: {
      loading(val) {
        if(val) 
          $dialogLoader.show(this.$loadingIndicatorOptions());
        else 
          $dialogLoader.hide();
      },
    }
  }
</script>

<style scoped>
  .page {
    background-image: url('~/assets/images/mycure-doctor-signup-onboarding-bg-02.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>