<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">OBSTETRIC HISTORY</label>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">LMP</label>
        <label fontSize="11" textWrap="true">{{$formatDate(record.LMP, 'MMMM DD, YYYY')}}</label>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">PMP</label>
        <label fontSize="11" textWrap="true">{{$formatDate(record.PMP, 'MMMM DD, YYYY')}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Gravidity</label>
        <label fontSize="11" textWrap="true">{{record.gravidity}}</label>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Parity</label>
        <label fontSize="11" textWrap="true">{{record.parity}}</label>
      </stack-layout>
    </stack-layout>
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Notes</label>
      <label fontSize="11">{{record.notes}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-obstetric-history', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>