<template>
  <stack-layout width="260" padding="5" @tap="view">
    <flexbox-layout
      v-if="areResultsAvailable"
      width="100%"
      marginBottom="5"
      flexDirection="row"
      justifyContent="flex-start">
      <label
        class="chip"
        fontWeight="bold"
        text="Results Available">
      </label>
    </flexbox-layout>
    <stack-layout orientation="horizontal">
      <stack-layout width="50%" paddingRight="3">
        <label fontWeight="bold" fontSize="10">{{record.type === 'lab-test-order' ? 'Laboratory Tests' : 'Imaging Tests'}}</label>
        <stack-layout v-for="(test, key) in record.tests" :key="key">
          <label fontSize="11" textWrap>{{key+1}}. {{test.name}}</label>
        </stack-layout>
      </stack-layout>
      <stack-layout width="50%">
        <label fontWeight="bold" fontSize="10">Test Reason</label>
        <label fontSize="11" textWrap>{{record.reason || 'na'}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  import _ from 'lodash';

  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      },
      isDisabled: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      areResultsAvailable () {
        return !_.isEmpty(this.record.results);
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-diagnostic-order', {props: {record: this.record, isEdit: true, isDisabled: this.isDisabled}})
      }
    }
  }
</script>

<style scoped>
.chip {
  background-color: #7fad33;
  color: white;
  font-size: 8;
  text-align: center;
  border-radius: 100%;
  padding: 0px 25px;
}
</style>
