<template>
  <stack-layout class="past-enc-container">
    <stack-layout v-if="loading">
      <activity-indicator width="50" :busy="loading" color="#0099cc" marginTop="20"></activity-indicator>
    </stack-layout>
    <stack-layout v-if="!pastEncounters.length && !loading">
      <flex-box-layout alignItems="center" justifyContent="center" height="50">
        <label>Patient does not have any encounters yet.</label>
      </flex-box-layout>
    </stack-layout>
    <stack-layout v-else borderLeftWidth="2" borderColor="#0099cc" paddingTop="20">
      <stack-layout v-for="(encounter, key) in pastEncounters" :key="key" marginBottom="20">
        <label 
          color="#0099cc" 
          fontSize="18" 
          marginLeft="3" 
          marginBottom="10" 
          fontWeight="bold"
          :text="$formatDate(encounter.finishedAt, 'MMM. DD, YYYY')" />
        <stack-layout>
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['chief-complaint'])">
            <label marginLeft="2" fontWeight="bold">Chief Complaint:</label>
            <card-view minHeight="50">
              <stack-layout padding="5">
                <label>{{encounter.medicalRecords['chief-complaint'][0].text}}</label>
              </stack-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['hpi'])">
            <label marginLeft="2" fontWeight="bold">HPI:</label>
            <card-view minHeight="50">
              <stack-layout padding="5">
                <label>{{encounter.medicalRecords['hpi'][0].text}}</label>
              </stack-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['medication-order'])">
          <!-- <stack-layout marginBottom="10"> -->
            <label marginLeft="2" fontWeight="bold">Prescriptions:</label>
            <!-- <label textWrap>{{encounter.medicalRecords['medication-order']}}</label> -->
            <card-view v-for="(item, key) in encounter.medicalRecords['medication-order']" :key="key">
              <grid-layout padding="5">
                <prescription-card :record="item" :tappable="false" horizontalAlignment="left"></prescription-card>
              </grid-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10">
            <label marginLeft="2" fontWeight="bold">Medical History:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['allergy']" :key="key">
              <grid-layout padding="5">
                <allergy-card :record="item" :tappable="false" horizontalAlignment="left"></allergy-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['birth-history']" :key="key">
              <grid-layout padding="5">
                <birth-history-card :record="item" :tappable="false" horizontalAlignment="left"></birth-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['family-history']" :key="key">
              <grid-layout padding="5">
                <family-history-card :record="item" :tappable="false" horizontalAlignment="left"></family-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['gynecological-history']" :key="key">
              <grid-layout padding="5">
                <gynecological-history-card :record="item" :tappable="false" horizontalAlignment="left"></gynecological-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['hospitalization-history']" :key="key">
              <grid-layout padding="5">
                <hospitalization-history-card :record="item" :tappable="false" horizontalAlignment="left"></hospitalization-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['menstrual-history']" :key="key">
              <grid-layout padding="5">
                <menstrual-history-card :record="item" :tappable="false" horizontalAlignment="left"></menstrual-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['obstetric-history']" :key="key">
              <grid-layout padding="5">
                <obstetric-history-card :record="item" :tappable="false" horizontalAlignment="left"></obstetric-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['past-medical-history']" :key="key">
              <grid-layout padding="5">
                <past-medical-history-card :record="item" :tappable="false" horizontalAlignment="left"></past-medical-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['social-history']" :key="key">
              <grid-layout padding="5">
                <social-history-card :record="item" :tappable="false" horizontalAlignment="left"></social-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['surgical-history']" :key="key">
              <grid-layout padding="5">
                <surgical-history-card :record="item" :tappable="false" horizontalAlignment="left"></surgical-history-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['vaccination-history']" :key="key">
              <grid-layout padding="5">
                <vaccination-history-card :record="item" :tappable="false" horizontalAlignment="left"></vaccination-history-card>
              </grid-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['ros'])">
            <label marginLeft="2" fontWeight="bold">Review of Systems:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['ros']" :key="key">
              <grid-layout padding="5">
                <ros-card :record="item" :tappable="false" horizontalAlignment="left"></ros-card>
              </grid-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['ent-note']) || $isObjEmpty(encounter.medicalRecords['ob-note'])">
            <label marginLeft="2" fontWeight="bold">Specialty Features:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['ent-note']" :key="key">
              <grid-layout padding="5">
                <ent-note-card :record="item" :tappable="false" horizontalAlignment="left"></ent-note-card>
              </grid-layout>
            </card-view>
            <card-view v-for="(item, key) in encounter.medicalRecords['ob-note']" :key="key">
              <grid-layout padding="5">
                <ob-note-card :record="item" :tappable="false" horizontalAlignment="left"></ob-note-card>
              </grid-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['physical-exam'])">
            <label marginLeft="2" fontWeight="bold">Physical Exams:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['physical-exam']" :key="key">
              <grid-layout padding="5">
                <pe-card :record="item" :tappable="false" horizontalAlignment="left"></pe-card>
              </grid-layout>
            </card-view>
          </stack-layout>

          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['care-plan'])">
            <label marginLeft="2" fontWeight="bold">Care Plan:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['care-plan']" :key="key">
              <grid-layout padding="5">
                <care-plan-card :record="item" :tappable="false" horizontalAlignment="left"></care-plan-card>
              </grid-layout>
            </card-view>
          </stack-layout>
          
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['assessment'])">
            <label marginLeft="2" fontWeight="bold">Impression:</label>
            <stack-layout v-for="(item, key) in encounter.medicalRecords['assessment']" :key="key">
              <card-view v-if="item.subtype === 'impression'">
                <grid-layout padding="5">
                  <impression-card :record="item" :tappable="false" horizontalAlignment="left"></impression-card>
                </grid-layout>
              </card-view>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['assessment'])">
            <label marginLeft="2" fontWeight="bold">Diagnosis:</label>
            <stack-layout v-for="(item, key) in encounter.medicalRecords['assessment']" :key="key">
              <card-view v-if="item.subtype === 'diagnosis'">
                <grid-layout padding="5">
                  <diagnosis-card :record="item" :tappable="false" horizontalAlignment="left"></diagnosis-card>
                </grid-layout>
              </card-view>
            </stack-layout>
          </stack-layout>
          
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['medical-procedure'])">
            <label marginLeft="2" fontWeight="bold">Procedure:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['medical-procedure']" :key="key">
              <grid-layout padding="5">
                <procedure-card :record="item" :tappable="false" horizontalAlignment="left"></procedure-card>
              </grid-layout>
            </card-view>
          </stack-layout>
          
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['imaging-test-order'])">
            <label marginLeft="2" fontWeight="bold">Imaging Test Order:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['imaging-test-order']" :key="key">
              <grid-layout padding="5">
                <diagnostic-order-card :record="item" isDisabled horizontalAlignment="left"></diagnostic-order-card>
              </grid-layout>
            </card-view>
          </stack-layout>
          
          <stack-layout marginBottom="10" v-if="$isObjEmpty(encounter.medicalRecords['lab-test-order'])">
            <label marginLeft="2" fontWeight="bold">Laboratory Test Order:</label>
            <card-view v-for="(item, key) in encounter.medicalRecords['lab-test-order']" :key="key">
              <grid-layout padding="5">
                <diagnostic-order-card :record="item" isDisabled horizontalAlignment="left"></diagnostic-order-card>
              </grid-layout>
            </card-view>
          </stack-layout>
          
          <!-- <label textWrap>Lab {{encounter.medicalRecords['lab-test-order']}}</label>
          <label textWrap>Imaging {{encounter.medicalRecords['imaging-test-order']}}</label>
          <label textWrap>{{encounter.medicalRecords}}</label> -->
        </stack-layout>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import allergyCard from '~/components/medical-records/medical-history/allergy/card';
  import birthHistoryCard from '~/components/medical-records/medical-history/birth-history/card';
  import familyHistoryCard from '~/components/medical-records/medical-history/family-history/card';
  import gynecologicalHistoryCard from '~/components/medical-records/medical-history/gynecological-history/card';
  import hospitalizationHistoryCard from '~/components/medical-records/medical-history/hospitalization-history/card';
  import menstrualHistoryCard from '~/components/medical-records/medical-history/menstrual-history/card';
  import obstetricHistoryCard from '~/components/medical-records/medical-history/obstetric-history/card';
  import pastMedicalHistoryCard from '~/components/medical-records/medical-history/past-medical-history/card';
  import socialHistoryCard from '~/components/medical-records/medical-history/social-history/card';
  import surgicalHistoryCard from '~/components/medical-records/medical-history/surgical-history/card';
  import vaccinationHistoryCard from '~/components/medical-records/medical-history/vaccination-history/card';
  import rosCard from '~/components/medical-records/ros/card';
  import carePlanCard from '~/components/medical-records/care-plan/card';
  import prescriptionCard from '~/components/medical-records/medication-order/card';
  import entNoteCard from '~/components/medical-records/specialty-features/ent/card';
  import obNoteCard from '~/components/medical-records/specialty-features/ob-gyn/card';
  import peCard from '~/components/medical-records/physical-exam/card';
  import impressionCard from '~/components/medical-records/impression/card';
  import diagnosisCard from '~/components/medical-records/diagnosis/card';
  import procedureCard from '~/components/medical-records/procedure/card';
  import diagnosticOrderCard from '~/components/medical-records/diagnostic-order/card';

  export default {
    components: {
      allergyCard,
      birthHistoryCard,
      familyHistoryCard,
      gynecologicalHistoryCard,
      hospitalizationHistoryCard,
      menstrualHistoryCard,
      obstetricHistoryCard,
      pastMedicalHistoryCard,
      socialHistoryCard,
      surgicalHistoryCard,
      vaccinationHistoryCard,
      rosCard,
      carePlanCard,
      prescriptionCard,
      entNoteCard,
      obNoteCard,
      peCard,
      impressionCard,
      diagnosisCard,
      procedureCard,
      diagnosticOrderCard
    },
    async created () {
      await this.init();
    },
    data () {
      return {
        loading: false
      }
    },
    computed: {
      ...mapGetters({
        selectedPatient: 'patient/selectedPatient',
        pastEncounters: 'encounter/pastEncounters'
      })
    },
    methods: {
      ...mapActions({
        getPastEncounters: 'encounter/getPastEncounters'
      }),
      async init () {
        try {
          this.loading = true;
          const patient = this.selectedPatient.id;
          await this.getPastEncounters(patient);
          this.loading = false;
        } catch (e) {
          this.loading = false;
          console.log(e);
          this.$showAlert('Something went wrong!', e.message);
        }
      }
    }
  }
</script>

<style scoped>
  .past-enc-container {
    padding-left: 20;
    padding-right: 20;
    min-height: 100%;
  }
</style>