<template>
  <stack-layout orientation="horizontal" class="main-container">
    <stack-layout orientation="vertical">
      <image class="clinic-logo" v-if="selectedPatient.picURL" :src="selectedPatient.picURL"/>
      <image class="clinic-logo" v-else src="~/assets/images/placeholder.png"/>
    </stack-layout>
    <stack-layout orientation="vertical" width="100%">
      <label fontSize="18">{{$parseName(selectedPatient.name)}}</label>
      <label fontSize="15">{{selectedPatient.sex}} • {{$parseAge(selectedPatient.dateOfBirth)}}</label>
      <label fontSize="15">Last visit: {{$formatDate(selectedPatient.lastVisitAt)}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    computed: {
      ...mapGetters({
        selectedPatient: 'patient/selectedPatient'
      })
    }
  }
</script>

<style scoped>
  .main-container {
    background-color: white;
    padding: 10;
  }

  .clinic-logo {
    width: 70;
    border-radius: 100%;
    margin-right: 10;
  }
</style>

