<template>
  <stack-layout padding="5" @tap="view">
    <label fontWeight="bold" marginBottom="5">ALLERGIES</label>
    <stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Allergy</label>
        <label fontSize="11" textWrap="true">{{record.name}}</label>
      </stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Date occured</label>
        <label fontSize="11" textWrap="true">{{$formatDate(record.startedAt, 'MMMM DD, YYYY')}}</label>
      </stack-layout>
      <stack-layout>
        <label fontWeight="bold" fontSize="10">Notes</label>
        <label fontSize="11">{{record.description}}</label>
      </stack-layout>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-allergy', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>