<template>
  <stack-layout minHeight="50" width="150" padding="5" @tap="view">
    <!-- <label fontWeight="bold" marginBottom="5">VITAL</label> -->
    <stack-layout>
      <label fontWeight="bold" fontSize="10">Impression</label>
      <label fontSize="11" textWrap>{{record.text || 'na'}}</label>
    </stack-layout>
  </stack-layout>
</template>

<script>
  export default {
    props: {
      record: Object,
      tappable: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      view () {
        if(!this.tappable) return;
        this.$nami.navigate('create-impression', {props: {record: this.record, isEdit: true}})
      }
    }
  }
</script>